<!-- <div class="row" >
    <div class="col-md-12 offset-md-12 mt-12" *ngIf="form">
        <h3>Edit profile </h3>
        <form #f="ngForm" novalidate *ngIf="!isSuccessful" name="form"
              (ngSubmit)="f.form.valid && changePassword()">

            
              <div class="form-group">
                <label for="changePassword">User ID</label>
                <input type="text"
                       name="id"
                      
                       [(ngModel)]="form.id"
                       required
                       #username="ngModel"
                       class="form-control"
                     
                      
                     >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">id is required</div>
                       
                      </div>
            </div>

            <div class="form-group">
                <label for="changePassword">User name</label>
                <input type="username"
             
                       name="username"
                       [(ngModel)]="form.username"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="username"
                   
                       >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">name is required</div>
                       
                      </div>
            </div>
            <div class="form-group">
                <label for="changePassword">User email</label>
                <input type="email"
            
                       name="email"
                       [(ngModel)]="form.email"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="email"
                      
                      >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">email is required</div>
                       
                      </div>
            </div>

            <div class="form-group">
                <label for="changePassword"> Password</label>
                <input type="password"
              
                       name="password"
                       [(ngModel)]="form.password"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="password"
                     
                     >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">password is required</div>
                       
                      </div>
            </div>
           
            <div class="form-group">
                <label for="changePassword"> phoneNumber</label>
                <input type="phoneNumber"
               
                       name="phoneNumber"
                       [(ngModel)]="form.phoneNumber"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="phoneNumber"
                     
                       >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">phoneNumber is required</div>
                       
                      </div>
            </div>





            <button type="submit"  class="btn btn-primary">Update <i class="fas fa-save"></i></button>
                    <div class="alert alert-warning" 
                    *ngIf="f.submitted && errorMessage">
                        Updating username failed!
                      </div>
                </form>
        <div class="alert alert-success" *ngIf="sucessmessage">
            Your profile is Updated! 
            
          </div>


    </div>
</div> -->


<div class="container bootstrap snippets bootdey" style="margin-top: 50px;margin-left: 300px;width: 1000px;
background-color: #a8b5e9cf;">
  <div style="text-align: center;padding-top: 10px;">
    <h1 class="text-primary">
      <span class="glyphicon glyphicon-user">
        Edit Profile
      </span>
    </h1>
  </div>
    <hr>
<div class="row" *ngIf="form" style=" margin-bottom: 180px;">
    <!-- left column -->
    <div class="col-md-3">

      <div class="user-image">
     <div *ngIf="!userretrievedImage; else block">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"   class="profile-photo-lg rounded-circle"
          style="margin-left:50px;margin-top:20px;margin-bottom:20px ;width:180px;height:165px">
        </div>
        
        <ng-template #block>
          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ userretrievedImage}}" 
          alt="user"   class="profile-photo-lg rounded-circle"
          style="margin-left:50px;margin-top:20px;margin-bottom:20px ;width:180px;height:165px">
        </ng-template>
    </div>

    <div class="container row" style="padding-top:10px">
      <div class="col-md-12">
          <input type="file" accept="image/x-png,image/gif,image/jpeg"  (change)="selectFile($event)" >
  
      </div>
  </div>
  <div style="text-align: center;padding: 8px;font-size: 15px;margin-bottom: 20px;">
    <!-- <input type="button" (click)="onUpload()" value="upload"> -->
    <!-- <input type="button" (click)="onUpdate()" value="update"> -->
    </div> 
    </div>
    
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <!-- <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div> -->
      <h3>Personal info</h3>
      
      
      <form class="form-horizontal" role="form"  #f="ngForm" 
      novalidate  name="form"
      (ngSubmit)="f.form.valid && updateUserInfo()" >
        <div class="form-group">
          <label class="col-lg-3 control-label"  >Name:</label>
          <div class="col-lg-8">
            <input class="form-control" 
                  type="username"  
                  name="username"
                  [(ngModel)]="form.username"
                  required
                  #username="ngModel"
                  class="form-control"
                  id="username">
          </div>
        </div>
     
     
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" 
                    type="email"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    #username="ngModel"
                    class="form-control"
                    id="email">
          </div>
          <div class="alert-danger" *ngIf= "f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Email is required</div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label">PhoneNumber:</label>
          <div class="col-lg-8">
            <input class="form-control" 
                    type="phoneNumber" 
                    name="phoneNumber"
                    [(ngModel)]="form.phoneNumber"
                    required
                    #username="ngModel"
                    class="form-control"
                    id="phoneNumber">
          </div>
          <div class="alert-danger" *ngIf= "f.submitted && username.invalid">
            <div *ngIf="username.errors.required">PhoneNumber is required</div>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button type="submit"  class="btn btn-primary" >Save Changes <i class="fas fa-save"></i></button>
            <!-- <div class="alert alert-warning" 
            *ngIf="!isSuccessful">
                Updating username failed!
               </div> -->
          </div>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="sucessmessage">
        Your profile is Updated successfully! 
      </div>
    </div>
</div>
</div>



<!-- 
<div class="container rounded bg-white mt-5">
  <div class="row">
      <div class="col-md-4 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="https://i.imgur.com/0eg0aG0.jpg" width="90"><span class="font-weight-bold">John Doe</span><span class="text-black-50">john_doe12@bbb.com</span><span>United States</span></div>
      </div>
      <div class="col-md-8">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                      <h6>Back to home</h6>
                  </div>
                  <h6 class="text-right">Edit Profile</h6>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><input type="text" class="form-control" placeholder="first name" value="John"></div>
                  <div class="col-md-6"><input type="text" class="form-control" value="Doe" placeholder="Doe"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" value="john_doe12@bbb.com"></div>
                  <div class="col-md-6"><input type="text" class="form-control" value="+19685969668" placeholder="Phone number"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><input type="text" class="form-control" placeholder="address" value="D-113, right avenue block, CA,USA"></div>
                  <div class="col-md-6"><input type="text" class="form-control" value="USA" placeholder="Country"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><input type="text" class="form-control" placeholder="Bank Name" value="Bank of America"></div>
                  <div class="col-md-6"><input type="text" class="form-control" value="043958409584095" placeholder="Account Number"></div>
              </div>
              <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
          </div>
      </div>
  </div>
</div> -->



 
<!-- <div class="container row">
  <div class="col-md-7"> 
  <div *ngIf= showimage>
    <img src="assets/image/avatar.png" class="profile-photo-lg rounded-circle" alt="avatar"style="margin:20px;width:120px;"> 
    <h6>Upload a different photo...</h6>
    <input type="file" class="text-center center-block file-upload"> 
     

    <div style="text-align: center;padding-top: 10px;font-size: 15px;">
      <input type="button" (click)="onUpdate()" value="update">
      </div>
      <div class="container row">
      <div class="col-md-12">
          <input type="button" (click)="onUpload()" value="upload"> 
      </div> 
   </div> -->