<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="row mt-2 mb-2">
    <div class="heading">Goal Manager</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2 class="pl-3">Goal Name</h2>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && AddGoal(f)">
          <input type="text" class="form-control goalName" id="goalName" #goalName="ngModel" required
            [(ngModel)]="goal.goalName" placeholder="Enter Goal Name" name="goalName" (ngModelChange)="errorMessage=null">
          <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
            {{errorMessage}}
          </div>
          <div class="alert-danger" *ngIf="f.submitted">
            <div *ngIf="goalName.touched && goalName.errors">
              *Goal required
            </div>
          </div>
          <textarea class="form-control mt-2 description" id="description" #description="ngModel"
            placeholder="Enter Description" [(ngModel)]="goal.description" name="description"></textarea>
          <div class="mt-3 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-add pl-2 pr-2">Add</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"></div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-2">
            <span class="text-left goal-cat">Goals</span>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
            <div class="form-group">
              <input type="text" class="form-control" required (keyup)="changetestValue($event)"
                placeholder="Search Goals" name="goalName">
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let goal of goallist | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
                id="tr_row">
                <td class="col-6 col-sm-6 col-md-6 col-lg-7 col-xl-7" style="cursor:pointer" (click)="getGoalid(goal,i)">
                  <a class="text" style="color:#3f51b5;" *ngIf="!enableEdit || currentgoalid != goal.goalId"
                    ngbTooltip="{{goal.description}}" [class.hide]="enableEdit && enableEditIndex == i">
                    {{goal.goalName}} </a>
                  <input class="form-control" id="goalName" name="goalName" *ngIf="enableEdit && enableEditIndex == i"
                    type="text" [(ngModel)]="currentgoalname" />
                  <div class="alert-danger"
                    *ngIf="!isSuccessful && goalName.errors.required && enableEdit && enableEditIndex == i">
                    *Goal required || Goal already exists
                  </div>
                </td>
                <td>
                  <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn std" title="Save"
                    (click)="editGoal(currentgoalid,currentgoalname)" type="submit">Save</button>
                  <div *ngIf="!enableEdit || currentgoalid != goal.goalId" title="Edit"
                    (click)="enableEditMethod(goal, i)" class="btn-3">
                    <span class="oi oi-pencil" style="cursor: pointer;"></span>
                  </div>
                </td>
                <!-- <td>
                  <div class="fa fa-share-alt pt-1" data-toggle="modal" data-target="#shareModal" title="Share"
                    style="font-size: 16px;cursor: pointer;" (click)="showGoalShareModal(goal)"></div>
                  <div class="modal fade" id="shareModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select Access
                            Type</h4>
                          <button type="button" class="close" style="color: brown;" data-dismiss="modal"
                            (click)="hide()">&times;</button>
                        </div>
                        <div class="modal-body">
                          <form name="form" #fshare="ngForm" (ngSubmit)="shareGoalName(goalId)">
                            <div class="row">
                              <div class="col-4">
                                <label>Access Type</label>
                              </div>
                              <div class="col-5">
                                <select (change)="onchangeGoalAccessType($event.target.value)" class="form-control"
                                  id="accessType" required>
                                  <option>--Select--</option>
                                  <option>Private</option>
                                  <option>Public</option>
                                  <option>MyChain</option>
                                </select>
                              </div>
                            </div>
                          </form>
                          <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" data-dismiss="modal" class="btn btn-prime" (click)="shareGoalName(goalId)"
                            [disabled]=!fshare.form.valid>share</button>
                          <button type="button" class="btn btn-primes" data-dismiss="modal"
                            (click)="hide()">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td> -->
                <td>
                  <!-- The Modal -->
                  <div data-toggle="modal" data-target="#mydelGoalModal" title="Delete" (click)="showdelGoalModal(goal)" class="btn-3">
                    <span class="oi oi-trash" style="background-color: #509ef1;"></span>
                  </div>
                  <div class="modal fade" id="mydelGoalModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body">
                          Are you sure want to delete the goal? &nbsp;&nbsp;
                          <button (click)="deleteGoal()" data-dismiss="modal" class="btn std m-2">Yes</button>
                          <button type="button" class="btn std m-2" data-dismiss="modal"
                            (click)="hideModal()">No</button>
                          <button type="button" id="close-modal" data-dismiss="modal" style="display: none">No</button>
                        </div>
                        <!-- Modal footer -->
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="!goallist.length">
                <div class="alert-danger" style="display:flex;flex-direction:row;justify-content:center;">
                  No Data Found
                </div>
              </tr>
            </tbody>
          </table>
          <div class="col-12 fright">
            <pagination-controls (pageChange)="p = $event" class="float-right mr-3"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12">
            <h2 class="goal-cat">{{goalNameselected}}</h2>
          </div>
        </div>
        <div class="row text-center mb-4"  *ngIf="!goallist.length">
          <div class="alert-danger mt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto text-center">
            No Data Found
          </div>
        </div>
        <nav style="margin-right: 20px;" *ngIf="goallist.length>0">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-step-tab" data-toggle="tab" href="#nav-step" role="tab"
              aria-controls="nav-step" aria-selected="true">Steps</a>
            <a class="nav-item nav-link " id="nav-skill-tab" data-toggle="tab" href="#nav-skill" role="tab"
              aria-controls="nav-skill" aria-selected="false">Skills</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" *ngIf="goallist.length>0">
          <div class="tab-pane fade show active" id="nav-step" role="tabpanel" aria-labelledby="nav-step-tab">
            <form name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && AddStep(fl)">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #stepName="ngModel" id="stepName" placeholder="Enter step"
                      required [(ngModel)]="step.stepName" name="stepName" (ngModelChange)="errorMessage=null">
                    <div *ngIf="goalerrorMessage && !goalisSuccessful" class="alert-danger">{{goalerrorMessage}}</div>
                    <div *ngIf="!stepisSuccessful && fl.submitted && errorMessage" class="alert-danger">
                      {{errorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="fl.submitted && stepName.invalid">
                      <div *ngIf="stepName.errors.required ">
                        *Step required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-add" type="submit">Add step</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="steplistVisible">
              <div class="col-10">
                <div class="card border-0">
                  <div *ngFor="let steps of steplist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" (click)="getStepid(step,id)" style="padding:10px ;border:1px solid #86b2fb;background-color: rgb(119 102 253 / 15%);">
                      <div class="row mt-1">
                        <div class="col-9">
                          <a style="color:#3f51b5;font-size:18px;"
                            *ngIf="!enablestepEdit || currentstepid != steps.stepId" title="{{step.stepName}}"
                            [class.hide]="enablestepEdit && enablestepEditIndex == id">
                            {{steps.stepName}}</a>
                          <input class="col-12 form-control1" id="stepName" name="stepName"
                            *ngIf="enablestepEdit && enablestepEditIndex == id" type="text"
                            [(ngModel)]="currentstepname" />
                          <div class="alert-danger"
                            *ngIf="!isSuccessful && stepName.errors.required && enablestepEdit && enablestepEditIndex == id">
                            *step required || step already taken
                          </div>
                        </div>
                        <div class="col-3">
                          <button class="btn-step right" *ngIf="!enablestepEdit || currentstepid != steps.stepId"
                            title="Edit" (click)="enablestepEditMethod(steps, id)">
                            <span class="oi oi-pencil" style="color: #fff;"></span>
                          </button>
                          <button *ngIf="enablestepEdit && enablestepEditIndex == id" id="saveBtn"
                            class="btn link-butto" title="Save" (click)="editStep(currentstepid,currentstepname)"
                            type="submit">Save</button>
                          <button type="button" class="btn-step ml-3 right" style="color:#fff;background-color: #509ef1;"
                            data-toggle="modal" data-target="#mydelStepModal" (click)="showdelStepModal(steps)">
                            <span class="oi oi-trash"></span>
                          </button> 
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="modal fade" id="mydelStepModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the step?
                              <button (click)="deletestep()" data-dismiss="modal" style="background-color:#509ef1;color: white;"
                                class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3" (click)="hideModal()" style="background-color:#509ef1;color: white;"
                                id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="close-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                        <form name="form" #ff="ngForm"
                          (ngSubmit)="ff.form.valid && AddstepLink(steps.stepId,steplink.value,id,steps.goalId)">
                          <div class="row mt-2">
                            <div class="col-9">
                              <div class="form-group">
                                <input type="url" class="form-control" placeholder="Step Link" id="steplink.value"
                                  required #steplink name="steplink" required ngModal>
                                  <div *ngIf="ff.submitted && !linkisSuccessful" class="alert-danger">
                                    {{errorMessage}}
                                  </div>
                                <div class="alert-danger" *ngIf="ff.submitted && steplink.invalid">
                                  <div *ngIf="steplink.errors.required ">
                                    *Link required
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <button class="btn btn-add" type="submit" [disabled]=!ff.form.valid>Add</button>
                            </div>
                          </div>
                        </form>
                        <div style="border: solid;background-color:#e6e6fa;">
                          <div *ngFor="let steplinks of steps.stepLink let id = index">
                            <div class="col-11"
                              style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                              <a target="_blank" href="{{steplinks.steplink}}">{{steplinks.steplink}}</a>
                            </div>
                            <div class="card-body" style="padding:5px;background-color:#7086d9">
                              <button type="button" class="fa fa fa-comments link-butto" title="Add keypoints"
                                data-target="#myModal" style="color:rgb(255, 255, 255)" data-toggle="modal"
                                (click)="onSelectKeypoint(steplinks)">
                              </button>
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      <form name="form" #fAddKey="ngForm"
                                        (ngSubmit)="fAddKey.form.valid && AddstepKeypoint(steplinks.steplinkId,steplinks.stepId,steplinks.goalId,fAddKey)">
                                        <div class="row">
                                          <div class="col-8">
                                            <div class="form-group">
                                              <input type="text" class="form-control" rows="3" placeholder="Key keypoints"
                                                type="text" class="form-control" id="keypoints" #keypoints="ngModel"
                                                required [(ngModel)]="stepkeypoint.keypoints" name="keypoints">
                                            </div>
                                            <div class="alert-danger" *ngIf="fAddKey.submitted && keypoints.invalid">
                                              <div *ngIf="keypoints.errors.required ">
                                                *Key points required
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-2">
                                            <button type="submit" class="btn std">Add</button>
                                          </div>
                                          <div class="footer">
                                            <button type="button" class="btn std" data-dismiss="modal"
                                              (click)="hide()">Close</button>
                                            <button type="button" id="close-modal" data-dismiss="modal"
                                              style="display: none">No</button>
                                          </div>
                                        </div>
                                      </form>
                                      <div *ngIf="iskeySuccessful" class="alert alert-success">{{sucessmessage}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <button type="button" class="fa fa-share-alt link-butto" data-toggle="modal"
                                data-target="#stepsshareModal" title="Share" style="font-size: 16px;color:#fff"
                                (click)="showstepsShareModal(steplinks)"></button>
                              <div class="modal fade" id="stepsshareModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">
                                        Select Access Type</h4>
                                      <!-- <button type="button" class="close" style="color: brown;" data-dismiss="modal"
                                        (click)="hide()">&times;</button> -->
                                    </div>
                                    <div class="modal-body">
                                      <form name="form" #fshare="ngForm" (ngSubmit)="sharestep(steplinkId,fshare)">
                                        <div class="row">
                                          <div class="col-4">
                                            <label>Access Type</label>
                                          </div>
                                          <div class="col-5">
                                            <select id="accessType" class="form-control"
                                                    (change)="onchangeAccessType($event.target.value)" name="select">
                                              <option selected disabled *ngIf="!sharesteplink.accessType">--Select--</option>
                                              <option >Public</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="text-danger mt-2" *ngIf="fshare.submitted && !sharesteplink.accessType &&!isSuccessful">
                                          *Select Access Type
                                        </div>
                                          <div class="modal-footer">
                                            <button type="submit" class="btn std">
                                              share
                                            </button>
                                            <button type="button" class="btn std ml-2" data-dismiss="modal" id="shareclose">
                                              Close
                                            </button>
                                          </div>
                                      </form>
                                    </div>                                  
                                  </div>
                                </div>
                              </div>
                              <button type="button" class="fa fa-trash-o link-butto" style="font-size: 16px;"
                                data-toggle="modal" data-target="#mystepdelModal" (click)="showstepModal(steplinks)"
                                title="Delete">
                              </button>
                              <div class="modal fade" id="mystepdelModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      Are you sure want to delete the link?
                                      <button (click)="deletesteplink()" data-dismiss="modal" class="btn std m-2">Yes
                                      </button>
                                      <button type="button" class="btn std m-2" data-dismiss="modal"
                                        (click)="hideModal()">No</button>
                                      <button type="button" id="close-modal" data-dismiss="modal"
                                        style="display: none">No</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <button *ngIf="steplinks.steplinkId!=showKeypointIndex" type="button" type="button"
                                class="button link-butto" style="padding: 2px 7px;" placement="top"
                                (click)="opencommentstoggle(steplinks,steplinks.steplinkId)" title="View Comments">>>
                              </button>
                              <button *ngIf="steplinks.steplinkId==showKeypointIndex" type="button"
                                class="button link-butto" style="padding: 2px 7px;" placement="top"
                                title="Close Comments" (click)="closecommentstoggle(steplinks,steplinks.steplinkId)">
                                << </button>
                                  <div *ngIf="steplinks.steplinkId==showKeypointIndex">
                                    <div class="card card-body"
                                      style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                      <div>
                                        <div class="row">
                                          <div class="col-12">
                                            <tr *ngFor="let keypoint of KeypointList let id = index">
                                              <td class="col-10" style="color:black">
                                                <span>{{keypoint.keypoints}}</span>
                                              </td>
                                              <td>
                                                <button class="btn " class="btn-3" data-toggle="modal"
                                                  data-target="#myEditKeyPointModal" (click)="showEditKeyModal(keypoint)">
                                                  <span class="oi oi-pencil"></span>
                                                </button>
                                                <div class="modal fade" id="myEditKeyPointModal">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <!-- <button type="button" class="close" data-dismiss="modal"
                                                        (click)="hide()">&times;</button> -->
                                                      <div class="modal-body">
                                                        <form name="form" #fEdit="ngForm"
                                                          (ngSubmit)="fEdit.submitted && EditstepKeypoint(editComment)">
                                                          <div class="row">
                                                            <div class="col-8">
                                                              <div class="form-group">
                                                                <input type="text" class="form-control" rows="3"
                                                                  placeholder="Key points" type="text"
                                                                  class="form-control" id="keyComments"
                                                                  #keyComments="ngModel" required
                                                                  [(ngModel)]="editComment" name="keyComments">
                                                              </div>
                                                              <div class="alert-danger"
                                                                *ngIf="fEdit.submitted && keyComments.invalid">
                                                                <div *ngIf="keyComments.errors.required ">
                                                                  *Key points required
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div>
                                                              <button type="submit" data-dismiss="modal"
                                                                (click)="prevent(editComment)"
                                                                class="btn std">Add</button>
                                                                <button type="button" id="stepkeymodal" data-dismiss="modal" class="btn std ml-2" >
                                                                  Close
                                                                </button>
                                                            </div>
                                                          </div>
                                                        </form>
                                                        <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </td>
                                              <td>
                                                <button type="button" class="btn " class="btn-3"
                                                  data-toggle="modal" data-target="#mydelKeypointModal"
                                                  (click)="showdelKeyModal(keypoint)">
                                                  <span class="oi oi-trash"></span>
                                                </button>
                                                <div class="modal fade" id="mydelKeypointModal">
                                                  <div class="modal-dialog">
                                                    <div class="modal-content">
                                                      <div class="modal-body">
                                                        Are you sure want to delete the keypoints?
                                                        <button (click)="deletestepKeypoint()" data-dismiss="modal"
                                                          class="btn std m-2">Yes
                                                        </button>
                                                        <button type="button" class="btn std m-2" (click)="hideModal()"
                                                          id="close-modal" data-dismiss="modal">No</button>
                                                        <button type="button" id="close-modal" data-dismiss="modal"
                                                          style="display: none;">Close</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---SKILL TAB-->
          <div class="tab-pane fade" id="nav-skill" role="tabpanel" aria-labelledby="nav-skill-tab">
            <form name="form" #f2="ngForm" (ngSubmit)="f2.form.valid && AddSkill(f2)">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #skillName="ngModel" id="skillName"
                      placeholder="Enter Skill" required [(ngModel)]="skill.skillName" name="skillName">
                    <div *ngIf="!skillisSuccessful && f.submitted" class="alert-danger">
                      {{errorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="f2.submitted && skillName.invalid">
                      <div *ngIf="skillName.errors.required ">
                        *Skill required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-add" type="submit">Add skill</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="skilllistVisible">
              <div class="col-10">
                <div class="card border-0">
                  <tr *ngFor="let skills of skilllist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" style="padding:10px ;border:1px solid #86b2fb;cursor:pointer;background-color: rgb(119 102 253 / 15%);"
                      (click)="getSkillid(skill,id)">
                      <div class="row mt-1">
                        <div class="col-9">
                          <a style="color:#3f51b5;font-size:18px;"
                            *ngIf="!enableskillEdit || currentskillid != skills.skillId" title="{{step.stepName}}"
                            [class.hide]="enableskillEdit && enableskillEditIndex == id">
                            {{skills.skillName}}</a>
                          <input class="col-12 form-control1" id="skillName" name="skillName"
                            *ngIf="enableskillEdit && enableskillEditIndex == id" type="text"
                            [(ngModel)]="currentskillname" />
                          <div class="alert-danger"
                            *ngIf="!isSuccessful && skillName.errors.required && enableskillEdit && enableskillEditIndex == id">
                            *skill required
                          </div>
                        </div>
                        <div class="col-3">
                          <button class="btn-step right"
                            *ngIf="!enableskillEdit || currentskillid != skills.skillId" title="Edit"
                            (click)="enableskillEditMethod(skills, id)"><span class="oi oi-pencil"
                              style="color: #fff;"></span>
                          </button>
                          <button *ngIf="enableskillEdit && enableskillEditIndex == id" id="saveBtn"
                            class="btn right border link-butto" title="Save"
                            (click)="editSkill(currentskillid,currentskillname)" type="submit">
                            Save
                          </button>
                          <button type="button" class="btn-step ml-3 right" style="color:#fff;background-color: #509ef1;"
                            data-toggle="modal" data-target="#mydelSkillModal" (click)="showdelSkillModal(skills)">
                            <span class="oi oi-trash"></span>
                          </button> 
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="modal fade" id="mydelSkillModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the skill?
                              <button (click)="deleteskill()" data-dismiss="modal" style="background-color:#509ef1;color: white;"
                                class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3" (click)="hideModal()" style="background-color:#509ef1;color: white;"
                                id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="skill-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form name="form" #ff1="ngForm"
                        (ngSubmit)="ff1.form.valid && AddskillLink(skills.skillId,skilllink.value,id,skills.goalId)">
                        <div class="row mt-2">
                          <div class="col-9">
                            <div class="form-group">
                              <input type="url" class="form-control" placeholder="Enter Link" id=skilllink.value
                                required #skilllink name="skilllink" required ngModal>
                                <div *ngIf="ff1.submitted && !isSuccessful" class="alert-danger">
                                  {{errorMessage}}
                                </div>
                              <div class="alert-danger" *ngIf="ff1.submitted && skilllink.invalid">
                                <div *ngIf="skilllink.errors.required ">
                                  *Link required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-3">
                            <button class="btn link-butto" type="submit">Add</button>
                          </div>
                        </div>
                      </form>
                      <div style="border: solid;background-color:#e6e6fa;">
                        <div *ngFor="let skilllinks of skills.skillLink let id = index">
                          <div class="col-11"
                            style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                            <a target="_blank" href="{{skilllinks.skilllink}}">{{skilllinks.skilllink}}</a>
                          </div>
                          <div class="card-body" style="padding:5px;background-color:#7086d9">
                            <button type="button" class="fa fa-comments link-butto" title="Add keypoints"
                              (click)="onSelectskillKeypoint(skilllinks)">
                              <span style="color:rgb(255, 255, 255)" data-toggle="modal"
                                style="color:rgb(255, 255, 255)">
                              </span>
                            </button>
                            <div class="modal fade" id="mykeyModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #f1AddKey="ngForm"
                                      (ngSubmit)="f1AddKey.form.valid 
                                          &&  Addskillkeypoints(skilllinks.skilllinkId,skilllinks.skillId,skilllinks.goalId,f1AddKey)">
                                      <div class="row">
                                        <div class="col-8">
                                          <div class="form-group">
                                            <input type="text" class="form-control" rows="3" placeholder="Key keypoints"
                                              type="text" class="form-control" id="keypoints" #keypoints="ngModel"
                                              required [(ngModel)]="skillkeypoint.keypoints" name="keypoints">
                                          </div>
                                          <div class="alert-danger" *ngIf="f1AddKey.submitted && keypoints.invalid">
                                            <div *ngIf="keypoints.errors.required ">
                                              *Keypoints required
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-2">
                                          <button type="submit" class="btn std">Add</button>
                                        </div>
                                        <div class="footer">
                                          <button type="button" class="btn std" data-dismiss="modal"
                                            (click)="hide()">Close</button>
                                          <button type="button" id="skillKeypoint-close-btn" data-dismiss="modal"
                                            style="display: none">No</button>
                                        </div>
                                      </div>
                                    </form>
                                    <div *ngIf="iskeySuccessful" class="alert alert-success">{{sucessmessage}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-share-alt link-butto" data-toggle="modal"
                              data-target="#skillshareModal" title="Share" style="font-size: 16px;"
                              (click)="showskillShareModal(skilllinks)"></button>
                            <div class="modal fade" id="skillshareModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #f1share="ngForm" (ngSubmit)="shareskill(skilllinkId,f1share)">
                                      <div class="row">
                                        <div class="col-4">
                                          <label>Access Type</label>
                                        </div>
                                        <div class="col-5">
                                          <select id="accessType" class="form-control"
                                            (change)="onchangeAccessType($event.target.value)" name="select">
                                            <option selected disabled *ngIf="!shareskilllink.accessType">--Select--</option>
                                            <option>Public</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="text-danger mt-2" *ngIf="f1share.submitted && !shareskilllink.accessType &&!isSuccessful">
                                        *Select Access Type
                                      </div>
                                        <div class="modal-footer">
                                          <button type="submit" class="btn std"
                                            >share</button>
                                            <button type="button" class="btn std ml-2" data-dismiss="modal" id="sharedclose">
                                              Close
                                            </button>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-trash-o link-butto" style="font-size: 16px;"
                              data-toggle="modal" data-target="#myskilldelModal" (click)="showskillModal(skilllinks)"
                              title="Delete">
                            </button>
                            <div class="modal fade" id="myskilldelModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    Are you sure want to delete the link?
                                    <button (click)="deleteskilllink()" data-dismiss="modal"
                                      class="btn std">Yes</button>
                                    <button type="button" class="btn std m-2" data-dismiss="modal"
                                      (click)="hideModal()">No</button>
                                    <button type="button" id="close-modal" data-dismiss="modal"
                                      style="display: none">No</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button *ngIf="skilllinks.skilllinkId!=showskillKeypointIndex" type="button" type="button"
                              class="button link-butto" style="padding: 2px 7px;" placement="top"
                              (click)="openskillcommentstoggle(skilllinks,skilllinks.skilllinkId)"
                              title="View Comments">
                              >>
                            </button>
                            <button *ngIf="skilllinks.skilllinkId==showskillKeypointIndex" type="button" type="button"
                              class="button link-butto" style="padding: 2px 7px;" placement="top"
                              (click)="closeskillcommentstoggle(skilllinks,skilllinks.skilllinkId)"
                              title="View Comments">
                              << 
                            </button>
                                <div *ngIf="skilllinks.skilllinkId==showskillKeypointIndex">
                                  <div class="card card-body"
                                    style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                    <div>
                                      <div class="row">
                                        <div class="col-12">
                                          <tr *ngFor="let skillkeypoint of SkillKeypointList let id = index">
                                            <td class="col-10" style="color:black">
                                              <span>{{skillkeypoint.keypoints}}</span>
                                            </td>
                                            <td>
                                              <button class="btn " class="button btn-3" data-toggle="modal"
                                                data-target="#myskillEditKeyPointModal" (click)="showskillEditKeyModal(skillkeypoint)">
                                                <span class="oi oi-pencil"></span>
                                              </button>
                                              <div class="modal fade" id="myskillEditKeyPointModal">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <!-- <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button> -->
                                                    <div class="modal-body">
                                                      <form name="form" #f1Edit="ngForm"
                                                        (ngSubmit)="f1Edit.submitted && EditskillKeypoint(editSkillkeypoints)">
                                                        <div class="row">
                                                          <div class="col-8">
                                                            <div class="form-group">
                                                              <input type="text" class="form-control" rows="3" placeholder="Key points"
                                                                type="text" class="form-control" id="keypoints" #keypoints="ngModel" required
                                                                [(ngModel)]="editSkillkeypoints" name="keypoints">
                                                            </div>
                                                            <div class="alert-danger" *ngIf="f1Edit.submitted && keypoints.invalid">
                                                              <div *ngIf="keypoints.errors.required ">
                                                                *Key points required
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-2">
                                                            <button type="submit" data-dismiss="modal"
                                                              (click)="skillprevent(editSkillkeypoints)"
                                                              class="btn std">Add</button>
                                                          </div>
                                                        </div>
                                                      </form>
                                                      <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </td>
                                            <td>
                                              <button type="button" class="btn " class="btn-3" data-toggle="modal"
                                                data-target="#myskilldelKeypointModal" (click)="showskilldelKeyModal(skillkeypoint)">
                                                <span class="oi oi-trash"></span>
                                              </button>
                                              <div class="modal fade" id="myskilldelKeypointModal">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-body">
                                                      Are you sure want to delete the keypoints?
                                                      <button (click)="deleteKeypoint()" data-dismiss="modal" class="btn std m-2">Yes
                                                      </button>
                                                      <button type="button" class="btn std m-2" (click)="hideModal()" id="close-modal"
                                                        data-dismiss="modal">No</button>
                                                      <button type="button" id="close-modal" data-dismiss="modal"
                                                        style="display: none;">Close</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                        </div>
                                      </div>
                                    </div>
                                </div>
        </div>
      </div>


    </div>
                      </div>
                    </div>
                  </tr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bgColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>