<!DOCTYPE html>
<html>
<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
 .text {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fa-share-alt:before {
    content: "\f1e0";
    padding-right: 5px;
}
.fa-share-alt:after {
  font-size: 15px;
}
</style>
</head>
<body>
   
  <div class="topnav" style="margin-top: 20px;">
    <span style="font-family: Arial, Helvetica, sans-serif;font-size:xx-large;color:black">Challenge Manager</span>
    
  </div>
 
  <div class="row">
  <div class="left col-6 " style="background-color:#e6e6fa">
    <!-- <div style="background-color:#73d5d0; border-color:brown ;border-style:solid "> -->
    <h2 class="pl-3">Topic Name</h2>
    
         <form  name="form" #f="ngForm" (ngSubmit)="f.form.valid">
    <div class="row">
      <div class="col-7">
        <div class="form-group pl-3">   
          
         <input type="text" 
         class="form-control"
          id="challengeName"   
           #challengeName="ngModel" 
          required
          [(ngModel)]="challenge.challengeName"
          placeholder="Enter Topic Name"
          name="challengeName">
          <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
            {{errorMessage}}
          </div>
          <div class="alert-danger" *ngIf="f.submitted && challengeName.invalid">
            <div *ngIf="challengeName.errors.required ">
              *Topics required
            </div>
            
          </div>
        
        </div>

             
      </div>

      
        
        
          <div class="form-group">
            <div class="row"> 
              <div class="col-4">
                <span class="text-left"><h2 class="pl-3">Description</h2></span>
              </div>
              <div class="col-6">
                <div class="form-group pr-4"> 
                  <textarea class="form-control" id="description" #description="ngModel" 
                  placeholder="Enter Description"
                  required
                  [(ngModel)]="challenge.description" name="description"></textarea>
                </div>
              </div>
            </div>
          </div>
 
        <div class="col-4">
      
                  <button type="submit" class="btn btn-prime" (click)="AddTopic()" [disabled]=!f.form.valid >Add Challenge</button>
  
      </div>
    
    
  </div>
         
          </form>
          <!-- </div> -->
                     <br/>

        <div class="form-group">
          <div class="row"> 
            <div class="col-6">
              <span class="text-left"><h2 class="pl-3">Topics</h2></span>
            </div>
          
          <!-- <div class="row"> -->
            <div class="col-6">
              <div class="form-group pr-4"> 
                <input type="text" 
                class="form-control"
                  required   (keyup)="changetestValue($event)"
                  placeholder="Search Topics"
                  name="challengeName">
              </div>
            </div>
            <!-- <div class="col-4">
              <button type="submit" class="btn btn-primary" (click)="findByBookmarkName()">
                <i class="fa fa-search"style="border-right: 0; margin-right: 0; background-color: #3f51b5;"></i></button>
            </div> -->
          </div>
              <table  class="table table-hover " id="bookmarktbl">
                <thead>
              </thead>
                <tbody>

                <tr 
                *ngFor="let challenge of challengelist | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;" id="tr_row"
                
                >
                <td class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="cursor:pointer" (click)="getChallengeid(challenge,i)">
                     <a class="text" style="color:#3f51b5;" *ngIf="!enableEdit || currentchallengeid != challenge.challengeId" title="{{challenge.description}}" [class.hide]="enableEdit && enableEditIndex == i">
                    {{challenge.challengeName}} </a> 
                   
                    <input  class="form-control" 
                    id="challengeName" name="challengeName"
                    *ngIf="enableEdit && enableEditIndex == i"
                    type="text" [(ngModel)]="currentchallengename" 
                     />
                     <div class="alert-danger" 
                     *ngIf="!isSuccessful && challengeName.errors.required && enableEdit && enableEditIndex == i">
                     
                        *Topics required
                     
                      </div>
                  </td>
                  <td >
                    <button *ngIf="enableEdit && enableEditIndex == i"
                    id="saveBtn" class="btn page-primary-action-btn" title="Save"
                    (click)="editChallenge(currentchallengeid,currentchallengename)" 
                    type="submit" >Save</button>

                    <button class="btn-3" *ngIf="!enableEdit || currentchallengeid != challenge.challengeId" title="Edit"
                    (click)="enableEditMethod(challenge, i)">
                      <span class="oi oi-pencil"></span>
                    </button>        
                 
            </td>
            <td class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            
                  <!-- The Modal -->

              <button type="button"
              class="btn btn-danger btn-sm" data-toggle="modal" data-target="#mydelChallengeModal" title="Delete"
                (click)="showdelChallengeModal(challenge)"  >
               <span class="oi oi-trash"></span></button>
               <div class="modal fade" id="mydelChallengeModal" >
                 <div class="modal-dialog">
                   <div class="modal-content">
                  
                     <!-- Modal Header -->
                     <!-- <div class="modal-header">
                       <h4 class="modal-title">Delete Confirmation</h4>
                       <button type="button" class="close" (click)="hideModal()">&times;</button>
                     </div> -->
               
                     <!-- Modal body -->
                     <div class="modal-body">
                     
             
                       Are you sure want to delete this topic?
                       <button   (click)="deleteChallenge()"
                       class="button button4">Yes
                        </button>
                         <button type="button" class="button button4" (click)="hideModal()">Close</button>
                     
                       <button type="button" id="close-modal" data-dismiss="modal" 
                       style="display: none">No</button>
                     </div>
               
                     <!-- Modal footer -->
                     
                   </div>
                 </div>
               </div>

               
              
       </td>
                </tr>
                </tbody>
              </table>
               
              <pagination-controls (pageChange)="p = $event" class="float-right mr-3"></pagination-controls>
              <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-spin-clockwise">
                <p style="color: white" > Loading... </p>
                </ngx-spinner>
              
            </div>
  </div>
  <div class="row">
    <div class="left" style="background-color:white;">
      <div class="row">
        <div class="col">
          <h2>{{challengeNameselected}}</h2>
        </div>
        <div class="col-4" >
          <div  *ngIf="challengeerrorMessage && !challengeisSuccessful"  class="alert alert-danger" >{{challengeerrorMessage}}</div>
        </div>
    </div>
        
        <nav style="margin-right: 20px;">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-solution-tab" data-toggle="tab" href="#nav-solution" role="tab" aria-controls="nav-solution-tab" aria-selected="true">Solution</a>
            <a class="nav-item nav-link" id="nav-approach-tab" data-toggle="tab" href="#nav-approach" role="tab" aria-controls="nav-approach-tab" aria-selected="false">Approach</a>
          </div>
        </nav>
  
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active"   id="nav-solution" role="tabpanel" aria-labelledby="nav-solution-tab">
            <form  name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && AddSolution()">
              <div class="row">
              <div class="col-9">
                      <div class="form-group">
                      <input type="text" 
                      class="form-control" #solutionName="ngModel" 
                      id="solutionName" placeholder="enter solution"
                      required
                      [(ngModel)]="solution.solutionName"
                      name="solutionName">
                      <div *ngIf="!solutionisSuccessful && f.submitted" class="alert-danger">
                        {{errorMessage}}
                      </div>
                      <div class="alert-danger" *ngIf="fl.submitted && solutionName.invalid">
                        <div *ngIf="solutionName.errors.required ">
                          *Solution required
                        </div>
                        </div>
                    </div>
                   
                  </div>
                  <div class="col-2">
                   <button class="btn btn-prime" type="submit" >Add solution</button>
            
                  </div>
            </div>
          </form>
    
  <div>
      <div class="row"  *ngIf="solutionlistVisible">
        <div class="col-6">
          <div class="card" style="width:400px;border: none;">
              
          <div *ngFor="let solutions of solutionlist let id = index" style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">      
            <div class="col-12"style="padding:10px ;border:1px solid #86b2fb"> 
            <a (keyup)="changeValue(id, 'solutionName', $event)" style="color:#3f51b5">
                 {{solutions.solutionName}}</a> 
                 <form  name="form" #ff="ngForm" (ngSubmit)="ff.form.valid && AddSolutionLink(solutions.solutionId,solutionlink.value,id)">
                  <div class="row">
                          <div class="col-9">
                              <div class="form-group">   
                                    <input type="url" 
                                    class="form-control" 
                                    style="border: 2px solid #3f51b5"
                                    placeholder="Solution Link" 
                                    id="solutionlink.value" 
                                      required  #solutionlink
                                    name="solutionlink"
                                    required ngModel>

    
                                    <div class="alert-danger" *ngIf="ff.submitted && solutionlink.value.invalid">
                                        <div *ngIf="solutionlink.value.errors.required ">
                                            *solutionlink required
                                        </div>
                                    </div>
                                          <!-- Search form  -->
                              </div>
                
                          </div>
                          <div class="col-2" 	>		   
                            <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
                
                          </div>
       </div>    
             </form>
             <!-- <button type="button" type="button" class="button button4"
             placement="top" title="View solutionlinks"
             (click)="opentesttoggle(solutions,id)" > view links
             </button> -->
        <div *ngIf="id==showCollasalIndex">
         <div  style="margin-top: 20px;margin-bottom: 10px;margin-left: 10px;border: solid;background-color: #d1d4e6;">
           
                 <div *ngFor="let solutionlink of solutionlinklist let id = index">
         <!-- <div class="row"  > -->
          <div class="col-11" style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                  <a target="_blank" href="{{solutionlink.solutionlink}}" >{{solutionlink.solutionlink}}</a>
                   </div>
                   <div class="card-body"style="padding:5px;background-color:#7086d9">

                    <button  type="button" class="fa" title="Add keypoints">
                      <span style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myModal" 
                      (click)="onSelectKeypoint 
                      (solutionlink)" style="color:rgb(255, 255, 255)"> Add keypoints
                    </span></button> 
                        <div class="modal fade" id="myModal" >
                        <div class="modal-dialog">
                          <div class="modal-content">
                          
                            <div class="modal-body">
                            
                        <form  name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                        && Addsolutionkeypoints(solutionlink.solutionlinkId,solutionlink.solutionId)">
                         
                        <div class="row">
                      
                            <div class="col-8">
                              
                                <div class="form-group">
                                   
                                  <input type="text" 
                                  class="form-control"
                                    rows="3" placeholder="Key keypoints"
                                    type="text"
                                        class="form-control"
                                        id="keypoints" #keypoints="ngModel"
                                        required
                                        [(ngModel)]="keypoint.keypoints"
                                        name="keypoints">
                                        
                                          </div>
                                       
                                          <div class="alert-danger" *ngIf="fAddKey.submitted && 
                                          keypoints.invalid">
                                            <div *ngIf="keypoints.errors.required ">
                                              *Key points required
                                            </div>
                                  </div>
      
                            </div>
                           
                                <div class="col-2">
                                    <button type="submit"  class="btn btn-prime">Add</button>
                                </div>
                                <div class="footer">
                                    <button type="button" class="btn btn-prime" 
                                    data-dismiss="modal" (click) = "hide()">Close</button>
                                  
                                </div>
                             
                          </div>
                        </form>
                        <div *ngIf="iskeySuccessful"  class="alert alert-success">{{sucessmessage}}
      
                        </div>
                            </div>
                         
                          </div>
                        </div>
                      </div>

                      <button  type="button" class="fa fa-share-alt" data-toggle="modal"
                           data-target="#shareModal" title="Share" style="font-size: 16px;" (click)="showShareModal(solutionlink)">Share</button>
                         <!-- (click)="share(id, 'teambookmarkLink', $event)" > -->
                        
                             <div class="modal fade" id="shareModal" >
                               <div class="modal-dialog">
                                 <div class="modal-content">
                                 
                                   <div class="modal-body">
                                   
                               <form  name="form" #fshare="ngForm"   
                               (ngSubmit)="shareSolution(solutionlinkId)">
                               <div class="row">
                                
                     
                                   <div class="col-4">
                                      <label >Access Type</label>
                                   </div>
                                   <div class="col-5">
                                      <select  (change)="onchangeAccessType($event.target.value)"
                                         class="form-control" id="accessType" required>
                                         <option>--Select--</option>
                                         <option>Private</option>
                                         <option>Public</option>
                                         <option>MyChain</option>
                                         <option>Everyone</option>
                                      </select>
                                   </div>
               <!--                 
                                       <div class="col-2">
                                           <button type="submit" data-dismiss="modal"
                                              class="btn btn-primary" 
                                              (click)="shareBookmark(bookmarkLinkShareId)">share</button>
                                           
                                       </div> -->
                                    
                                 </div>
                               </form>
                               <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                   </div>
                                   
                                   <!-- Modal footer -->
                                   
                                   <div class="modal-footer">
                                     <button type="submit" data-dismiss="modal"
                                              class="btn btn-prime"
                                              (click)="shareSolution(solutionlinkId)">share</button>
                                     <button type="button" class="btn btn-prime"
                                     data-dismiss="modal" (click) = "hide()">Close</button>
                                     
               
                                   </div>
                                   
                                 </div>
                               </div>
                             </div>

                      <button type="button"
                      class="fa fa-trash-o" style="font-size: 16px;" data-toggle="modal" data-target="#mydelModal"
                        (click)="showModal(solutionlink)" title="Delete"> Delete
                       </button>
                       <div class="modal fade" id="mydelModal" >
                         <div class="modal-dialog">
                           <div class="modal-content">
                          
                             
                             <div class="modal-body">
                              <h4 class="modal-title">Delete Confirmation</h4>
                              <button type="button" class="close"  (click)="hideModal()">&times;</button>
                            </div> 
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                     
                               Are you sure want to delete the link?
                               <button   (click)="deleteSolutionlink()" data-dismiss="modal"
                               class="btn btn-prime">Yes
                               </button>
                                 <button type="button" class="btn btn-prime" data-dismiss="modal" 
                                  (click)="hideModal()">No</button>
                             
                               <button type="button" id="close-modal" data-dismiss="modal" 
                               style="display: none">No</button>
                             </div>
                       
                             <!-- Modal footer -->
                             <!-- <div class="modal-footer">
                               
                             </div> -->
                           </div>
                         </div>
                       </div>
                       <button type="button" type="button" class="button button4"
                       placement="top" title="View Comments"
                       (click)="opencommentstoggle(solutionlink,id)" >>> 
                       </button>
                  <div *ngIf="id==showKeypointIndex">
                   <div class="card card-body"style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                     <div class="left">
                       <!-- <h2>Key Comments</h2>  -->
                       <div class="row"  >
                         
                       <div class="col-12">
                     
                           <tr *ngFor="let keypoint of KeypointList let id = index">
                   
                             <td class="col-sm-3"style="color:black">
                            
                              <span>{{keypoint.keypoints}}</span>
                              
                             </td>
                            
                             <td class="column" >
                               <button class="btn "class="button button4" data-toggle="modal"
                               data-target="#myEditKeyPointModal"
                               (click)="showEditKeyModal(keypoint)">
                                 <span class="oi oi-pencil"></span>
                               </button>  
                               <div class="modal fade" id="myEditKeyPointModal" >
                                 <div class="modal-dialog">
                                   <div class="modal-content">
                                   
                                     <!-- Modal Header -->
                                     <!-- <div class="modal-header">
                                       <h4 class="modal-title">Edit Key Comments</h4> -->
                                       <button type="button" class="close"
                                       data-dismiss="modal" (click) = "hide()">&times;</button>
                                     <!-- </div> -->
                                     
                                     <!-- Modal body -->
                                     <div class="modal-body">
                                      
                                      
                                  
                                 <form  name="form" #fEdit="ngForm"   
                                 (ngSubmit)="fEdit.submitted && EditKeypoint(keypoint.keypoints)">
                                 <div class="row">
                               
                                     <div class="col-8">
                                       
                                         <div class="form-group">
                                            
                                           <input type="text" 
                                           class="form-control"
                                             rows="3" placeholder="Key points"
                                             type="text"
                                                 class="form-control"
                                                 id="keyComments" #keyComments="ngModel"
                                                 required
                                                 [(ngModel)]="keypoint.keypoints"
                                                 name="keyComments">
                                           </div>
                                           <div class="alert-danger" *ngIf="fEdit.submitted && keyComments.invalid">
                                             <div *ngIf="keyComments.errors.required ">
                                               *Key Comments required
                                             </div>
                                             </div>
                                             
                                     </div>
                                    
                                         <div class="col-2">
                                             <button type="submit" data-dismiss="modal"
                                               (click)="prevent(keypoint.keypoints)"  class="btn btn-primary" >Add</button>
                                          
                                           
                                         </div>
                                      
                                   </div>
                                 </form>
                                 <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                     </div>
                                     
                                     <!-- Modal footer >
                                     <div class="modal-footer">
                                       <button type="button" class="btn btn-danger" 
                                       data-dismiss="modal" (click) = "hide()">Close</button>
                                     </div-->
                                     
                                   </div>
                                 </div>
                               </div>
                             </td>
                            
                            <td>
                            <button type="button"
                            class="btn " class="button button4" data-toggle="modal"
                             data-target="#mydelKeypointModal"
                              (click)="showdelKeyModal(keypoint)"  >
                             <span class="oi oi-trash"></span></button>
                             <div class="modal fade" id="mydelKeypointModal" >
                               <div class="modal-dialog">
                                 <div class="modal-content">
                                
                                   <!-- Modal Header -->
                                   <!-- <div class="modal-header">
                                     <h4 class="modal-title">Delete Confirmation</h4>
                                     <button type="button" class="close" (click)="hideModal()">&times;</button>
                                   </div> -->
                             
                                   <!-- Modal body -->
                                   <div class="modal-body">
                                        Are you sure want to delete the keypoints?
                                        <button   (click)="deleteKeypoint()" data-dismiss="modal" 
                                     class="btn btn-danger">Yes
                                      </button>
                                      <button type="button" class="btn btn-danger" (click)="hideModal()" id="close-modal" data-dismiss="modal" >No</button>
                                      
                                   
                                     <button type="button" id="close-modal" data-dismiss="modal" 
                                   style="display: none;" >Close</button>
                                  
                                 </div>
                             
                                   <!-- Modal footer -->
                                   
                                 </div>
                               </div>
                             </div>
                            
                         
                            </td>
                           
                           </tr>
                           <!-- <button class="btn btn-link" (click)="onKeyPointsViewMore()" id="view-more" *ngIf="KeypointList.length > 3">View More</button>
                           <button class="btn btn-link" (click)="onkeyPointsviewless()" style="display: none;" id="view-less">View Less</button> -->
                         <!-- </table> -->
                           
                         
                            </div>
                     </div>
                   
                   </div>                </div>
                 </div>
                     
           
            
                  
                  </div>
                  <!-- </div> -->
         </div>
         
         </div>
        
            
           </div> 

           
        

                </div>

          </div>
          </div>
        </div>
      </div>
  </div>
  
          </div>
          
  
         
    </div>
    <div class="tab-pane fade" id="nav-approach" role="tabpanel" aria-labelledby="nav-approach-tab">
            
      <div class="tab-pane fade show active" id="nav-approach" role="tabpanel" aria-labelledby="nav-approach-tab">
        <form  name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && AddApproach()">
          <div class="row">
          <div class="col-9">
                  <div class="form-group">
                  <input type="text" 
                  class="form-control" #approachName="ngModel" 
                  id="approachName" placeholder="enter approach"
                  required
                  [(ngModel)]="approach.approachName"
                  name="approachName">
                  <div *ngIf="!approachisSuccessful && f.submitted" class="alert-danger">
                    {{errorMessage}}
                  </div>
                  <div class="alert-danger" *ngIf="fl.submitted && approachName.invalid">
                    <div *ngIf="approachName.errors.required ">
                      *Approach required
                    </div>
                    </div>
                </div>
               
              </div>
              <div class="col-2">
               <button class="btn btn-prime" type="submit" >Add approach</button>
        
              </div>
        </div>
      </form>


      </div>
    </div>

  
  <div class="row"  *ngIf="approachlistVisible">
    <div class="col-6">
      <div class="card" style="width:400px;border: none;">
          
      <div *ngFor="let approachs of approachlist let id = index" style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">      
        <div class="col-12"style="padding:10px ;border:1px solid #86b2fb"> 
        <a (keyup)="changeValue(id, 'approachName', $event)" style="color:#3f51b5">
             {{approachs.approachName}}</a> 
             <form  name="form" #ff="ngForm" (ngSubmit)="ff.form.valid && AddApproachLink(approachs.approachId,approachlink.value)">
              <div class="row">
                      <div class="col-9">
                          <div class="form-group">   
                                <input type="url" 
                                class="form-control" 
                                style="border: 2px solid #3f51b5"
                                placeholder="Approach Link" 
                                id="approachlink.value" 
                                  required  #approachlink
                                name="approachlink"
                                required ngModel>


                                <div class="alert-danger" *ngIf="ff.submitted && approachlink.value.invalid">
                                    <div *ngIf="approachlink.value.errors.required ">
                                        *approachlink required
                                    </div>
                                </div>
                                      
                          </div>
            
                      </div>
                      <div class="col-2" 	>		   
                        <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
            
                      </div>
   </div>    
         </form>


            </div>

      </div>
      </div>
    </div>
  </div>
      </div>
  </div>
  

     
  
  
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-spin-clockwise">
    <p style="color: white" > Loading... </p>
    </ngx-spinner>
  


    
   
   


                    