.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .form-group{
    text-align:center;
    margin-top: 20px;
    color:#3f51b5;
  }
  .form{
    background-color: #e6e6fa;
    padding-top: 10px;
    padding-left:25px;color:#3f51b5;
   
  }
  .card{
    background-color:#f1f3f4;
    width: 1000px;
    align-content: center;
  }
  
  .h1,h2{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .form-control{
    border:2px solid black;
    font-size:15px;
    
  }
  .btn-primary{
    padding:.100rem .38rem;
    
    background-color:#7086d9;
    color:white;
  }