<div class="form-group" style="margin-right:50px;margin-left:250px;margin-top:30px">
   <form name="form" #fAddTeam="ngForm" (ngSubmit)="fAddTeam.form.valid && AddTeam()">
      <div *ngIf="!isTeamSuccessful || isTeamexist">
         <h1 class="shadow-lg p-3 mb-2 bg-white" style="color:black;">Create New Team</h1>
         <div class="form shadow-lg bg-white">
            <div class="form-group">

               <div class="row">
                  <div class="col-2" style="color: black;">
                     <label>
                        <h2>Team Name</h2>
                     </label>
                  </div>
                  <div class="col-4">
                     <input type="text" class="form-control" id="teamName" name="teamName" #teamName="ngModel"
                        [(ngModel)]="team.teamName" placeholder="Enter Team Name">

                  </div>

                  <div class="col-2">
                     <div *ngIf="submitted && f.teamname.errors && teamsubmited">
                        <div *ngIf="f.teamname.errors.required" class="team-error-msg">Team Name is required</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="row">
                  <div class="col-2" style="color: black;">
                     <label>
                        <h2>Access Type</h2>
                     </label>
                  </div>
                  <div class="col-2">
                     <select (change)="onchangeAccessType($event.target.value)" class="form-control" id="accessType"
                        required>
                        <option>--Select--</option>
                        <option>Private</option>
                        <option>Public</option>
                        <option>MyChain</option>
                        <!-- <option>Everyone</option> -->
                     </select>
                  </div>
                  <div class="col-2">
                     <div *ngIf="submitted && f.accesstype.errors && accessTypesubmited">
                        <div *ngIf="f.accesstype.errors.required" class="team-error-msg">Access Type is required
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <button type="submit" class="btn btn-primary" style="background-color: #509ef1;
               color: #fff;
               font-weight: 500;border-radius: 0px;">Add Team
                     </button>

                  </div>
                  <br />
               </div>
               <br />
            </div>
         </div>
      </div>
   </form>
   <form name="form" #fAddTeamInvite="ngForm" (ngSubmit)="fAddTeamInvite.form.valid && AddTeamMember(fAddTeamInvite)">

      <div class="form-group">
         <div class="row">
            <div class="col-4">
               <div *ngIf="isSuccessful && !isInviteSuccessful " class="alert alert-success">{{sucessmessage}}</div>
            </div>
         </div>
      </div>

      <div *ngIf="isTeamSuccessful && !isTeamexist">
         <h1 class="shadow-lg p-3 mb-2 bg-white" style="color:black;">Invite Member</h1>
         <div class="row shadow-lg bg-white" style="margin-left:1px;margin-right:1px;">
            <div class="col-4">
               <div class="form-group">
                  <div class="row">
                     <div class="col-4" style="color: black;">
                        <label>
                           <h2>Email </h2>
                        </label>
                     </div>
                     <div class="col-8">
                        <input type="emailId" class="form-control" id="emailId" name="emailId" required
                           #emailId="ngModel" [(ngModel)]="teamMember.emailId" placeholder="Enter your email">
                        <br />
                        <div class="alert-danger" *ngIf="fAddTeamInvite.submitted && 
                        emailId.invalid">
                           <div *ngIf="emailId.errors.required ">
                              * Email Required
                           </div>
                        </div>
                     </div>
                  </div>
                  <br />
                  <div class="row">
                     <div class="col-4" style="color: black;">
                        <label>
                           <h2>Message</h2>
                        </label>
                     </div>
                     <div class="col-8">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="exampleFormControlTextarea1"
                                  #message="ngModel" [(ngModel)]="teamMember.message"  >
                     </textarea>
                     </div>
                  </div>
                  <br />
                  <button type="submit" class="btn btn-primary" style="background-color: #509ef1;
                  color: #fff;
                  font-weight: 500;border-radius: 0px;">Send</button>
               </div>
               <div class="form-group">
                  <div class="row">
                     <div class="col-8">
                        <div *ngIf="isTeamSuccessful && isInviteSuccessful" class="alert alert-success">
                           {{sucessmessage}}
                        </div>
                        <div *ngIf="fAddTeamInvite.submitted && isFailure" class="alert alert-danger">
                           {{errorMessage}}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-5">
               <div class="form-group">
                  <div class="row">
                     <div class="col-4" style="color: black;">
                        <label>
                           <h2>Team Role</h2>
                        </label>
                     </div>
                     <div class="col-8">
                        <select (change)="onchange($event.target.value)" name="teamRole" class="form-control"
                           id="teamRole">
                           <option disabled *ngIf="team.accessroleid==0" selected>--Select--</option>
                           <option class='form-control' *ngFor='let teamRole of teamrolelist'
                              [value]="teamRole.accessroleId">
                              {{teamRole.accessroleName}}</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br />
   </form>
</div>