<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    .action-button:disabled {
      background-color: #c1c7d2;
      border: 1px solid #c1c7d2;
      color: #000000;
    }
  </style>
</head>

<body>
  <div class="row mt-2 mb-2">
    <div class="heading">Challenge Manager</div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2 class="heading-add">Challenge Name</h2>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && AddTopic(f)">
          <input type="text" class="form-control challengename" id="challengeName" #challengeName="ngModel" required
            [(ngModel)]="challenge.challengeName" placeholder="Enter Topic Name" name="challengeName">
          <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
            {{errorMessage}}
          </div>
          <div class="alert-danger" *ngIf="f.submitted && challengeName.invalid">
            <div *ngIf="challengeName.errors.required ">
              *Challenge required
            </div>
          </div>
          <textarea class="form-control mt-2 description" id="description" #description="ngModel"
            placeholder="Enter Description" required [(ngModel)]="challenge.description" name="description"></textarea>
          <div class="alert-danger" *ngIf="f.submitted && description.invalid">
            <div *ngIf="description.errors.required ">
              *Description required
            </div>
          </div>
          <div class="mt-3 d-flex flex-row-reverse">
            <button type="submit" class="btn-add pl-2 p-2">Add</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"></div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-2">
            <span class="text-left goal-cat">Challenge</span>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
            <div class="form-group">
              <input type="text" class="form-control" required (keyup)="changetestValue($event)"
                placeholder="Search Challenge" name="challengeName">
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover ">
            <tbody>
              <tr
                *ngFor="let challenge of challengelist | paginate: { itemsPerPage: 5, currentPage: p, id: 'first' }; let i = index;"
                id="tr_row">
                <td class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="cursor:pointer"
                  (click)="getChallengeid(challenge,i)">
                  <a class="text" style="color:#3f51b5;"
                    *ngIf="!enableEdit || currentchallengeid != challenge.challengeId"
                    ngbTooltip="{{challenge.description}}" [class.hide]="enableEdit && enableEditIndex == i">
                    {{challenge.challengeName}} </a>
                  <input class="form-control" id="challengeName" name="challengeName"
                    *ngIf="enableEdit && enableEditIndex == i" type="text" [(ngModel)]="currentchallengename" />
                  <div class="alert-danger" *ngIf="currentchallengename ==='' && enableEditIndex == i">
                    *Challenge required
                  </div>
                  <div class="alert-danger" *ngIf="challengenametaken && enableEditIndex == i">
                    *Challenge name already taken
                  </div>
                </td>
                <td>
                  <button *ngIf="enableEdit && enableEditIndex == i" class="action-button right" id="saveBtn"
                    class="btn action-button" title="Save"
                    (click)="currentchallengename!==''&& editChallenge(currentchallengeid,currentchallengename)"
                    type="submit">Save</button>
                  <div class="btn-3 " style="background-color:#509ef1"*ngIf="!enableEdit || currentchallengeid != challenge.challengeId" title="Edit"
                    (click)="enableEditMethod(challenge, i)">
                    <span class="oi oi-pencil"></span>
                  </div>
                </td>
                <!-- <td>
                  <div  class="fa fa-share-alt pt-1" data-toggle="modal"
                        data-target="#shareModal" title="Share" style="font-size: 16px;cursor: pointer;color: #c137b7" (click)="showChallengeShareModal(challenge)">
                  </div>
                  <div class="modal fade" id="shareModal" >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select Access Type</h4>
                          <button type="button" class="close" style="color: brown;"
                            data-dismiss="modal" (click) = "hide()">
                            &times;
                          </button>
                        </div>
                        <div class="modal-body">
                          <form  name="form" #fshare="ngForm" (ngSubmit)="shareChallengeName(challengeId)">
                            <div class="row">
                              <div class="col-4">
                                <label >Access Type</label>
                              </div>
                              <div class="col-5">
                                <select  (change)="onchangeShareAccessType($event.target.value)"
                                  class="form-control" id="accessType" required>
                                  <option>--Select--</option>
                                  <option>Private</option>
                                  <option>Public</option>
                                  <option>MyChain</option>
                                </select>
                              </div>
                            </div>
                          </form>
                          <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" data-dismiss="modal" class="btn btn-prime"
                          (click)="shareChallengeName(challengeId)"[disabled]=!fshare.form.valid>share</button>
                          <button type="button" class="btn btn-primes" data-dismiss="modal" (click) = "hide()">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td> -->
                <td class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <div type="button" class="btn-3"style="background-color:#509ef1" data-toggle="modal" data-target="#mydelechallengeModal"
                    title="Delete" (click)="showdelchallengeModal(challenge.challengeId)"><span
                      class="oi oi-trash"></span></div>
                  <div class="modal fade " id="mydelechallengeModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          Are you sure want to delete the link?
                          <button (click)="deleteChallenge()" class="default-btn btn " data-dismiss="modal">Ok</button>
                          <button type="button" class="default-btn btn ml-2" data-dismiss="modal"
                            (click)="hide()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-12 fright">
            <pagination-controls (pageChange)="p = $event" id='first' class="mr-3"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12">
            <h2 class="goal-cat">{{challengeNameselected}}</h2>
          </div>
        </div>
        <nav style="margin-right: 20px;">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-solution-tab" data-toggle="tab" href="#nav-solution" role="tab"
              aria-controls="nav-solution-tab" aria-selected="true">Solution</a>
            <a class="nav-item nav-link" id="nav-approach-tab" data-toggle="tab" href="#nav-approach" role="tab"
              aria-controls="nav-approach-tab" aria-selected="false">Approach</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-solution" role="tabpanel" aria-labelledby="nav-solution-tab">
            <form name="form" #fl="ngForm"
              (ngSubmit)="challengeNameselected !== 'Add CategoryLink' && fl.form.valid && AddSolution(fl)">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #solutionName="ngModel" id="solutionName"
                      placeholder="Enter Solution" required [(ngModel)]="solution.solutionName" name="solutionName">
                    <div *ngIf="!solutionisSuccessful && fl.submitted" class="alert-danger">
                      {{errorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="fl.submitted">
                      <div *ngIf="solutionName.errors  && solutionName.invalid">
                        *Solution required
                      </div>
                    </div>
                    <div class="alert-danger" *ngIf="fl.submitted && challengeNameselected === 'Add CategoryLink'">
                      *Select a Challenge
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-add" type="submit">Add Solution</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="solutionlistVisible">
              <div class="col-10">
                <div class="card border-0">
                  <div *ngFor="let solutions of solutionlist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" (click)="getSolutionId(solutions,id)" style="padding:10px ;border:1px solid #86b2fb;background-color: rgb(119 102 253 / 15%);">
                      <div class="row mt-1">
                        <div class="col-9">
                          <a style="color:#3f51b5;font-size:18px;"
                            *ngIf="!enablesolutionEdit || currentsolutionid != solutions.solutionId" title="{{solution.solutionName}}"
                            [class.hide]="enablesolutionEdit && enablesolutionEditIndex == id">
                            {{solutions.solutionName}}
                          </a>
                          <input class="col-12 form-control1" id="solutionName" name="solutionName"
                            *ngIf="enablesolutionEdit && enablesolutionEditIndex == id" type="text"
                            [(ngModel)]="currentsolutionname" />
                          <div class="alert-danger"
                            *ngIf="!soledit && solutionName.errors.required && enablesolutionEdit && enablesolutionEditIndex == id">
                            *solution required || solution already taken
                          </div>
                        </div>
                        <div class="col-3">
                          <button class="btn-step" *ngIf="!enablesolutionEdit || currentsolutionid != solutions.solutionId"
                            title="Edit" (click)="enablesolutionEditMethod(solutions, id)">
                            <span class="oi oi-pencil" style="color: #fff;"></span>
                          </button>
                          <button *ngIf="enablesolutionEdit && enablesolutionEditIndex == id" id="saveBtn"
                            class="btn link-butto" title="Save" (click)="editSolution(currentsolutionid,currentsolutionname)"
                            type="submit">Save</button>
                          <button type="button" class="btn-step ml-3" style="color:#fff;background-color: #509ef1;"
                            data-toggle="modal" data-target="#mydelSolutionModal" (click)="showdelSolutionModal(solutions)">
                            <span class="oi oi-trash"></span>
                          </button> 
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="modal fade" id="mydelSolutionModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the solution?
                              <button (click)="deletesolutions()" data-dismiss="modal" style="background-color:#509ef1;color: white;"
                                class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3" style="background-color:#509ef1;color: white;"
                                id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="solution-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form name="form" #ff="ngForm"
                        (ngSubmit)="ff.form.valid && AddSolutionLink(solutions.solutionId,solutionlink.value,id,solutions.challengeId,ff)">
                        <div class="row mt-2">
                          <div class="col-9">
                            <div class="form-group">
                              <input type="url" class="form-control" style="border: 2px solid #3f51b5"
                                placeholder="Solution Link" id="solutionlink.value" required #solutionlink="ngModel"
                                name="solutionlink" required ngModel>
                              <div *ngIf="ff.submitted && !solutionlinkisSuccessful" class="alert-danger">
                                {{solutionlinkerrorMessage}}
                              </div>
                              <div class="alert-danger" *ngIf="ff.submitted && solutionlink.invalid">
                                <div *ngIf="solutionlink.errors">
                                  *Solution Link required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <button type="submit" class="btn-add p-2">
                              Add
                            </button>
                          </div>
                        </div>
                      </form>
                      <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                        <div *ngFor="let solutionlink of solutions.solutionLink let i = index">
                          <div class="col-11"
                            style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                            <a (keyup)="changeValue(i, 'solutionlink', $event)" target="_blank"
                              href="{{solutionlink.solutionlink}}">
                              {{solutionlink.solutionlink}}
                            </a>
                          </div>
                          <div class="card-body" style="padding:5px;background-color:#D1D4E6">
                            <button type="button" class="fa fa-comments link-button hw-30" title="Add keypoints"
                              style="color:rgb(255, 255, 255);background-color: #509ef1;" data-toggle="modal" href="#mysolutionModal"
                              data-target="#mysolutionModal" (click)="onSelectSolutionKeypoint(solutionlink)">
                            </button>
                            <div class="modal fade" id="mysolutionModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                                      && Addsolutionkeypoints(solutionlinkId,solutionId,fAddKey)">
                                      <div class="row">
                                        <div class="col-8">
                                          <div class="form-group mb-0">
                                            <input type="text" class="form-control" rows="3"
                                              placeholder="Enter Keypoint" type="text" class="form-control"
                                              id="solutionkeypoints" #solutionkeypoints="ngModel" required
                                              [(ngModel)]="solutionkeypoint.solutionkeypoint" name="solutionkeypoints">
                                          </div>
                                          <div class="alert-danger"
                                            *ngIf="fAddKey.submitted && solutionkeypoints.invalid">
                                            <div *ngIf="solutionkeypoints.errors.required ">
                                              *Key points required
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-2">
                                          <button type="submit" class="default-btn btn">
                                            Add
                                          </button>
                                        </div>
                                        <div class="footer">
                                          <button type="button" class="default-btn btn" data-dismiss="modal" id="keyclose"
                                            (click)="hide()">Close</button>
                                        </div>
                                      </div>
                                    </form>
                                    <div *ngIf="iskeySuccessful" class="alert alert-success">{{sucessmessage}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-share-alt hw-30" data-toggle="modal"
                              data-target="#solutionshareModal" title="Share" style="font-size: 16px;"style="background-color:#509ef1"
                              (click)="showSolutionShareModal(solutionlink)"></button>
                            <div class="modal fade" id="solutionshareModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #fshare="ngForm" (ngSubmit)="shareSolution(solutionlinkId,fshare)">
                                      <div class="row">
                                        <div class="col-4">
                                          <label>Access Type</label>
                                        </div>
                                        <div class="col-5">
                                          <select id="accessType" class="form-control"
                                            (change)="onchangeAccessType($event.target.value)" name="select">
                                            <option selected disabled *ngIf="!sharesolutionlink.accesstype">--Select--</option>
                                            <option>Public</option>

                                          </select>
                                        </div>
                                      </div>
                                      <div class="text-danger"
                                      *ngIf="fshare.submitted && !sharesolutionlink.accesstype && !isSuccessful">
                                      *Select Access Type
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit"  class="default-btn btn">
                                        share
                                      </button>
                                      <button type="button" class="default-btn btn" data-dismiss="modal" id="solclose"
                                        (click)="hide()">Close</button>
                                    </div>
                                    </form>                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-trash-o link-button hw-30" style="font-size: 16px;background-color: #509ef1;"
                              data-toggle="modal" data-target="#mydelsolutionModal"
                              (click)="showsolutionModal(solutionlink)" title="Delete">
                            </button>
                            <div class="modal fade" id="mydelsolutionModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    Are you sure want to delete the link?
                                    <button (click)="deleteSolutionlink()" data-dismiss="modal"
                                      class="default-btn btn">Yes
                                    </button>
                                    <button type="button" class="default-btn btn ml-2" data-dismiss="modal"
                                      (click)="hideModal()">No</button>
                                    <button type="button" id="close-modal" data-dismiss="modal"
                                      style="display: none ">No</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button *ngIf="solutionlink.solutionlinkId!=showsolutionKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="opencommentstoggle(solutionlink,solutionlink.solutionlinkId)">>>
                            </button>
                            <button *ngIf="solutionlink.solutionlinkId==showsolutionKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="closecommentstoggle(solutionlink,solutionlink.solutionlinkId)">
                              << </button>
                                <div *ngIf="solutionlink.solutionlinkId==showsolutionKeypointIndex">
                                  <div class="card card-body"
                                    style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                    <div class="row">
                                      <div class="col-12">
                                        <tr *ngFor="let key of limitedSolutionKeypointList let id = index">
                                          <td class="col-10" style="color:black">
                                            <span>{{key.keypoints}}</span>
                                          </td>
                                          <td>
                                            <button class="btn-3" data-toggle="modal"
                                              data-target="#myEditSolutionKeyPointModal"style="background-color:#509ef1"
                                              (click)="showEditKeyModal(key)">
                                              <span class="oi oi-pencil"></span>
                                            </button>
                                            <div class="modal fade" id="myEditSolutionKeyPointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-body">
                                                    <form name="form" #fEdit="ngForm"
                                                      (ngSubmit)="fEdit.submitted && EditKeypoint(keypoint.solutionkeypoint)">
                                                      <div class="row">
                                                        <div class="col-8">
                                                          <div class="form-group">
                                                            <input type="text" class="form-control" rows="3"
                                                              placeholder="Key points" type="text" id="keypoints"
                                                              #keypoints="ngModel" required [(ngModel)]="keypoint.solutionkeypoint"
                                                              name="keypoints">
                                                          </div>
                                                          <div class="alert-danger"
                                                            *ngIf="fEdit.submitted && keypoints.invalid">
                                                            <div *ngIf="keypoints.errors.required ">
                                                              *Key Comments required
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div>
                                                          <button type="submit" data-dismiss="modal"
                                                            class="default-btn btn" (click)=prevent(keypoint.solutionkeypoint)>
                                                            save
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </form>
                                                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <button type="button" class="btn-3"style="background-color:#509ef1"
                                              data-toggle="modal" data-target="#mydelKeypointModal"
                                              (click)="showdelKeyModal(key)">
                                              <span class="oi oi-trash"></span></button>
                                            <div class="modal fade" id="mydelKeypointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    Are you sure want to delete the keypoints?
                                                    <button (click)="deleteKeypoint()" data-dismiss="modal"
                                                      class="default-btn btn">Yes
                                                    </button>
                                                    <button type="button" class="default-btn btn ml-2" (click)="hideModal()"
                                                      id="close-modal" data-dismiss="modal">No</button>
                                                    <button type="button" id="close-modal" data-dismiss="modal"
                                                      style="display: none;">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <button class="btn btn-link" (click)="onSolKeyPointsViewMore()" id="view-more"
                                                *ngIf="SolutionKeypointList?.length > 3">
                                            View More
                                        </button>
                                        <button class="btn btn-link" (click)="onSolkeyPointsviewless()" style="display: none;"
                                                id="view-less">
                                            View Less
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="alert-danger col-10" *ngIf="solutionlistdata"
                    style="display:flex;flex-direction:row;justify-content:center;color:#721C24;background-color:#F8D7DA;">
                    No Data Found
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-approach" role="tabpanel" aria-labelledby="nav-approach-tab">
            <form name="form" #f2="ngForm"
              (ngSubmit)="challengeNameselected !== 'Add CategoryLink' && f2.form.valid && AddApproach(f2);">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #approachName="ngModel" id="approachName"
                      placeholder="Enter Approach" #name required [(ngModel)]="approach.approachName"
                      name="approachName">
                    <div *ngIf="!approachisSuccessful && f2.submitted" class="alert-danger">
                      {{errorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="f2.submitted && approachName.invalid">
                      <div *ngIf="approachName.errors.required ">
                        *Approach required
                      </div>
                    </div>
                    <div class="alert-danger" *ngIf="f2.submitted && challengeNameselected === 'Add CategoryLink'">
                      *Select a Challenge
                    </div>
                  </div>
                </div>
                <div class="col-2 pl-0">
                  <button class="btn btn-add" type="submit">Add approach</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="approachlistVisible">
              <div class="col-10">
                <div class="card" style="border: none;">
                  <div *ngFor="let approachs of approachlist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" (click)="getApproachId(approachs,id)" style="padding:10px ;border:1px solid #86b2fb;background-color: rgb(119 102 253 / 15%);">
                      <div class="row mt-1">
                        <div class="col-9">
                          <a style="color:#3f51b5;font-size:18px;"
                            *ngIf="!enableapproachEdit || currentapproachid != approachs.approachId" title="{{approach.approachName}}"
                            [class.hide]="enableapproachEdit && enableapproachEditIndex == id">
                            {{approachs.approachName}}
                          </a>
                          <input class="col-12 form-control1" id="approachName" name="approachName"
                            *ngIf="enableapproachEdit && enableapproachEditIndex == id" type="text"
                            [(ngModel)]="currentapproachname" />
                          <div class="alert-danger"
                            *ngIf="!appedit && approachName.errors.required && enableapproachEdit && enableapproachEditIndex == id">
                            *approach required || approach already taken
                          </div>
                        </div>
                        <div class="col-3">
                          <button class="btn-step" *ngIf="!enableapproachEdit || currentapproachid != approachs.approachId"
                            title="Edit" (click)="enableapproachEditMethod(approachs, id)">
                            <span class="oi oi-pencil" style="color: #fff;"></span>
                          </button>
                          <button *ngIf="enableapproachEdit && enableapproachEditIndex == id" id="saveBtn"
                            class="btn link-butto" title="Save" (click)="editApproach(currentapproachid,currentapproachname)"
                            type="submit">Save</button>
                          <button type="button" class="btn-step ml-3" style="color:#fff;background-color: #509ef1;"
                            data-toggle="modal" data-target="#mydelapproachModal" (click)="showdelapproachModal(approachs)">
                            <span class="oi oi-trash"></span>
                          </button> 
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="modal fade" id="mydelapproachModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the approach?
                              <button (click)="deleteapproach()" data-dismiss="modal" style="background-color:#509ef1;color: white;"
                                class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3" style="background-color:#509ef1;color: white;"
                                id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="approach-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form name="form" #ff1="ngForm"
                        (ngSubmit)="ff1.form.valid && AddApproachLink(approachs.approachId,approachlink.value,id,approachs.challengeId,ff1)">
                        <div class="row mt-2">
                          <div class="col-9">
                            <div class="form-group">
                              <input type="url" class="form-control" style="border: 2px solid #3f51b5"
                                placeholder="Approach Link" id="approachlink" required #approachlink="ngModel"
                                name="approachlink" required ngModel>
                              <div class="alert-danger" *ngIf="ff1.submitted && approachlink.invalid">
                                <div *ngIf="approachlink.errors">
                                  *approachlink required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <button type="submit" class="btn-add p-2">
                              Add
                            </button>
                          </div>
                        </div>
                      </form>
                      <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                        <div *ngFor="let approachlink of approachs.approachLink let id = index">
                          <div class="col-11"
                            style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                            <a target="_blank" href="{{approachlink.approachlink}}">{{approachlink.approachlink}}</a>
                          </div>
                          <div class="card-body" style="padding:5px;background-color:#7086d9">
                            <button type="button" class="fa fa fa-comments link-button" title="Add keypoints"
                              style="color:rgb(255, 255, 255)" data-toggle="modal"
                              (click)="onSelectedKeypoint(approachlink)" data-target="#myapproachModal">
                            </button>
                            <div class="modal fade" id="myapproachModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #fAddKey1="ngForm"
                                      (ngSubmit)="fAddKey1.form.valid 
                                      && Addapproachkeypoints(fAddKey1)">
                                      <div class="row">
                                        <div class="col-8">
                                          <div class="form-group">
                                            <input type="text" class="form-control" rows="3" placeholder="Enter keypoints"
                                              type="text" class="form-control" id="keypoints" #keypoints="ngModel"
                                              required [(ngModel)]="approachkeypoint.keypoints" name="keypoints">
                                          </div>
                                          <div class="alert-danger" *ngIf="fAddKey1.submitted && keypoints.invalid">
                                            <div *ngIf="keypoints.errors.required ">
                                              *Key points required
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-2">
                                          <button type="submit" class="default-btn btn">Add</button>
                                        </div>
                                        <div class="footer">
                                          <button type="button" class="default-btn btn" data-dismiss="modal"
                                            (click)="hide()">Close</button>
                                        </div>
                                      </div>
                                    </form>
                                    <div *ngIf="iskeySuccessful" class="alert alert-success">{{sucessmessage}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-share-alt link-button" data-toggle="modal"
                              data-target="#approachshareModal" title="Share" style="font-size: 16px;"
                              (click)="showApproachSharedModal(approachlink)">
                            </button>
                            <div class="modal fade" id="approachshareModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #f1share="ngForm" (ngSubmit)="shareApproach(approachlinkId,f1share)">
                                      <div class="row">
                                        <div class="col-4">
                                          <label>Access Type</label>
                                        </div>
                                        <div class="col-5">
                                          <select id="accessType" class="form-control"
                                            (change)="onchangeAccessTypes($event.target.value)" name="select">
                                            <option selected disabled *ngIf="!shareapproachlink.accesstype">--Select--</option>
                                            <option>Public</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="text-danger"
                                           *ngIf="f1share.submitted && !shareapproachlink.accesstype && !isSuccessful">
                                      *Select Access Type
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-add">share</button>
                                      <button type="button" class="btn btn-add" data-dismiss="modal" id="appclose"
                                        (click)="hide()">Close</button>
                                    </div>
                                    
                                    </form>
                              
                                  
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-trash-o link-button" style="font-size: 16px;"
                              data-toggle="modal" data-target="#mydelModal" (click)="showedModal(approachlink)"
                              title="Delete">
                            </button>
                            <div class="modal fade" id="mydelModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    Are you sure want to delete the link?
                                    <button (click)="deleteApproachlink()" data-dismiss="modal"
                                      class="btn btn-add">Yes
                                    </button>
                                    <button type="button" class="btn btn-add ml-2" data-dismiss="modal"
                                      (click)="hideModal()">No</button>
                                    <button type="button" id="close-modal" data-dismiss="modal"
                                      style="display: none">No</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button *ngIf="approachlink.approachlinkId!=showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="openedcommentstoggle(approachlink,approachlink.approachlinkId)">>>
                            </button>
                            <button *ngIf="approachlink.approachlinkId==showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="closedcommentstoggle(approachlink,approachlink.approachlinkId)">
                              << </button>
                                <div *ngIf="approachlink.approachlinkId==showKeypointIndex">
                                  <div class="card card-body"
                                    style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                    <div class="row">
                                      <div class="col-12">
                                        <tr *ngFor="let approachkeypoint of limitedKeypointList let id = index">
                                          <td class="col-10" style="color:black;">
                                            <span>{{approachkeypoint.keypoints}}</span>
                                          </td>
                                          <td class="column">
                                            <button class="btn-3" data-toggle="modal"
                                              data-target="#myEditKeyPointModal" (click)="showedEditKeyModal(approachkeypoint)">
                                              <span class="oi oi-pencil"></span>
                                            </button>
                                            <div class="modal fade" id="myEditKeyPointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    <form name="form" #fEdit="ngForm"
                                                      (ngSubmit)="fEdit.submitted && EditedKeypoint(approachkeypoint.keypoints)">
                                                      <div class="row">
                                                        <div class="col-8">
                                                          <div class="form-group">
                                                            <input type="text" class="form-control" rows="3"
                                                              placeholder="Key points" type="text"
                                                              id="keypoints" #keypoints="ngModel" required
                                                              [(ngModel)]="approachkeypoints.keypoints" name="keypoints">
                                                          </div>
                                                          <div class="alert-danger"
                                                            *ngIf="fEdit.submitted && keypoints.invalid">
                                                            <div *ngIf="keypoints.errors.required ">
                                                              *Key Comments required
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div>
                                                          <button type="submit" data-dismiss="modal"
                                                            (click)="prevents(approachkeypoints.keypoints)"
                                                            class="default-btn btn">
                                                            save
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </form>
                                                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <button type="button" class="btn-3"
                                              data-toggle="modal" data-target="#mydelKeypointModal"
                                              (click)="showeddelKeyModal(approachkeypoint)">
                                              <span class="oi oi-trash"></span></button>
                                            <div class="modal fade" id="mydelKeypointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    Are you sure want to delete the keypoints?
                                                    <button (click)="deletedKeypoint()" data-dismiss="modal"
                                                      class="default-btn btn">Yes
                                                    </button>
                                                    <button type="button" class="default-btn btn ml-2" (click)="hideModal()"
                                                      id="close-modal" data-dismiss="modal">No</button>
                                                    <button type="button" id="close-modal" data-dismiss="modal"
                                                      style="display: none;">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <button class="btn btn-link" (click)="onAppKeyPointsViewMore()" id="view-more"
                                                *ngIf="KeypointList?.length > 3">
                                            View More
                                        </button>
                                        <button class="btn btn-link" (click)="onAppkeyPointsviewless()" style="display: none;"
                                                id="view-less">
                                            View Less
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="alert-danger col-10" *ngIf="approachlistdata"
                    style="display:flex;flex-direction:row;justify-content:center;color:#721C24;background-color:#F8D7DA;">
                    No Data Found
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>