 <!-- <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8" >
             
                <div class="container py-2">
                    <div class="row my-2">
                         edit form column 
                        <div class="col-lg-6">
                            <h1 class="text-center font-weight-light">Edit Profile</h1>
                        </div>
                       <hr/>
                        <div class="col-lg-8 order-lg-1 personal-info">
                            <form #editProfile="ngForm">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">User Name</label>

                                    
                                    <div class="col-lg-9">

                                        
                                        <!-- <input class="form-control" type="text" value="Jane" name="username" [(ngModel)]='currentUser'/>  
                                        <input class="form-control" type="text" name="username" [(ngModel)]="currentUser.username" value="{{currentUser.username}}"> 
                                         <!-- <p>Value: {{currentUser.username }}</p>  
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="email" [(ngModel)]="currentUser.email" value="{{currentUser.email}}">
                                    </div>
                                </div>
                               
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" name="phoneNumber" [(ngModel)]="currentUser.phoneNumber" value="{{currentUser.phoneNumber}}">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-lg-9 ml-auto text-right">
                                        <input type="reset" class="btn btn-outline-secondary" value="Cancel" />
                                        <input type="button" class="btn btn-primary" value="Save Changes" />
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
           
        </div>  
      
    </form>           
  </div>



   -->


   <div class="row" >
    <div class="col-md-12 offset-md-12 mt-12" *ngIf="form">
        <h3>Edit profile </h3>
        <form #f="ngForm" novalidate *ngIf="!isSuccessful" name="form"
              (ngSubmit)="f.form.valid && changePassword()">

            
              <div class="form-group">
                <label for="changePassword">User ID</label>
                <input type="text"
                       name="id"
                      
                       [(ngModel)]="form.id"
                       required
                       #username="ngModel"
                       class="form-control"
                     
                      
                     >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">id is required</div>
                       
                      </div>
            </div>

            <div class="form-group">
                <label for="changePassword">User name</label>
                <input type="username"
             
                       name="username"
                       [(ngModel)]="form.username"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="username"
                   
                       >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">name is required</div>
                       
                      </div>
            </div>
            <div class="form-group">
                <label for="changePassword">User email</label>
                <input type="email"
            
                       name="email"
                       [(ngModel)]="form.email"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="email"
                      
                      >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">email is required</div>
                       
                      </div>
            </div>

            <div class="form-group">
                <label for="changePassword"> Password</label>
                <input type="password"
              
                       name="password"
                       [(ngModel)]="form.password"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="password"
                     
                     >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">password is required</div>
                       
                      </div>
            </div>
           
            <div class="form-group">
                <label for="changePassword"> phoneNumber</label>
                <input type="phoneNumber"
               
                       name="phoneNumber"
                       [(ngModel)]="form.phoneNumber"
                       required
                       #username="ngModel"
                       class="form-control"
                       id="phoneNumber"
                     
                       >
                       <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                        <div *ngIf="username.errors.required">phoneNumber is required</div>
                       
                      </div>
            </div>





            <button type="submit"  class="btn btn-primary">Update <i class="fas fa-save"></i></button>
                    <div class="alert alert-warning" 
                    *ngIf="f.submitted && errorMessage">
                        Updating username failed!
                      </div>
                </form>
        <div class="alert alert-success" *ngIf="sucessmessage">
            Your profile is Updated! 
            
          </div>


    </div>
</div>