<div class="col-md-12">
    <div class="container">
      <div class="">
        <h3>Forgot Password</h3>
        <form #f="ngForm" novalidate *ngIf="!isSuccessful" name="form" (ngSubmit)="forgotPassword()">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
              #email="ngModel" />
              <div class="alert alert-warning" *ngIf="f.submitted && email.invalid">
                Email is required
              </div>
          </div>

          <button type="submit" class="btn btn-primary">Reset Password
            <i class="fas fa-save"></i></button>
          <div class="alert alert-warning" *ngIf="f.submitted && errorMessage">
            Sending Request failed!
          </div>

        </form>
        <div class="extra-btns align-items-center">
          <a class="btn btn-link " href="/login" routerLink="../login">Back to Login Page</a>
        </div>
        <div class="alert alert-success" *ngIf="sucessmessage && isEmailSuccessful">
          Reset Password Link Sent to your Email !

        </div>
        <div *ngIf="isPhonenumber">
          <hr>
          <label for="phoneOTPcode">Please check your phone for a text message with your code.</label><br>
          <input type="text" name="phoneOTPcode" [(ngModel)]="phoneOTPcode" class="form-control">

        </div>

        <div *ngIf="isPhonenumber">
          <br />
          <button class="button" class="btn btn-primary" (click)="verifyOTPCode()">Continue</button>
        </div>
        <div class="alert alert-success" *ngIf="isSuccessful && isOTPSuccessful">
          Your phonenumber is valid you can login.
        </div>


      </div>
    </div>
</div>