<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .text {
      display: block;
      width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .fa-share-alt:before {
      content: "\f1e0";
      padding-right: 5px;
    }

    .fa-share-alt:after {
      font-size: 15px;
    }
  </style>
</head>

<body>
  <div class="row mt-3 d-flex justify-content-between">
    <div class="heading text-dark">Bookmark</div>
    <div class="search-container float-right mr-3">
      <div class="d-flex justify-content-between">
        <input type="text" [(ngModel)]="searchlink" class="form-control d-inline-flex" name="searchlink"
        style="width:80%">
      <span><button type="submit" class="btn btn-primary ml-2" (click)="findByBookmarkLink()">
          <i class="fa fa-search"></i></button></span>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="left col-5">
      <div class="shadow-lg p-3">
        <div class="d-flex">
          <span class="text-dark font-weight-bold" style="font-size:18px">Add Bookmark Category</span>
          <span></span>
        </div>
        <form name="form" class="mt-4" #f="ngForm" (ngSubmit)="f.form.valid && AddBookmark(f,bookmarklink1)">
          <input type="text" class="col-12 bookmark_name" id="bookmarkName" #bookmarkName="ngModel" required
            [(ngModel)]="bookmark.bookmarkName" placeholder="Bookmark Name" name="bookmarkName">
          <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
            {{errorMessage1}}
          </div>
          <div class="alert-danger" *ngIf="f.submitted && bookmarkName.invalid">
            <div *ngIf="bookmarkName.errors.required ">
              BookMark Name is Required
            </div>
          </div>
          <div class="alert-danger" *ngIf=" f.submitted && bookmarkName.invalid">
            <div *ngIf="bookmarkName.errors.required">
            </div>
          </div>

          <!-- <textarea class="col-12 description mt-3" id="description" #description="ngModel" placeholder="Description"
            required [(ngModel)]="bookmark.description" name="description"></textarea> -->
          <!-- <div class="alert-danger" *ngIf="f.submitted && description.invalid">
            <div *ngIf="description.errors.required ">
              Description is Required
            </div>
          </div> -->
          <div class="form-group pt-2">
            <input type="url" class="form-control" placeholder="Bookmark Link" [(ngModel)]="bookmarklink1"
              name="bookmarklink1">
          </div>
          <div class="mt-3 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-add pl-2 pr-2">Add</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7"></div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="form-group shadow-lg p-3" style="min-height: 172px;">
        <div class="row">
          <div class="col-6">
            <span class="text-left">
              <h2 class=" text-dark">Bookmark Category</h2>
            </span>
          </div>
          <div class="col-6">
            <div class="form-group pr-4">
              <input type="text" class="form-control" required (keyup)="changetestValue($event)" placeholder="Search"
              name="bookmarkName">
            </div>
          </div>
        </div>
        <table class="table table-hover " id="bookmarktbl">
          <tbody>
            <tr
              *ngFor="let bookmarks of bookmarklist | paginate: { itemsPerPage: 5, currentPage: p, id:'second' }; let i = index;"
              id="tr_row"
              [ngClass]="[bookmarkNameselectedId == bookmarks.bookmarkId ? 'highlight' : 'none-hightlight']">
              <td class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="cursor:pointer"
                (click)="getBookmarkid(bookmarks,i)">
                <a class="text" style="color:#3f51b5;" *ngIf="!enableEdit || currentbookmarkid != bookmarks.bookmarkId"
                  title="{{bookmarks.bookmarkName}}" [class.hide]="enableEdit && enableEditIndex == i">
                  {{bookmarks.bookmarkName}} </a>
                <input class="form-control" id="bookmarkName" name="bookmarkName"
                  *ngIf="enableEdit && enableEditIndex == i" type="text" [(ngModel)]="currentbookmarkname" />
                <div class="alert-danger"
                  *ngIf="!isSuccessful && bookmarkName.errors.required && enableEdit && enableEditIndex == i">
                  *Bookmark already taken
                </div>
              </td>
              <td>
                <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" style="border: 1px solid transparent;"
                  class="default-btn btn" title="Save" (click)="editBookmark(currentbookmarkid,currentbookmarkname)"
                  type="submit">Save</button>
                <button style="border: 1px solid transparent;" class="rounded-circle default-btn"
                  *ngIf="!enableEdit || currentbookmarkid != bookmarks.bookmarkId" title="Edit"
                  (click)="enableEditMethod(bookmarks, i)">
                  <span class="oi oi-pencil text-white"></span>
                </button>
              </td>
              <td class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <!-- The Modal -->
                <button type="button" style="border: 1px solid transparent;" class="default-btn rounded-circle"
                  data-toggle="modal" data-target="#mydelBookmarkModal" title="Delete"
                  (click)="showdelBookmarkModal(bookmarks)"><span class="oi oi-trash text-white"></span></button>
                <div class="modal fade" id="mydelBookmarkModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal body -->
                      <div class="modal-body">
                        Are you sure want to delete the link?
                        <button (click)="deleteBookmark()" class="default-btn btn ">Ok</button>
                        <button data-dismiss="modal" type="button" class="button default-btn btn ml-3"
                          (click)="hideModal()">Cancel</button>
                        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row text-center">
          <div class="alert-danger mt-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ml-auto mr-auto text-center"
            *ngIf="!bookmarklist.length">
            No Data Found
          </div>
        </div>
        <div class="row fright">
          <pagination-controls (pageChange)="p = $event" id='second' class="float-right mr-3"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div style="background-color:white;">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-step" role="tabpanel" aria-labelledby="nav-step-tab">
            <div class="shadow-lg p-3">
              <h2 class="text-dark" style="text-transform: capitalize;">{{bookmarkNameselected}}</h2>
              <form name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && AddBookmarkLink(fl)">
                <div class="row">
                  <div class="col-9">
                    <div class="form-group">
                      <input type="url" class="form-control" #link="ngModel" id="link" placeholder="Bookmark Link" required
                        [(ngModel)]="bookmarklink.link" name="link">
                      <div class="alert-danger" *ngIf="fl.submitted">
                        <div *ngIf="!isSuccessful && errorMessage" class="alert-danger">
                          {{errorMessage}}
                        </div>
                      </div>
                      <div class="alert-danger" *ngIf="fl.submitted && link.invalid">
                        <div *ngIf="link.errors.required ">
                          *Link required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button class="btn default-btn" type="submit">Add</button>
                  </div>
                </div>
              </form>
              <div class="mt-3" *ngIf="bookmarklinklistVisible">
                <div class="col-10">
                  <div class="card" style="border: none;">
                    <div
                      *ngFor="let bookmarkink of bookmarklinklist | paginate: { itemsPerPage: 5, currentPage: p1, id:'first'};let id = index"
                      style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                      <div class="col-12" style="padding:10px ;border:1px solid #86b2fb">
                        <a (keyup)="changeValue(id, 'link', $event)" href="{{bookmarkink.link}}" contenteditable="false"
                          target="_blank">{{bookmarkink.link}}</a>
                      </div>
                      <div class="card-body" style="padding:5px;background-color:#a5b0d8">
                        <button (click)="onSelectKeypoint(bookmarkink)" type="button" class="fa icon-bg btn"
                          title="Add Keycomments">
                          <span style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myModal"
                            style="color:rgb(255, 255, 255)"><i class="fa fa-comments" aria-hidden="true"></i>
                          </span>
                        </button>&nbsp;
                        <div class="modal fade" id="myModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <form name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                                  && AddKeypoint(bookmarkink.bookmarklinkId,fAddKey)">
                                  <div class="row">
                                    <div class="col-8">
                                      <div class="form-group">
                                        <input type="text" class="form-control" rows="3" placeholder="Key Comments"
                                          type="text" class="form-control" id="keyComments" #keyComments="ngModel" required
                                          [(ngModel)]="keypoint.keyComments" name="keyComments">
                                      </div>
                                      <div class="alert-danger" *ngIf="fAddKey.submitted && keyComments.invalid">
                                        <div *ngIf="keyComments.errors.required ">
                                          *Key Comments required
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-2">
                                      <button type="submit" class="btn default-btn">Add</button>
                                    </div>
                                    <div class="footer">
                                      <button type="button" class="btn default-btn" data-dismiss="modal"
                                        (click)="hide()">Close</button>
                                    </div>
                                  </div>
                                </form>
                                <div *ngIf="iskeySuccessful" class="alert alert-success">{{sucessmessage}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button" class="fa fa-share-alt icon-bg btn" data-toggle="modal"
                          data-target="#shareModal" title="Share" style="font-size: 16px;"
                          (click)="showShareModal(bookmarkink)"></button>&nbsp;
                        <div class="modal fade" id="shareModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select Access
                                  Type</h4>
                                <!-- <button type="button" class="close" style="color: brown;" data-dismiss="modal"
                                  (click)="hide()">&times;</button> -->
                              </div>
                              <div class="modal-body">
                                <form name="form" #fshare="ngForm" (ngSubmit)="shareBookmark(bookmarkLinkShareId,fshare)">
                                  <div class="row">
                                    <div class="col-4">
                                      <label>Access Type</label>
                                    </div>
                                    <div class="col-5">
                                      <select (change)="onchangeAccessType($event.target.value)" class="form-control"
                                        id="accessType" required>
                                        <option selected disabled *ngIf="!sharebookmarklink.accessType">--Select--</option>
                                        <!-- <option>Private</option> -->
                                        <option>Public</option>
                                        <!-- <option>MyChain</option> -->
                                      </select>

                                    </div>
                                  </div>
                                  <div class="alert-danger"
                                      *ngIf="fshare.submitted && sharebookmarklink.accessType =='' && !isSuccessful">
                                      *Select Access Type
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <button type="submit" class="btn default-btn">
                                        share
                                      </button>
                                      <button type="button" class="btn default-btn" data-dismiss="modal" id="shareclose"
                                        (click)="hide()">
                                        Close
                                      </button>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button" class="fa fa-trash-o icon-bg btn" style="font-size: 16px ;" data-toggle="modal"
                          data-target="#mydelModal" (click)="showModal(bookmarkink)" title="Delete"></button>&nbsp;
                        <div class="modal fade" id="mydelModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <!-- Modal body -->
                              <div class="modal-body">
                                Are you sure want to delete the link?
                                <button (click)="deleteBookmarklink()" data-dismiss="modal"
                                  class="default-btn btn ">Yes</button>
                                <button type="button" class=" default-btn btn ml-3" data-dismiss="modal"
                                  (click)="hideModal()">No</button>
                                <button type="button" id="close-modal" data-dismiss="modal" style="display: none">No</button>
                              </div>
                            </div>
                          </div>
      
      
                        </div>
                        <button *ngIf="id!=showCollasalIndex" type="button" class="button icon-bg" style="padding: 2px 7px;"
                          placement="top" title="View Comments" (click)="opentesttoggle(bookmarkink,id)">>>
                        </button>
                        <button *ngIf="id==showCollasalIndex" type="button" class="button icon-bg" style="padding: 2px 7px;"
                          placement="top" title="View Comments" (click)="closetesttoggle(bookmarkink,id)">
                          << 
                        </button>
                      </div>
                      <div *ngIf="id==showCollasalIndex">
                        <div class="card card-body" style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                          <div class="row">
                              <div class="col-12">
                                <tr *ngFor="let keypoint of limitedKeypointList let id = index">
                                    <td class="col-10">
                                      <span>{{keypoint.keyComments}}</span>
                                    </td>
                                    <td>
                                        <button class="btn-3" data-toggle="modal"
                                          data-target="#myEditKeyPointModal" (click)="showEditKeyModal(keypoint)">
                                          <span class="oi oi-pencil text-white"></span>
                                        </button>
                                        <div class="modal fade" id="myEditKeyPointModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <!-- <button type="button" class="close" data-dismiss="modal"
                                              (click)="hide()">&times;</button> -->
        
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                <form name="form" #fEdit="ngForm"
                                                  (ngSubmit)="fEdit.submitted && EditKeypoint(editKeyComments)">
                                                  <div class="row">
                                                    <div class="col-8">
                                                      <div class="form-group">
                                                        <input type="text" class="form-control" rows="3"
                                                          placeholder="Key Comments" type="text" class="form-control"
                                                          id="keyComments" #keyComments="ngModel" required
                                                          [(ngModel)]="editKeyComments" name="keyComments">
                                                      </div>
                                                      <div class="alert-danger" *ngIf="fEdit.submitted && keyComments.invalid">
                                                        <div *ngIf="keyComments.errors.required ">
                                                          *Key Comments required
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-2">
                                                      <button type="submit" data-dismiss="modal"
                                                        (click)="prevent(editKeyComments)"
                                                        class="btn btn-primary">Add</button>
                                                    </div>
                                                  </div>
                                                </form>
                                                <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn-3"
                                          data-toggle="modal" data-target="#mydelKeypointModal"
                                          (click)="showdelKeyModal(keypoint)">
                                          <span class="oi oi-trash text-white"></span></button>
                                        <div class="modal fade" id="mydelKeypointModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                Are you sure want to delete the keycomments?
                                                <button (click)="deleteKeypoint()" data-dismiss="modal"
                                                  class="btn default-btn">Yes</button>
                                                <button type="button" class="btn default-btn ml-3" (click)="hideModal()"
                                                  id="close-modal" data-dismiss="modal">No</button>
                                                <button type="button" id="close-modal" data-dismiss="modal"
                                                  style="display: none;">Close</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </td>
                                  </tr>
                                <button class="btn btn-link" (click)="onKeyPointsViewMore()" id="view-more"
                                  *ngIf="KeypointList.length > 3">
                                  View More
                                </button>
                                <button class="btn btn-link" (click)="onkeyPointsviewless()" style="display: none;"
                                  id="view-less">
                                  View Less
                                </button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row fright">
                      <pagination-controls (pageChange)="p1 = $event" id='first' class="float-right mr-3"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>