.btn-primary{
  background-color: #509ef1!important;
  border-color: #509ef1!important;
  font-size: 15px;
  margin-top: -4px;
}
.heading{
  font-size: 22px;
  font-weight: 600;
}
.heading-add{
  font-size: 18px;
  font-weight: 600;
}
.bookmark_name,.description {
  border: 0!important;
  outline: 0!important;
  background: transparent!important;
  border-bottom: 1px solid #3a3838!important;
  border-radius: 0;
}
.bookmark_name:focus, .description:focus{
  border: 0!important;
  outline: 0!important;
  background: transparent!important;
  border-bottom: 1px solid #509ef1!important;
  border-radius: 0;
}
.btn-add{
  background-color: #509ef1;
  color: #fff;
  font-weight: 600;
}
button{
  border-radius: 0; 
}
.default-btn{
  background-color:#509ef1;
  color: white;
  border: 1px solid transparent;
}
.default-btn:focus,.default-btn:active{
  outline: 1px solid transparent;
}
.icon-bg {
  background-color: #509ef1;
  border: 1px solid #509ef1;
  color: #fff;
  padding: 6px;
}

.bookmark-cat{
  font-size: 15px;
  font-weight: 600;
}
.oi-pencil{
  color: #509ef1;
}
.oi-trash{
  color: #509ef1;
}
.page-primary-action-btn{
  background-color: #509ef1;
  color: #fff;
  font-weight: 600;
  border: 1px solid #509ef1;
}
.button4 {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {
background-color: #e7e7e7;
}
.link-button{
  background-color: #1245a8;
  border: 1px solid #1245a8;
  color: #fff;
  padding: 6px;
}
.highlight{
  background: #c5c9e0;
}
.left {
  float: left;
  width: 250px;

}

.fright{
  display: flex;
  justify-content: flex-end;
}

.table{
  background-color:rgb(119 102 253 / 15%);
    width:92%;
    margin:1rem;
    border-radius:3px;
}

.table td, .table th{
  padding:8px;
}

.btn-3{
  background-color:#7086d9;
  color:#ffffff;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.btn-3:hover{
  background-color:#07689f;
  border: 2px solid #07689f;
}