<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    /> 
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    
      <div class="form-group">
        <label for="email">Email ID / Phone Number</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <span
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && email.invalid"
        >
          Email ID is required!
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group" style="color:#3f51b5;font-weight:500;">
        <div class="extra-btns align-items-center">
          <a  [routerLink]="'./request-reset'" class="btn btn-link " >Forgot password</a>
          <a  [routerLink]="'./register'" class="btn btn-link "  (click)="SignUp()">Sign Up</a>
         
      </div>
        <button class="btn btn-primary btn-block" style="background-color:#3f51b5;">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
      
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn" >
      Logged in as {{ roles }}.
    </div>
    <div *ngIf="isPhonenotconfirmed && isLoginFailed ">
      <hr>
      <label for="phoneOTPcode">Enter Sms Verification Code for your phone</label><br>
      <input type="text" name="phoneOTPcode" [(ngModel)]="phoneOTPcode"
       class="form-control"  >
    <br/>
      <button class="btn btn-primary"
      (click)="verifyOTPCode()">Verify</button>
    </div>
   
    <div class="alert alert-success" *ngIf="isSuccessful && isOTPSuccessful">
      Your phonenumber is valid you can login.
    </div>

  </div>
</div>-->
