<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .btn-view {
      background-color: #007bff !important;
    }
  </style>

</head>

<h2 class="mt-4">Team List</h2>
<!-- <div *ngIf="!noticationstatus" > 
  
    <a>   Notification <span class="badge badge-primary badge-pill">{{notication}}</span></a>
</div> -->
<div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pl-0">
      <div class="alert alert-info text-center font-weight-bold" role="alert">
        <a href="/teamsetting"> Notification<span class="badge badge-primary badge-pill ml-2">{{notication}}</span></a>
      </div>
    </div>
  </div>
</div>




<!---half width-->
<div class="list-group">
  <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pl-0">
    <div class="member_list"
      *ngFor="let TeamLists of teamList | paginate: { itemsPerPage: 5, currentPage: p }; let id=index;"
      style="background-color:lavender;border-color: cornflowerblue;font-size:15px;">
      <div class="shadow p-3 mb-3 bg-lavender rounded box">
        <div class="row" style="background-color:lavender;border-color: cornflowerblue;  color:#3f51b5; ">
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            {{TeamLists.teamname}}
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
            <div class="row" style="padding-left: 60%;">
              <button class="btn" class="button view" data-toggle="modal" placement="top" ngbTooltip="View Team"
                data-target="#myEditKeyPointModal" (click)="getteamShareDetail(TeamLists.teamId)">
                <span class="oi oi-eye"></span>
              </button>
              <button class="btn" *ngIf="!enableEdit" (click)="enableEditMethod(TeamLists,id)" class="button edit"
                data-toggle="modal" placement="top" ngbTooltip="Edit Team" data-target="#myEditKeyPointModal">
                <span class="oi oi-pencil"></span>
              </button>
              <div class="modal fade" id="myEditKeyPointModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form name="form" #f1Edit="ngForm"
                        (ngSubmit)="f1Edit.submitted && editTeam()">
                        <div class="row">
                          <div class="col-8">
                            <div class="form-group">
                              <input id="teamname" name="teamname" #teamname="ngModel"
                                type="text" [(ngModel)]="team.teamName" style="width: 90%;
                                height: 40px;"/>
                            </div>
                            <div class="text-danger" *ngIf="f1Edit.submitted && !isSuccessful">
                              <div *ngIf="this.team.teamName === ''">
                                *Team Name required
                              </div>
                              <div class="text-danger">
                                {{errorMessage}}
                              </div>
                            </div>
                          </div>
                          <div>
                            <button id="saveBtn"
                              class="btn std" type="submit">
                              Save
                            </button>
                          </div>
                          <div class="ml-2">
                            <button type="button" id="close-modal" data-dismiss="modal"
                                     class="btn std" (click)="hideModal()">
                                Close
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" (click)="showdelTeamModal(TeamLists)" placement="top" ngbTooltip="Delete Team"
                class="button delete" data-toggle="modal" data-target="#mydelTeamModal">
                <span class="fa fa-trash-o"></span>
              </button>
              <div class="modal fade" id="mydelTeamModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body" style="display: flex; align-items: center;">
                      Are you sure want to delete?
                    <!-- </div> -->
                    <!-- Modal footer -->
                    <!-- <div class="modal-footer"> -->
                      <button (click)="deleteTeam()" class="btn std ml-2">
                        Yes
                      </button>
                      <button  class="btn std ml-2" data-dismiss="modal">
                        No
                      </button>
                      <!-- (click)="deleteBookmark()" -->
                      <!-- <button type="button" class="btn btn-danger" 
                            (click)="hideModal()">Close</button>
                        
                          <button type="button" id="close-modal" data-dismiss="modal" 
                          style="display: none">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
              <button class="inviteicon" id="invitemodal" data-target="#inviteModal" data-toggle="modal" ngbTooltip="invite Member"
              (click)="showInviteModal(TeamLists)">
                <i class="material-icons" style="font-size: 20px;">person_add</i>
              </button>
              <div class="modal fade" id="inviteModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body invite">
                      <form name="form" #fAddTeamInvite="ngForm" (ngSubmit)="fAddTeamInvite.form.valid && AddTeamMember(fAddTeamInvite)">
                        <!-- <div *ngIf="isTeamSuccessful && !isTeamexist"> -->
                           <h1 class="shadow-lg-md-sm p-3 mb-2 bg-white" style="color:black;display: flex;align-items: center;justify-content: center;">Invite Member</h1>
                           <hr>
                           <div class="row shadow-lg-sm-md bg-white" style="margin-left:1px;margin-right:1px;">
                              <div class="col-12">
                                 <div class="form-group">
                                    <div class="col">
                                       <div class="row col-4 mb-0 pb-0" style="color: black; display: flex;">
                                          <label class="mb-0">
                                             <h2>Email </h2>
                                          </label>
                                       </div>
                                       <div class="row col-8 mt-0">
                                          <input type="emailId" class="form-control" id="emailId" name="emailId" required
                                             #emailId="ngModel" [(ngModel)]="teamMember1.emailId" placeholder="Enter your email">
                                          <br />
                                          <div class="text-danger" *ngIf="fAddTeamInvite.submitted && 
                                          emailId.invalid">
                                             <div *ngIf="emailId.errors.required ">
                                                * Email Required
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <br />
                                    <div>
                                      <div class="form-group">
                                         <div class="col">
                                            <div class="row col-6" style="color: black;">
                                               <label>
                                                  <h2>Team Role</h2>
                                               </label>
                                            </div>
                                            <div class="row col-12">
                                               <select (change)="onchange($event.target.value)" name="teamRole" class="form-control"
                                                  id="teamRole">
                                                  <option disabled *ngIf="team.accessroleid==0" selected>--Select--</option>
                                                  <option class='form-control' *ngFor='let teamRole of teamrolelist'
                                                     [value]="teamRole.accessroleId">
                                                     {{teamRole.accessroleName}}</option>
                                               </select>
                                               <div class="text-danger" *ngIf="fAddTeamInvite.submitted && 
                                             !team.accessroleid">
                                               *access role required
                                           </div>
                                            </div>
                                          </div>
                                      </div>
                                   </div>
                                    <div class="col">
                                       <div class="row col-4" style="color: black;">
                                          <label>
                                             <h2>Message</h2>
                                          </label>
                                       </div>
                                       <div class="row col-8">
                                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                          name="exampleFormControlTextarea1"
                                          #message="ngModel" [(ngModel)]="teamMember1.message"></textarea>
                                       </div>
                                    </div>
                                    <br />
                                    <button type="submit" class="btn btn-primary" style="background-color: #509ef1;
                                    color: #fff;
                                    font-weight: 500;border-radius: 0px;">
                                    Send
                                  </button>
                                    <button type="button" class="btn btn-primary ml-2" style="background-color: #509ef1;
                                    color: #fff;font-weight: 500;border-radius: 0px;" data-dismiss="modal" (click)="hideInviteModal(fAddTeamInvite)">
                                    Close
                                  </button>
                                 </div>
                                 <div class="form-group">
                                    <div class="row">
                                       <div class="col-8">
                                          <div *ngIf="isSuccessful && isInviteSuccessful" class="alert alert-success">
                                             {{sucessmessage}}
                                          </div>
                                          <div *ngIf="fAddTeamInvite.submitted && isFailure && errorMessage" class="alert alert-danger">
                                             {{errorMessage}}
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        <!-- </div> -->
                        <br />
                     </form>
                     <!-- <div class="text-success" *ngIf="isSuccessful && isInviteSuccessful">
                      {{sucessmessage}}
                     </div>
                     <div class="text-success" *ngIf="!isSuccessful && !isInviteSuccessful && isFailure">
                      {{errorMessage}}
                     </div> -->
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!---half width-->
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pl-0 mt-3 text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>