.teamlist_tbl{
    border: 1px solid #d4cefd;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}
.teamlist_tbl th{
    border: 1px solid #bbb2f4;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    color:#3f51b5;
}
.teamlist_tbl td{
    border: 1px solid #d4cefd;
    padding: 10px; color:#3f51b5;
}
.tbl-header{
    background-color: #d4cefd;
}
a {
    color: #007bff!important;
    cursor: pointer;
}
.alert-info{
    font-size: 16px;
}
.view{
    background: #509ef1;
    border: 1px solid #509ef1;
    border-radius: 4px;
    color: #ffffff;
    padding: 3px 7px;
}
.edit{
  
    background-color: #509ef1;
    border: 1px solid #509ef1;
    border-radius: 4px;
    color: #ffffff;
    padding: 3px 7px;
    margin-left: 2px;
}
.delete{
    border: 1px solid #509ef1;
    border-radius: 4px;
    background-color: #509ef1;
    padding: 3px 7px;color: #ffffff;
    margin-left: 2px;
}
.hide{
       display: none!important;
     }
.form-control{
        border:1px solid #509ef1;
        font-size:15px;
        width: 300px;
        height:40px;
      }

      button.std{
        background-color: #509ef1; 
        color: #fff; 
        font-weight: 600; 
        border-radius: 0px;
      }

      /* .modal-body{
        font-size:15px;
        color: black;
      } */

      .form-control{
        border:1px solid #3f51b5;
        font-size:15px;
      }

      .row {
        display: flex;
      }

      .invite{
          width:100%;
          
      }
      .inviteicon{
        background-color: #509ef1;
        border: 1px solid #509ef1;
        border-radius: 4px;
        color: #ffffff;
        padding: 3px 4px;
        margin-left: 2px;
    }

    .alert{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }


