
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Change Password</h3>
        <form #f="ngForm" novalidate *ngIf="!isSuccessful" name="form"
              (ngSubmit)="f.form.valid && changePassword()">

            <div class="form-group">
                <label for="changePassword">New Password</label>
                <input type="password"
                       name="password"
                       [(ngModel)]="form.password"
                       required
                       #password="ngModel"
                       class="form-control"
                       id="password"
                       placeholder="New Password">
                       <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>
            </div>
           
            <button type="submit"  class="btn btn-primary">Change Password <i class="fas fa-save"></i></button>
                    <div class="alert alert-warning" 
                    *ngIf="f.submitted && errorMessage">
                        Updating password failed!
                      </div>
                </form>
        <div class="alert alert-success" *ngIf="sucessmessage">
            Your Password is Updated! 
            
          </div>


    </div>
</div>