body {
  text-decoration: none;
  text-decoration-color: #ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.fas {
  font-family: "Font Awesome 5 Free";
}

.bookmarkname {
  border: 0!important;
  outline: 0!important;
  background: transparent!important;
  border-bottom: 1px solid #3a3838!important;
  border-radius: 0;
}

* {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

/* Create a column layout with Flexbox */

.row {
  display: flex;
}

/* Left column (menu) */

.left {
  /* flex:22%; */
  padding: 10px;
  margin-right: 10px;
  padding-left: 20px;
  width: 300px;
  background-color: #e6e6fa;
  color: #3f51b5;
}

h2 {
  /* color: #3f51b5; */
  color:#000000;
}

.btn-link {
  color: #404ab9;
}

.select.form-control:not([size]):not([multiple]) {
  margin: 10px;
}

/* .left h2 {
    padding-left: 5px;
    margin: 5px;
  }
  
  .form-control{
    margin: 5px;
  } */

/* Right column (page content) */

/* Style the search box */

/* #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  } */

.alert-danger {
  color: white;
  background-color: #abbdc5;
  border-style: none;
  padding: 7px;
  border-radius: 5px;
}

/* .btn-group-sm>.btn, .btn-sm{
    padding:5px 10px;
  } */

.btn-danger {
  background-color: #7086d9;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* .btn-danger:hover {
  background-color: #e7e7e7;
  
  
  } */

.btn-danger:active {
  background-color: #910000;
}

.btn-3 {
  background-color: #509ef1;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.default-btn {
  background-color: #509ef1;
  color: white;
}

.btn-3:hover {
  background-color: #07689f;
  border: 2px solid #07689f;
}

.modal-body {
  font-size: 15px;
}

/* .btn-danger{
    padding:2px 7px;
    border: none;
    margin-top: 3px;
    margin-left:7px;
  } */

/* .table td, .table th{
    padding:8px;
  }
  
  .table-bordered td, .table-bordered th{
    border:none
  }
  .table td, .table th{
    vertical-align:top;
  }
  .table td, .table th{
    border-top:none
  }
  .table-bordered{
    background-color:white;
   
  } */

/* .table td, .table th{
    border-top:1px solid #3f51b552!important
  } */

.text-center {
  text-align: left;
}

.table {
  background-color: rgb(119 102 253 / 15%);
  border-radius: 3px;
}

.close {
  margin-left: 470px;
}

/* .tab{
    background-color:#e7e4f7;
    padding:5px;
    border:10px solid#edf5f8;
  } */

  .fa{
    border: none;
    margin-right: 10px;
  }

  .link-button {
    background-color: #1245a8;
    border: 1px solid #1245a8;
    color: #fff;
    padding: 6px;
  }
/* .form-control{
      font-size:17px;
      border:2px solid #455aa7;
    } */

.button:focus {
  outline: none;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4:hover {
  background-color: #d5d8dc;
  /* color: white; */
}

.btn-primary {
  padding: .100rem .38rem;
  background-color: #3f51b5;
  color: white;
}

.btn-prime {
  padding: .100rem .40rem;
  color: #455aa7;
  /* margin-top: 5px; */
  border-radius: 50px;
  /* background-color: #455aa7; */
  border: 2px solid #455aa7;
  font-size: 15px;
  font-weight: 600;
  margin-right: 15px;
}

.btn-prime:hover {
  background-color: #455aa7;
  color: white;
}

.teambookmark {
  text-align-last: center;
  margin: 10px;
  color: black;
}

.teamname {
  background-color: #e5e6fa;
  padding: 15px;
  margin: 10px;
  margin-right: 30px;
  color: #3442bc;
}

.h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.card1 {
  /* width:430px; */
  border: 1px solid #7086d9;
  background-color: white;
  box-shadow: 2px 2px 4px 0px #66666673;
}

/* Style the navigation menu inside the left column 
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color:white;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  
      .dropdown-menu {
      float:left;
  }
  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height:100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 5px;
   
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  */

.highlighted {
  background-color: rgba(0, 0, 0, .075)!important;
}

.text {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hide {
  display: none!important;
}

.modal-body {
  color: #000000;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.add{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.table{
  background-color:rgb(119 102 253 / 15%);
  width:92%;
  margin:1rem;
  border-radius:3px;
}

.table td, .table th{
  padding:8px;
}

button.std{
  background-color: #509ef1; 
  color: #fff; 
  font-weight: 600; 
  border-radius: 0px;
}

.fright{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.shareModal{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: flex-end;
}

.bookmark{
  text-align-last: left; 
  margin-top: 10px;
  margin-left: 10px;
  color:black;
}

.teamname{
  background-color:#fafafa;
  padding:15px;
  margin:10px;
  margin-right:20px;
  color:#3442bc;
 }

 .category{
  font-size: 20px;
  font-weight: 600;
  color:#000000;
}

.fright{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}