<!DOCTYPE html>
<html>

<head>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="bookmark">
    <h2>Team Bookmark</h2>
  </div>
  <div class="row teamname shadow-lg bg-white rounded">
      <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
        <label>
          <h2 class="pt-4">Team Name </h2>
        </label>
      </div>
      <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4 pt-3" style="cursor: pointer;">
        <select (change)="onchange($event.target.value)" name="teamName" class="form-control pt-2"
          id="teamName">
          <option [ngValue]="undefined" disabled selected>Select Item</option>
          <option class='form-control' *ngFor='let teams of teamlist' [value]="teams.teamId">
              {{teams.teamname}}
          </option>
        </select>
      </div>
      <div class="col-2 col-sm-2 col-md-6 col-lg-6 col-xl-6 pt-4">
        <a placement="top" ngbTooltip="Invite Team Member" style="width:20px;cursor: pointer;"
            (click)="AddInviteToTeam()"><i class="material-icons text-dark">person_add</i></a>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div *ngIf="isSubmitted" class="alert text-danger text-center" role="alert">
          *Please Select Team Name
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <h2 class="mt-2">Bookmark Name</h2>
          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid  && team.teamName!=='' && AddBookmark(f)">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <input type="text" class="form-control bookmarkname" id="teambookmarkName" #teambookmarkName="ngModel"
                    required [(ngModel)]="teambookmark.teambookmarkName" placeholder="Enter Bookmark Category"
                    name="teambookmarkName">
                </div>
                <div class="text-danger" *ngIf="f.submitted && !isSuccessful">
                  {{errorMessage}}
                </div>
              </div>
            </div>
            <div class="row add pr-4 pb-2">
              <button type="submit" style="background-color: #509ef1;
                          color: #fff; font-weight: 600; border-radius: 0px;" class="btn">
                Add
              </button>
            </div>
            <div class="col-4 pl-0">
              <div class="text-danger" *ngIf="f.submitted">
                <div *ngIf="f.submitted &&(teambookmarkName.invalid ||teambookmarkName.errors)">
                  *Bookmark required
                </div>
                <div class="text-danger" *ngIf="team.teamName==''">
                  *Select a Team
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"></div>
  </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-2">
                <h2><span class="text-left category">Bookmark Category</span></h2>
            </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group">
              <input type="text" class="form-control" required (keyup)="changetestValue($event)"
                placeholder="Search Bookmark Category" name="teambookmarkName">
            </div>
          </div>
          </div>
          <div class="row">
            <table class="table table-hover">
              <tbody>
                <tr
                  *ngFor="let bookmarks of bookmarklist  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
                  [class.highlighted]="bookmarks.teambookmarkId === bookmarkNameselectedId">
                  <td class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="cursor:pointer">
                    <a style="color:#3f51b5;" ngbTooltip="{{bookmarks.teambookmarkName}}"
                      [class.hide]="enableEdit && enableEditIndex == i" (click)="getBookmarkid(bookmarks,i)"
                      class="text">
                      {{bookmarks.teambookmarkName}}</a>
                    <input class="form-control" id="teambookmarkName" name="teambookmarkName"
                      #teambookmarkName="ngModel" *ngIf="enableEdit && enableEditIndex == i" type="text"
                      [(ngModel)]="bookmarks.teambookmarkName" />
                    <div class="text-danger"
                      *ngIf="!isSuccessful && teambookmarkName.errors && enableEdit && enableEditIndex == i">
                      *Bookmark Category name is already taken!
                    </div>
                  </td>
                  <td>
                    <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn std"
                      (click)="editBookmark(bookmarks.teambookmarkId,bookmarks.teambookmarkName)"
                      type="submit">Save</button>
                    <button class="btn-3" style="background-color:#509ef1"
                      *ngIf="!enableEdit||selectedbookmarkid != bookmarks.teambookmarkId" ngbTooltip="Edit"
                      (click)="enableEditMethod(bookmarks, i)">
                      <span class="oi oi-pencil"></span>
                    </button>
                  </td>
                  <td class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button type="button" style="background-color:#509ef1" class="btn btn-3 btn-sm" data-toggle="modal"
                      data-target="#mydelBookmarkModal" ngbTooltip="Delete" (click)="showdelBookmarkModal(bookmarks)">
                      <span class="oi oi-trash"></span></button>
                    <div class="modal fade" id="mydelBookmarkModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!--  Modal body -->
                          <div class="modal-body">
                            Are you sure want to delete the link?
                            <button (click)="deleteBookmark()" style="background-color: #509ef1"
                              class="button default-btn btn">Yes</button>
                            <!-- <span class="oi oi-trash"></span> -->
                            <button type="button default-btn " class="button default-btn btn ml-3"
                              (click)="hideModal()">No</button>

                            <button type="button default-btn" id="close-modal" data-dismiss="modal"
                              style="display: none">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr class="text-center">
                  <div class="text-danger" style="background-color:white;" *ngIf="!bookmarklist?.length">
                    No Data Found
                  </div>
                </tr>
              </tbody>
            </table>
            <div class="col-12 fright">
              <pagination-controls (pageChange)="p = $event" class="float-right mr-3"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <div class="shadow-lg p-3" style="min-height: 180px">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h2 class="mt-2 text-dark">{{bookmarkNameselected}}</h2>
            </div>
          </div>
          <div class="row text-center mb-4"  *ngIf="!bookmarklist.length">
            <div class="text-danger mt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto text-center">
              No Data Found
            </div>
          </div>
          <div *ngIf="bookmarklist.length>0">
          <form name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && AddBookmarkLink(fl)">
            <div class="row">
              <div class="col-12 mt-3">
                <!-- <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div> -->
              </div>
              <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="form-group">
                  <!-- (keyup)="onKeyUpEvent($event)"-->
                  <input type="text" class="form-control" #teambookmarkLink="ngModel" id="teambookmarkLink"
                    placeholder="Bookmark Link" required [(ngModel)]="bookmarklink.teambookmarkLink"
                    name="teambookmarkLink" required>
                  <div class="text-danger text-center" *ngIf="fl.submitted && teambookmarkLink.invalid">
                    <div *ngIf="teambookmarkLink.errors.required ">
                      *Link required
                    </div>
                  </div>
                  <div class="text-danger" *ngIf="fl.submitted && !isSuccessful">
                    {{errorMessage}}
                  </div>
                </div>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <button class="btn"
                  style="background-color: #509ef1; color: #fff; font-weight: 600; border-radius: 0px;" type="submit">
                  Add
                </button>
              </div>
            </div>
          </form>
          </div>
          <div class="row" *ngIf="bookmarklinklistVisible">
            <div class="col-10">
              <div class="card border-0">
                <div *ngFor="let bookmarkink of bookmarklinklist let id = index"
                  style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                  <div class="col-12" style="padding:10px ;border:1px solid #86b2fb">
                    <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                      <div class="col-11"
                        style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                        <a (keyup)="changeValue(id, 'teambookmarkLink', $event)" style="color:#3f51b5" target="_blank"
                          href="{{bookmarkink.teambookmarkLink}}">
                          {{bookmarkink.teambookmarkLink}}
                        </a>
                      </div>
                      <div class="card-body" style="padding:5px;background-color:#7086d9">
                        <button type="button" class="fa fa-comments link-button" title="Add keypoints"
                          style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myModal" data-target="#myModal"
                          (click)="onSelectKeypoint(bookmarkink)" style="color:rgb(255, 255, 255)">
                        </button>
                        <div class="modal fade" id="myModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <form name="form" #fAddKey="ngForm"
                                  (ngSubmit)="fAddKey.form.valid && AddKeypoint(bookmarkink.teambookmarkLinkId,fAddKey)">
                                  <div class="row">
                                    <div class="col-8">
                                      <div class="form-group mb-0">
                                        <input type="text" class="form-control" rows="3" placeholder="Enter Keypoints"
                                          type="text" class="form-control" id="teamkeyComments"
                                          #teamkeyComments="ngModel" required [(ngModel)]="keypoint.teamkeyComments"
                                          name="teamkeyComments">
                                      </div>
                                      <div class="text-danger" *ngIf="fAddKey.submitted && teamkeyComments.invalid">
                                        <div *ngIf="teamkeyComments.errors.required ">
                                          *Key points required
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-2 ">
                                      <button type="submit" class="btn action-button std">
                                        Add
                                      </button>
                                    </div>
                                    <div class="footer">
                                      <button type="button" class="btn std" data-dismiss="modal" (click)="hide()"
                                        id="closekeymodal">
                                        Close
                                      </button>
                                    </div>
                                  </div>
                                </form>
                                <div *ngIf="iskeySuccessful" class="alert-success mt-2">
                                  {{sucessmessage}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button" class="fa fa-share-alt link-button" data-toggle="modal"
                          data-target="#shareModal" title="Share" style="font-size: 16px;"
                          (click)="showShareModal(bookmarkink)">
                        </button>
                        <div class="modal fade" id="shareModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">
                                  Select Access Type
                                </h4>
                              </div>
                              <div class="modal-body">
                                <form name="form" #fshare="ngForm"
                                  (ngSubmit)="shareBookmark(teambookmarkLinkId,fshare)">
                                  <div class="row">
                                    <div class="col-4">
                                      <label>Access Type</label>
                                    </div>
                                    <!-- <div *ngIf="isSuccessful">{{sucessmessage}}</div>
                                        <div *ngIf="!isSuccessful">*Select Access Type</div> -->
                                    <div class="col-5">
                                      <select (change)="onchangeAccessType($event.target.value)" class="form-control"
                                        id="accessType" name="accessType" required>
                                        <option selected disabled *ngIf="!sharebookmarklink.accessType">--Select--</option>
                                        <option>Public</option>
                                        <!-- <option>MyChain</option> -->
                                      </select>
                                    </div>
                                  </div>
                                  <div class="text-danger" *ngIf="fshare.submitted && !sharebookmarklink.accessType && !isSuccessful">
                                      *Access Type required
                                  </div>
                                  <div class="shareModal">
                                    <button type="submit" class="btn std">
                                      share
                                    </button>
                                    <button type="button" class="btn std ml-2" data-dismiss="modal" (click)="hide()"
                                      id="shareclose">
                                      Close
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button" class="fa fa-trash-o link-button" style="font-size: 16px;"
                          data-toggle="modal" data-target="#mydelModal" (click)="showModal(bookmarkink)"
                          title="Delete">
                        </button>
                        <div class="modal fade" id="mydelModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                Are you sure want to delete the link?
                                <button (click)="deleteBookmarklink(bookmarkink.teambookmarkLinkId)"
                                  data-dismiss="modal" class="btn std m-2">
                                  Yes
                                </button>
                                <button type="button" class="btn std m-2" data-dismiss="modal" id="closedelmodal">
                                  No
                                </button>
                                <button type="button" id="close-modal" data-dismiss="modal" style="display: none">
                                  No
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button *ngIf="bookmarkink.teambookmarkLinkId!=showCollasalIndex" type="button"
                          class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                          (click)="opentesttoggle(bookmarkink,bookmarkink.teambookmarkLinkId)">
                          >>
                        </button>
                        <button *ngIf="bookmarkink.teambookmarkLinkId==showCollasalIndex" type="button"
                          class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                          (click)="closetesttoggle(bookmarkink,bookmarkink.teambookmarkLinkId)">
                          << </button>
                            <div *ngIf="bookmarkink.teambookmarkLinkId==showCollasalIndex" class="key">
                              <div class="card card-body"
                                style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                <div class="row">
                                  <div class="col-12">
                                    <tr *ngFor="let keypoint of limitedKeypointList let id = index">
                                      <td class="col-sm-10" style="color:black">
                                        <div class="m-2 rounded">
                                          {{keypoint.teamkeyComments}}
                                        </div>
                                        <hr>
                                      </td>
                                      <td>
                                        <button class="btn " class="btn-3" data-toggle="modal"
                                          data-target="#myEditKeyPointModal" (click)="showEditKeyModal(keypoint)">
                                          <span class="oi oi-pencil"></span>
                                        </button>
                                        <div class="modal fade" id="myEditKeyPointModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-body">
                                                <form name="form" #fEdit="ngForm"
                                                  (ngSubmit)="fEdit.submitted && EditKeypoint(keypoint.teamkeyComments)">
                                                  <div class="row">
                                                    <div class="col-8">
                                                      <div class="form-group">
                                                        <input type="text" class="form-control" rows="3"
                                                          placeholder="Key points" type="text" class="form-control"
                                                          id="teamkeyComments" #teamkeyComments="ngModel" required
                                                          [(ngModel)]="keypoints.teamkeyComments"
                                                          name="teamkeyComments">
                                                      </div>
                                                      <div class="alert-danger"
                                                        *ngIf="!isSuccessful &&teamkeyComments.invalid">
                                                        <div *ngIf="teamkeyComments.errors">
                                                          *Key Comments required
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div>
                                                      <button type="submit"
                                                        (click)="keypoints.teamkeyComments!='' && prevent(keypoints.teamkeyComments)"
                                                        class="btn std">
                                                        Add
                                                      </button>
                                                      <button type="button" id="stepkeymodal" data-dismiss="modal"
                                                        class="btn std ml-2">
                                                        Close
                                                      </button>
                                                    </div>
                                                  </div>
                                                </form>
                                                <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td>
                                        <button type="button" class="btn-3" data-toggle="modal"
                                          data-target="#mydelKeypointModal" (click)="showdelKeyModal(keypoint)">
                                          <span class="oi oi-trash"></span>
                                        </button>
                                        <div class="modal fade" id="mydelKeypointModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                Are you sure want to delete the keypoints?
                                                <button (click)="deleteKeypoint()" data-dismiss="modal"
                                                  class="btn std m-2">
                                                  Yes
                                                </button>
                                                <button type="button" class="btn std m-2" id="close-modal"
                                                  data-dismiss="modal">
                                                  No
                                                </button>
                                                <button type="button" class="std" id="close-modal" data-dismiss="modal"
                                                  style="display: none;">
                                                  Close
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <button class="btn btn-link" (click)="onKeyPointsViewMore()" id="view-more"
                                      *ngIf="KeypointList.length > 3">
                                      View More
                                    </button>
                                    <button class="btn btn-link" (click)="onkeyPointsviewless()" style="display: none;"
                                      id="view-less">
                                      View Less
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="bookmarklinklist?.length===0" class="text-danger text-center">
                  No Boorkmark Link Available
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>