<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="teambookmark">
    <h2>Team Challenge </h2>
  </div>

  <div class="row teamname shadow-lg bg-white rounded">
    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <label>
        <h2 class="pt-4">Team Name </h2>
      </label>
    </div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4 pt-3" style="cursor: pointer;">
      <select (change)="onchange($event.target.value)" name="teamName" formControlName="teamName"
        class="form-control pt-2" id="teamName">
        <option [ngValue]="undefined" disabled selected>Select Item</option>
        <option class='form-control' *ngFor='let teams of teamlist' [value]="teams.teamId">
          {{teams.teamname}}
        </option>
      </select>
    </div>
    <div class="col-2 col-sm-2 col-md-6 col-lg-6 col-xl-6 pt-4">
      <a placement="top" ngbTooltip="Invite Team Member" style="width:20px;cursor: pointer;color: black;"
        (click)="AddInviteToTeam()"><i class="material-icons ">person_add</i></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div *ngIf="isSubmitted " class="alert alert-danger text-center" role="alert">
        *Please Select Team Name
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2 class="pl-3">TeamChallenge</h2>
        <form name="form" #f="ngForm" (ngSubmit)='f.form.valid && team.teamName!=="" && AddTopic(f)'>
          <input type="text" class="form-control challengename" id="teamchallengeName" #teamchallengeName="ngModel"
            required [(ngModel)]="teamchallenge.teamchallengeName" placeholder="Enter Challenge Name"
            name="teamchallengeName">
          <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
            {{errorMessage}}
          </div>
          <div class="alert-danger" *ngIf="f.submitted">
            <div *ngIf="f.submitted &&(teamchallengeName.invalid ||teamchallengeName.errors)">
              *Challenge required
            </div>
            <div class="alert-danger" *ngIf='team.teamName===""'>
              *Select a Team
            </div>
          </div>
          <textarea class="form-control mt-2 description" id="description" #description="ngModel"
            placeholder="Enter Description" required [(ngModel)]="teamchallenge.description"
            name="description"></textarea>
          <div class="alert-danger" *ngIf="f.submitted && description.invalid">
            <div *ngIf="f.submitted && description.errors">
              *Description required
            </div>
          </div>
          <div class="mt-3 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-add pl-2 pr-2 std m-2">Add</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"></div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-2">
            <h2><span class="text-left goal-cat">TeamChallenge</span></h2>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
            <div class="form-group">
              <input type="text" class="form-control" required (keyup)="changetestValue($event)"
                placeholder="Search TeamChallenge" name="teamchallengeName">
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover ">
            <tbody>
              <tr
                *ngFor="let teamchallenge of teamchallengelist | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
                id="tr_row" [class.highlighted]="teamchallenge.teamId === teamchallengeNameselectedId">
                <td class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="cursor:pointer"
                  (click)="getTeamChallengeid(teamchallenge,i)">
                  <a class="text" style="color:#3f51b5;"
                    *ngIf="!enableEdit || currentteamchallengeid != teamchallenge.teamchallengeId"
                    ngbTooltip="{{teamchallenge.description}}" [class.hide]="enableEdit && enableEditIndex == i">
                    {{teamchallenge.teamchallengeName}} </a>
                  <input class="form-control" id="teamchallengeName" name="teamchallengeName"
                    *ngIf="enableEdit && enableEditIndex == i" type="text" [(ngModel)]="currentteamchallengename" />
                  <div class="alert-danger"
                    *ngIf="!isSuccessful && teamchallengeName.errors && enableEdit && enableEditIndex == i">
                    *TeamChallenge already taken
                  </div>
                </td>
                <td>
                  <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn action-button std"
                    title="Save" (click)="editTeamChallenge(currentteamchallengeid,currentteamchallengename)"
                    type="submit">
                    Save
                  </button>
                  <div *ngIf="!enableEdit || currentteamchallengeid != teamchallenge.teamchallengeId" ngbTooltip="Edit"
                    (click)="enableEditMethod(teamchallenge, i)" class="btn-3">
                    <span class="oi oi-pencil"></span>
                  </div>
                </td>
                <!-- <td class="sm md lg">
                  <div data-toggle="modal" data-target="#shareModal" (click)="showChallengeShareModal(teamchallenge)"
                    class="icon pr-0">
                    <span> <i class="fa fa-share-alt" aria-hidden="true" ngbTooltip="Share"></i></span>
                  </div>
                  <div class="modal fade" id="shareModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select Access
                            Type</h4>
                          <button type="button" class="close" style="color: brown;" data-dismiss="modal"
                            (click)="hide()">&times;</button>
                        </div>
                        <div class="modal-body">
                          <form name="form" #fshare="ngForm" (ngSubmit)="shareChallengeName(teamchallengeId)">
                            <div class="row">
                              <div class="col-4">
                                <label>Access Type</label>
                              </div>
                              <div class="col-5">
                                <select (change)="onchangeShareAccessType($event.target.value)" class="form-control"
                                  id="accessType" required>
                                  <option>--Select--</option>
                                  <option>Private</option>
                                  <option>Public</option>
                                  <option>MyChain</option>
                                </select>
                              </div>
                            </div>
                          </form>
                          <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" data-dismiss="modal" class="btn std"
                            (click)="shareChallengeName(teamchallengeId)" [disabled]=!fshare.form.valid>share</button>
                          <button type="button" class="btn std" data-dismiss="modal" (click)="hide()">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td> -->
                <td class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <div type="button" class="btn-3" ngbTooltip="delete" data-toggle="modal"
                    data-target="#mydelTeamChallengeModal" (click)="showdelTeamChallengeModal(teamchallenge)">
                    <span class="oi oi-trash"></span>
                  </div>
                  <div class="modal fade" id="mydelTeamChallengeModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          Are you sure want to delete this teamchallenge?
                        </div>
                        <div class="modal-footer">
                          <button (click)="deleteTeamChallenge()" class="btn std m-2" data-dismiss="modal">
                            Ok
                          </button>
                          <button type="button" class="btn std m-2" data-dismiss="modal">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="teamchallengelist?.length==0">
                <div class="alert-danger" style="display:flex;flex-direction:row;justify-content:center;">
                  No Data Found
                </div>
              </tr>
            </tbody>
          </table>
          <div class="col-12 fright">
            <pagination-controls (pageChange)="p = $event" class="float-right mr-3"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12">
            <h2 class="goal-cat">{{teamchallengeNameselected}}</h2>
          </div>
        </div>
        <nav style="margin-right: 20px;">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-teamsolution-tab" data-toggle="tab" href="#nav-teamsolution"
              role="tab" aria-controls="nav-teamsolution" aria-selected="true">Solution</a>
            <a class="nav-item nav-link" id="nav-teamapproach-tab" data-toggle="tab" href="#nav-teamapproach" role="tab"
              aria-controls="nav-teamapproach" aria-selected="false">Approach</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-teamsolution" role="tabpanel"
            aria-labelledby="nav-teamsolution-tab">
            <form name="form" #fl="ngForm"
              (ngSubmit)="fl.form.valid && teamchallengeNameselected!=='Add CategoryLink' && AddTeamSolution(fl)">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #teamsolutionName="ngModel" id="teamsolutionName"
                      placeholder="Enter solution" required [(ngModel)]="teamsolution.teamsolutionName"
                      name="teamsolutionName">
                    <div *ngIf="fl.submitted && !teamsolutionisSuccessful" class="alert-danger">
                      {{errorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="fl.submitted">
                      <div *ngIf="teamsolutionName.errors && teamsolutionName.invalid">
                        *Solution required
                      </div>
                      <div class="alert-danger" *ngIf="teamchallengeNameselected==='Add CategoryLink'">
                        *Select a challenge
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-add std" type="submit">Add solution</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="teamsolutionlistVisible">
              <div class="col-10">
                <div class="card border-0">
                  <div *ngFor="let teamsolutions of teamsolutionlist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" (click)="getTeamSolutionId(teamsolutions,id)"
                      style="padding:10px ;border:1px solid #86b2fb;background-color: rgb(119 102 253 / 15%);">
                      <div class="row mt-1">
                        <div class="col-9">
                          <a style="color:#3f51b5;font-size:18px;"
                            *ngIf="!enablesolutionEdit || currentteamsolutionid != teamsolutions.teamsolutionId"
                            title="{{teamsolution.teamsolutionName}}"
                            [class.hide]="enablesolutionEdit && enablesolutionEditIndex == id">
                            {{teamsolutions.teamsolutionName}}
                          </a>
                          <input class="col-12 form-control1" id="teamsolutionName" name="teamsolutionName"
                            *ngIf="enablesolutionEdit && enablesolutionEditIndex == id" type="text"
                            [(ngModel)]="currentsolutionname" />
                          <div class="alert-danger"
                            *ngIf="!soledit && teamsolutionName.errors.required && enablesolutionEdit && enablesolutionEditIndex == id">
                            *solution required || solution already taken
                          </div>
                        </div>
                        <div class="col-3">
                          <button class="btn-step"
                            *ngIf="!enablesolutionEdit || currentteamsolutionid != teamsolutions.teamsolutionId"
                            title="Edit" (click)="enablesolutionEditMethod(teamsolutions, id)">
                            <span class="oi oi-pencil" style="color: #fff;"></span>
                          </button>
                          <button *ngIf="enablesolutionEdit && enablesolutionEditIndex == id" id="saveBtn"
                            class="btn link-butto" title="Save"
                            (click)="editSolution(currentteamsolutionid,currentsolutionname)"
                            type="submit">Save</button>
                          <button type="button" class="btn-step ml-3" style="color:#fff;background-color: #509ef1;"
                            data-toggle="modal" data-target="#mydelSolutionModal"
                            (click)="showdelSolutionModal(teamsolutions)">
                            <span class="oi oi-trash"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="modal fade" id="mydelSolutionModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the solution?
                              <button (click)="deletesolution()" data-dismiss="modal"
                                style="background-color:#509ef1;color: white;" class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3"
                                style="background-color:#509ef1;color: white;" id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="solution-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form name="form" #ff="ngForm"
                        (ngSubmit)="ff.form.valid && AddTeamSolutionLink(teamsolutions.teamsolutionId,teamsolutionlink.value,id,ff)">
                        <div class="row mt-2">
                          <div class="col-9">
                            <div class="form-group">
                              <input type="url" class="form-control" style="border: 2px solid black"
                                placeholder="Enter Teamsolution Link" id="teamsolutionlink.value" required
                                #teamsolutionlink="ngModel" name="teamsolutionlink" ngModel>
                              <div *ngIf="ff.submitted && !teamsolutionlinkisSuccessful" class="alert-danger">
                                {{teamsolutionlinkerrorMessage}}
                              </div>

                              <div class="alert-danger" *ngIf="ff.submitted && teamsolutionlink.invalid">
                                <div *ngIf="teamsolutionlink.errors">
                                  *Solution link required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <button type="submit" class="action-button std p-2">
                              Add
                            </button>
                          </div>
                        </div>
                      </form>
                      <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                        <div *ngFor="let teamsolutionlink of teamsolutions.teamSolutionLink let i2 = index">
                          <div class="col-11"
                            style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                            <a (keyup)="changeValue(i2, 'teamsolutionlink', $event)" target="_blank"
                              href="{{teamsolutionlink.teamsolutionlink}}">
                              {{teamsolutionlink.teamsolutionlink}}
                            </a>
                          </div>
                          <div class="card-body" style="padding:5px;background-color:#7086d9">
                            <button type="button" class="fa fa-comments link-button" title="Add keypoints"
                              style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myModal"
                              data-target="#myModal" (click)="onSelectKeypoint(teamsolutionlink)"
                              style="color:rgb(255, 255, 255)">
                            </button>
                            <div class="modal fade" id="myModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #fAddKey="ngForm"
                                      (ngSubmit)="fAddKey.form.valid 
                                      && Addteamsolutionkeypoints(teamsolutionlink.teamsolutionlinkId,teamsolutionlink.teamsolutionId,fAddKey)">
                                      <div class="row">
                                        <div class="col-8">
                                          <div class="form-group mb-0">
                                            <input type="text" class="form-control" rows="3"
                                              placeholder="Enter Keypoints" type="text" class="form-control"
                                              id="teamsolutionkeypoints" #teamsolutionkeypoints="ngModel" required
                                              [(ngModel)]="teamsolutionkeypoint.teamsolutionkeypoints"
                                              name="teamsolutionkeypoints">
                                          </div>
                                          <div class="alert-danger"
                                            *ngIf="fAddKey.submitted && teamsolutionkeypoints.invalid">
                                            <div *ngIf="teamsolutionkeypoints.errors.required">
                                              *Key points required
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-2 ">
                                          <button type="submit" class="btn action-button std">
                                            Add
                                          </button>
                                        </div>
                                        <div class="footer">
                                          <button type="button" class="btn std" data-dismiss="modal" id="closesolkey">
                                            Close
                                          </button>
                                        </div>
                                      </div>
                                    </form>
                                    <div *ngIf="iskeySuccessful" class="alert-success mt-2">{{sucessmessage}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-share-alt link-button" data-toggle="modal"
                              data-target="#solutionshareModal" title="Share" style="font-size: 16px;"
                              (click)="showsolutionShareModal(teamsolutionlink)">
                            </button>
                            <div class="modal fade" id="solutionshareModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">
                                      Select Access Type</h4>
                                  </div>
                                  <div class="modal-body">
                                    <form name="form" #fshare="ngForm"
                                      (ngSubmit)="shareTeamSolution(teamsolutionlinkId,fshare)">
                                      <div class="row">
                                        <div class="col-4">
                                          <label>Access Type</label>
                                        </div>
                                        <div class="col-5">
                                          <select (change)="onchangeAccessType($event.target.value)"
                                            class="form-control" id="accessType" required>
                                            <option selected disabled *ngIf="!teamsharesolutionlink.accesstype">
                                              --Select--</option>
                                            <!-- <option>Private</option> -->
                                            <option>Public</option>
                                            <!-- <option>MyChain</option> -->
                                          </select>
                                        </div>
                                      </div>
                                      <div class="text-danger mt-2"
                                        *ngIf="fshare.submitted && !teamsharesolutionlink.accesstype &&!isSuccessful">
                                        *Select Access Type</div>
                                      <div class="shareModal">
                                        <button type="submit" class="btn std">
                                          share
                                        </button>
                                        <button type="button" class="btn std ml-2" data-dismiss="modal" (click)="hide()"
                                          id="shareclose">
                                          Close
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-trash-o link-button" style="font-size: 16px;"
                              data-toggle="modal" data-target="#mydelsolutionModal"
                              (click)="showsolutionModal(teamsolutionlink)" title="Delete">
                            </button>
                            <div class="modal fade" id="mydelsolutionModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    Are you sure want to delete the link?
                                    <button (click)="deleteTeamSolutionlink()" data-dismiss="modal"
                                      class="btn std m-2">Yes
                                    </button>
                                    <button type="button" class="btn std m-2" data-dismiss="modal">
                                      No
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button *ngIf="teamsolutionlink.teamsolutionlinkId!=showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="opencommentstoggle(teamsolutionlink,teamsolutionlink.teamsolutionlinkId)">
                              >>
                            </button>
                            <button *ngIf="teamsolutionlink.teamsolutionlinkId==showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="closecommentstoggle(teamsolutionlink,teamsolutionlink.teamsolutionlinkId)">
                              << </button>
                            <div *ngIf="teamsolutionlink.teamsolutionlinkId==showKeypointIndex" class="key">
                                  <div class="card card-body"
                                    style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                    <div class="row">
                                      <div class="col-12">
                                        <tr *ngFor="let teamsolutionkeypoint of limitedKeypointList let id = index">
                                          <td class="col-sm-10" style="color:black">
                                            <div class="m-2 rounded">
                                              {{teamsolutionkeypoint.teamsolutionkeypoints}}
                                            </div>
                                            <hr>
                                          </td>
                                          <td>
                                            <button class="btn-3 " data-toggle="modal"
                                              data-target="#myEditKeyPointModal"
                                              (click)="showEditKeyModal(teamsolutionkeypoint)">
                                              <span class="oi oi-pencil"></span>
                                            </button>
                                            <div class="modal fade" id="myEditKeyPointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-body">
                                                    <form name="form" #fEdit="ngForm"
                                                      (ngSubmit)="fEdit.submitted && EditKeypoint(teamsolutionkeypoint.teamsolutionkeypoints)">
                                                      <div class="row">
                                                        <div class="col-8">
                                                          <div class="form-group">
                                                            <input type="text" class="form-control" rows="3"
                                                              placeholder="Key points" id="teamsolutionkeypoints"
                                                              #teamsolutionkeypoints="ngModel" required
                                                              [(ngModel)]="solutionkeypoint.teamsolutionkeypoints"
                                                              name="teamsolutionkeypoints">
                                                          </div>
                                                          <div class="alert-danger"
                                                            *ngIf="!iskeySuccessful && solutionkeypoint.teamsolutionkeypoints == ''">
                                                            <!-- <div *ngIf="teamsolutionkeypoints.errors.required "> -->
                                                            *Key points required
                                                            <!-- </div> -->
                                                          </div>
                                                        </div>
                                                        <div>
                                                          <button type="submit"
                                                            (click)="prevent(solutionkeypoint.teamsolutionkeypoints)"
                                                            class="btn std">
                                                            Add
                                                          </button>
                                                          <button type="button" id="solkeymodal" data-dismiss="modal"
                                                            class="btn std ml-2">
                                                            Close
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </form>
                                                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <button type="button" class="btn-3" data-toggle="modal"
                                              data-target="#mydelKeypointModal"
                                              (click)="showdelKeyModal(teamsolutionkeypoint)">
                                              <span class="oi oi-trash"></span></button>
                                            <div class="modal fade" id="mydelKeypointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    Are you sure want to delete the keypoints?
                                                    <button (click)="deleteKeypoint()" data-dismiss="modal"
                                                      class="btn std m-2">Yes
                                                    </button>
                                                    <button type="button" class="btn std m-2" (click)="hideModal()"
                                                      id="close-modal" data-dismiss="modal">No</button>
                                                    <button type="button" class="std" id="close-modal"
                                                      data-dismiss="modal" style="display: none;">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <button class="btn btn-link" (click)="onsolKeyPointsViewMore()" id="view-more"
                                          *ngIf="KeypointList.length > 3">
                                          View More
                                        </button>
                                        <button class="btn btn-link" (click)="onsolkeyPointsviewless()"
                                          style="display: none;" id="view-less">
                                          View Less
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="teamsolutionlist.length===0" class="alert-danger text-center"> No solution added</div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade show" id="nav-teamapproach" role="tabpanel" aria-labelledby="nav-teamapproach-tab">
            <form name="form" #f2="ngForm"
              (ngSubmit)="f2.form.valid && teamchallengeNameselected!=='Add CategoryLink' && AddTeamApproach(f2);">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #teamapproachName="ngModel" id="teamapproachName"
                      placeholder="Enter approach" required [(ngModel)]="teamapproach.teamapproachName"
                      name="teamapproachName">
                    <div *ngIf="f2.submitted && !teamapproachisSuccessful" class="alert-danger">
                      {{errorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="f2.submitted ">
                      <div *ngIf="teamapproachName.errors && teamapproachName.invalid">
                        *Approach required
                      </div>
                      <div class="alert-danger" *ngIf="teamchallengeNameselected==='Add CategoryLink'">
                        *Select a Challenge
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-add std" type="submit">Add approach</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="teamapproachlistVisible">
              <div class="col-10">
                <div class="card border-0">
                  <div *ngFor="let teamapproachs of approachlist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" (click)="getApproachId(teamapproachs,id)" style="padding:10px ;border:1px solid #86b2fb;background-color: rgb(119 102 253 / 15%);">
                        <div class="row mt-1">
                          <div class="col-9">
                            <a style="color:#3f51b5;font-size:18px;"
                              *ngIf="!enableapproachEdit || currentapproachid != teamapproachs.teamapproachId" title="{{teamapproach.teamapproachName}}"
                              [class.hide]="enableapproachEdit && enableapproachEditIndex == id">
                              {{teamapproachs.teamapproachName}}
                            </a>
                            <input class="col-12 form-control1" id="teamapproachName" name="teamapproachName"
                              *ngIf="enableapproachEdit && enableapproachEditIndex == id" type="text"
                              [(ngModel)]="currentapproachname" />
                            <div class="alert-danger"
                              *ngIf="!appedit && teamapproachName.errors.required && enableapproachEdit && enableapproachEditIndex == id">
                              *approach required || approach already taken
                            </div>
                          </div>
                          <div class="col-3">
                            <button class="btn-step" *ngIf="!enableapproachEdit || currentapproachid != teamapproachs.teamapproachId"
                              title="Edit" (click)="enableapproachEditMethod(teamapproachs, id)">
                              <span class="oi oi-pencil" style="color: #fff;"></span>
                            </button>
                            <button *ngIf="enableapproachEdit && enableapproachEditIndex == id" id="saveBtn"
                              class="btn link-butto" title="Save" (click)="editApproach(currentapproachid,currentapproachname)"
                              type="submit">Save</button>
                            <button type="button" class="btn-step ml-3" style="color:#fff;background-color: #509ef1;"
                              data-toggle="modal" data-target="#mydelapproachModal" (click)="showdelapproachModal(teamapproachs)">
                              <span class="oi oi-trash"></span>
                            </button> 
                          </div>
                        </div>
                    </div>
                    <div>
                      <div class="modal fade" id="mydelapproachModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the approach?
                              <button (click)="deleteapproach()" data-dismiss="modal" style="background-color:#509ef1;color: white;"
                                class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3" style="background-color:#509ef1;color: white;"
                                id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="approach-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form name="form" #ffl="ngForm"
                        (ngSubmit)="ffl.form.valid && AddTeamApproachLink(teamapproachs.teamapproachId,teamapproachlink.value,id,ffl)">
                        <div class="row mt-2">
                          <div class="col-9">
                            <div class="form-group">
                              <input type="url" class="form-control" style="border: 2px solid black"
                                placeholder="Enter teamapproach Link" id="teamapproachlink.value" required
                                #teamapproachlink="ngModel" name="teamapproachlink" ngModel>
                              <div *ngIf="ffl.submitted && !teamapproachlinkisSuccessful" class="alert-danger">
                                {{teamapproachlinkerrorMessage}}
                              </div>
                              <div class="alert-danger" *ngIf="ffl.submitted && teamapproachlink.invalid">
                                <div *ngIf="teamapproachlink.errors">
                                  *Approach link required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <button type="submit" class="action-button std p-2">
                              Add
                            </button>
                          </div>
                        </div>
                      </form>
                      <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                        <div *ngFor="let teamapproachlink of teamapproachs.teamApproachLink let i1 = index">
                          <div class="col-11"
                            style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                            <a (keyup)="changeValue(i1, 'teamapproachlink', $event)" target="_blank"
                              href="{{teamapproachlink.teamapproachlink}}">
                              {{teamapproachlink.teamapproachlink}}
                            </a>
                          </div>
                          <div class="card-body" style="padding:5px;background-color:#d1d4e6">
                            <button type="button" class="fa fa-comments link-button" title="Add teamapproachkeypoints"
                              style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myApproachModal"
                              data-target="#myApproachModal" (click)="onSelectedKeypoint(teamapproachlink)"
                              style="color:rgb(255, 255, 255)">
                            </button>
                            <div class="modal fade" id="myApproachModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #flAddKey="ngForm"
                                      (ngSubmit)="flAddKey.form.valid 
                                      && Addteamapproachkeypoints(teamapproachlink.teamapproachlinkId,teamapproachlink.teamapproachId,flAddKey)">
                                      <div class="row">
                                        <div class="col-8">
                                          <div class="form-group mb-0">
                                            <input type="text" class="form-control" rows="3"
                                              placeholder="Enter Keypoints" type="text" class="form-control"
                                              id="teamapproachkeypoints" #teamapproachkeypoints="ngModel" required
                                              [(ngModel)]="teamapproachkeypoint.teamapproachkeypoints"
                                              name="teamapproachkeypoints">
                                          </div>
                                          <div class="alert-danger"
                                            *ngIf="flAddKey.submitted && teamapproachkeypoints.invalid">
                                            <div *ngIf="teamapproachkeypoints.errors.required ">
                                              *Key points required
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-2 ">
                                          <button type="submit" class="btn action-button std">
                                            Add
                                          </button>
                                        </div>
                                        <div class="footer">
                                          <button type="button" class="btn std" data-dismiss="modal" id="closeappkey">
                                            Close
                                          </button>
                                        </div>
                                      </div>
                                    </form>
                                    <div *ngIf="iskeySuccessful" class="alert-success mt-2">{{sucessmessage}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-share-alt link-button" data-toggle="modal"
                              data-target="#shareApproachModal" title="Share" style="font-size: 16px;"
                              (click)="showSharedModal(teamapproachlink)">
                            </button>
                            <div class="modal fade" id="shareApproachModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">
                                      Select Access Type</h4>
                                  </div>
                                  <div class="modal-body">
                                    <form name="form" #flshare="ngForm"
                                      (ngSubmit)="shareApproach(teamapproachlinkId,flshare)">
                                      <div class="row">
                                        <div class="col-4">
                                          <label>Access Type</label>
                                        </div>
                                        <div class="col-5">
                                          <select (change)="onchangeAccessTypes($event.target.value)"
                                            class="form-control" id="accessType" required>
                                            <option disabled selected *ngIf="!shareteamapproachlink.accesstype">
                                              --Select--</option>
                                            <!-- <option>Private</option> -->
                                            <option>Public</option>
                                            <!-- <option>MyChain</option> -->
                                          </select>
                                        </div>
                                      </div>
                                      <div class="text-danger mt-2"
                                        *ngIf="flshare.submitted && !shareteamapproachlink.accesstype&&!isSuccessful">
                                        *Select Access Type
                                      </div>

                                      <div class="shareModal">
                                        <button type="submit" class="btn std">
                                          share
                                        </button>
                                        <button type="button" class="btn std ml-2" data-dismiss="modal"
                                          id="sharedclose">
                                          Close
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-trash-o link-button" style="font-size: 16px;"
                              data-toggle="modal" data-target="#mydelapproachModal"
                              (click)="showedModal(teamapproachlink)" title="Delete">
                            </button>
                            <!--Need to check-->
                            <div class="modal fade" id="mydelapproachModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    Are you sure want to delete the link?
                                    <button (click)="deleteApproachlink()" data-dismiss="modal" class="btn std m-2">Yes
                                    </button>
                                    <button type="button" class="btn std m-2" data-dismiss="modal">
                                      No
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button *ngIf="teamapproachlink.teamapproachlinkId!=showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="openedcommentstoggle(teamapproachlink,teamapproachlink.teamapproachlinkId)">
                              >>
                            </button>
                            <button *ngIf="teamapproachlink.teamapproachlinkId==showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="closedcommentstoggle(teamapproachlink,teamapproachlink.teamapproachlinkId)">
                              << </button>
                                <div *ngIf="teamapproachlink.teamapproachlinkId==showKeypointIndex">
                                  <div class="card card-body"
                                    style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                    <div class="row">
                                      <div class="col-12">
                                        <tr *ngFor="let teamapproachkeypoint of ApplimitedKeypointList let id = index">
                                          <td class="col-sm-10" style="color:black">
                                            <div class="m-2 rounded">
                                              {{teamapproachkeypoint.teamapproachkeypoints}}
                                            </div>
                                            <hr>
                                          </td>
                                          <td>
                                            <button class="btn-3" data-toggle="modal" data-target="#myEditKeyPointModal"
                                              (click)="showedEditKeyModal(teamapproachkeypoint)">
                                              <span class="oi oi-pencil"></span>
                                            </button>
                                            <div class="modal fade" id="myEditKeyPointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-body">
                                                    <form name="form" #flEdit="ngForm"
                                                      (ngSubmit)="flEdit.submitted && EditedKeypoint(teamapproachkeypoint.teamapproachkeypoints)">
                                                      <div class="row">
                                                        <div class="col-8">
                                                          <div class="form-group">
                                                            <input type="text" class="form-control" rows="3"
                                                              placeholder="Key points" type="text" class="form-control"
                                                              id="teamapproachkeypoints"
                                                              #teamapproachkeypoints="ngModel" required
                                                              [(ngModel)]="approachkeypoint.teamapproachkeypoints"
                                                              name="teamapproachkeypoints">
                                                          </div>
                                                          <div class="alert-danger"
                                                            *ngIf="!iskeySuccessful && approachkeypoint.teamapproachkeypoints ==''">
                                                            <!-- <div *ngIf="teamapproachkeypoints.errors.required "> -->
                                                            *Key points required
                                                            <!-- </div> -->
                                                          </div>
                                                        </div>
                                                        <div>
                                                          <button type="submit" data-dismiss="modal"
                                                            (click)="prevented(approachkeypoint.teamapproachkeypoints)"
                                                            class="btn std">
                                                            Add
                                                          </button>
                                                          <button type="button" id="appkeymodal" data-dismiss="modal"
                                                            class="btn std ml-2">
                                                            Close
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </form>
                                                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <button type="button" class="btn-3" data-toggle="modal"
                                              data-target="#mydelKeypointModal"
                                              (click)="showeddelKeyModal(teamapproachkeypoint)">
                                              <span class="oi oi-trash"></span></button>
                                            <div class="modal fade" id="mydelKeypointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    Are you sure want to delete the keypoints?
                                                    <button (click)="deletedKeypoint()" data-dismiss="modal"
                                                      class="btn std m-2">Yes
                                                    </button>
                                                    <button type="button" class="btn std m-2" (click)="hideModal()"
                                                      id="close-modal" data-dismiss="modal">No</button>
                                                    <button type="button" class="std" id="close-modal"
                                                      data-dismiss="modal" style="display: none;">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <button class="btn btn-link" (click)="onappKeyPointsViewMore()" id="view-more"
                                          *ngIf="ApproachKeypointList.length > 3">
                                          View More
                                        </button>
                                        <button class="btn btn-link" (click)="onappkeyPointsviewless()"
                                          style="display: none;" id="view-less">
                                          View Less
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="approachlist.length===0" class="alert-danger text-center"> No approach added</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
  <p style="color: white"> Loading... </p>
</ngx-spinner>