<!DOCTYPE html>
<html>
<head>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- <div class="row">
        
        <div class="left" style="background-color:Lavender;">
         
         
        
        <div class="row"  >
          <div class="col-9">
        
          <table
             class="table table-bordered table-responsive-md table-striped text-center">
              <tr>
               
                <th class="text-center">Bookmark Link</th>
                <th class="text-center">Bookmark bookmarkCategoryId</th>
                
              </tr>
              <tr *ngFor="let bookmarkink of bookmarklinklist let id = index">
      
                <td >
                  <div class="row" >
                    <div class="col-9">
                      <a 
                      href="{{bookmarkink.link}}"  
                      >{{bookmarkink.link}}</a> 
                      
                   
                    </div>
                    
                  </div>
                    <div class="row" >
                      <table                >
                       <tr >
                        
                      <td>
                
                    <div class="col">
                      <button type="link" type="button" data-toggle="collapse"
              data-target="#collapseExample" 
              aria-expanded="false" aria-controls="collapseExample"
              class="btn btn-danger btn-sm" 
           
              (click)="opentesttoggle(bookmarkink,id)" >View KeyComments
               </button>
              <div class="collapse" id="collapseExample"   *ngIf="id==showCollasalIndex">
                <div class="card card-body">
                  <div class="left" style="background-color:white;">
                 
                    <div class="row"  >
                     
                    <div class="col-9">
                  
               
                
                      <table
                       class="table table-bordered table-responsive-md table-striped text-center">
                        <tr>
                         
                          <th class="text-center">Key Comments</th>
                         
                        </tr>
                        <tr *ngFor="let keypoint of KeypointList let id = index">
                
                          <td>
                         
                           <span>{{keypoint.keyComments}}</span>
                           
                          </td>
                         
                        
                         
                      
                        
                        </tr>
                      </table>
                      
                      
                         </div>
                  </div>
                
                </div>                </div>
              </div>
                      </div>
                      </td>
                    </tr>
                 
                      </table>
                  </div>
                  
                
            
                </td>
                <td>  
                     <a 
                    href="{{bookmarkink.link}}"  
                    >{{bookmarkink.bookmarkCategoryId}}</a> 
    </td>
               
             
               
         
           
              </tr>
            </table>
            
            
               </div>
        </div>
      
        </div>
      
       
      </div> -->
      <div class="topnav" >
       
        <span style="font-family: Arial, Helvetica, sans-serif;font-size:xx-large;">Bookmark
        
        <a href="../bookmark/" 
        > Go to Bookmark</a>
         
    </span>
        <div class="search-container" >
      
            <input type="text" placeholder="Search.." 
            [(ngModel)]="searchlink"
              
             name="searchlink" style="  border-style:ridge;
            border-color:#80808014; border-radius: 5px;">
            <button type="submit" class="btn btn-primary" 
             style="padding-left:12px;background-color: #007bff;" 
             (click)="findByBookmarkLink()">  
           
              <i class="fa fa-search" style="border-right: 0; margin-right: 0; background-color:#007bff;"></i></button>
             
                    </div>
      </div> 
      <!-- <div id="show_lnk"></div>  -->
      <div class="align">
      <a class="menu_link">google.com</a>
      <a class="menu_link">https://www.w3schools.com/php</a>
    </div>
  <div class="row">
        
        <div class="left" style="background-color:white">
      <div class="col-9">
        <div class="card1">
         
      
        <!-- <table
           class="table table-bordered table-responsive-md table-striped text-center"> -->
            <!-- <tr>
             
              <th class="text-center">Bookmark Link</th>
              
              <th >Edit</th>
              <th class="text-center">Delete</th>
              
            </tr> -->
            <tr *ngFor="let bookmarkink of bookmarklinklist let id = index" style="box-shadow:2px 2px 4px 0px #66666673;margin-bottom:10px;">
    
              <!-- <td > -->
                <!-- <div class="row" > -->
                  <div class="col-12"style="padding:15px ;">
                 
                    <a class="menu_link" (keyup)="changeValue(id, 'link', $event)" 
                    href="{{bookmarkink.link}}"  
                    contenteditable="true">{{bookmarkink.link}}</a> 
                    <a *ngIf="!show"
                    href="{{bookmarkink.link}}"  
                 >{{bookmarkink.bookmarkCategoryId}}</a> 
                   
                  </div>
                  <!-- here start delet -->
                 
                  <div class="card-body"style="padding:5px;width:600px;background-color:#7086d9">
                    <button type="button"
             class="fa fa-trash-o" data-toggle="modal" data-target="#mydelModal"
               (click)="showModal(bookmarkink)"  >
              
            Delete</button>
              <div class="modal fade" id="mydelModal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                 
                    <!-- Modal Header -->
                    <!-- <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="close"  (click)="hideModal()">&times;</button>
                    </div> -->
              
                    <!-- Modal body -->
                    <div class="modal-body">
                              
                      Are you sure want to delete the link?
                      <button   (click)="deleteBookmarklink()" data-dismiss="modal"
                      class="btn btn-prime">
                       Yes</button>
                        <button type="button" class="btn btn-prime" data-dismiss="modal" 
                         (click)="hideModal()">No</button>
                    
                      <button type="button" id="close-modal" data-dismiss="modal" 
                      style="display: none">No</button>

                    </div>
              
                    <!-- Modal footer -->
                    <!-- <div class="modal-footer">
                      <button   (click)="deleteBookmarklink()" data-dismiss="modal"
                      class="btn btn-danger btn-sm">
                       <span class="oi oi-trash"></span></button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" 
                         (click)="hideModal()">Close</button>
                    
                      <button type="button" id="close-modal" data-dismiss="modal" 
                      style="display: none">Close</button>
                    </div> -->
                  </div>
                </div>
              </div>
              
              
              <a data-toggle="modal" href="#myModal" 
                          (click)="onSelectKeypoint
                          (bookmarkink)"style="color:rgb(255, 255, 255)" > Add Keycomments
                                </a>
                           <div class="modal fade" id="myModal" >
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <!-- <div class="modal-header">
                                  <h4 class="modal-title">Add Key Comments</h4>
                                  <button type="button" class="close"
                                   data-dismiss="modal" (click) = "hide()">&times;</button>
                                </div> -->
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                 
                                 
                             
                            <form  name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                            && AddKeypoint(bookmarkink.bookmarklinkId)">
                             
                            <div class="row">
                          
                                <div class="col-8">
                                  
                                    <div class="form-group">
                                       
                                      <input type="text" 
                                      class="form-control"
                                        rows="3" placeholder="Key Comments"
                                        type="text"
                                            class="form-control"
                                            id="keyComments" #keyComments="ngModel"
                                            required
                                            [(ngModel)]="keypoint.keyComments"
                                            name="keyComments">
                                            
                                              </div>
                                           
                                              <div class="alert-danger" *ngIf="fAddKey.submitted && 
                                              keyComments.invalid">
                                                <div *ngIf="keyComments.errors.required ">
                                                  *Key Comments required
                                                </div>
                                      </div>
    
                                </div>
                               
                                    <div class="col-2">
                                        <button type="submit"  class="btn btn-prime" >Add</button>
                                     
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-prime" 
                                      data-dismiss="modal" (click) = "hide()">Close</button>
                                    </div>
                              </div>
                            </form>
                            <div *ngIf="isSuccessful" class="alert alert-success">{{sucessmessage}}
    
                            </div>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                          <button type="button" type="button" data-toggle="collapse"
            data-target="#collapseExample" 
            aria-expanded="false" aria-controls="collapseExample"
            class="button button4"
         
            (click)="opentesttoggle(bookmarkink,id)" >>> 
             </button>
            <div class="collapse" id="collapseExample"   *ngIf="id==showCollasalIndex">
              <div class="card card-body"style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                <div class="left">
                  <!-- <h2>Key Comments</h2>  -->
                  <!-- <div class="row"  > -->
                   
                  <div class="col-11">
                
             
              
                    <!-- <table
                     class="table table-bordered table-responsive-md table-striped text-center"> -->
                      <!-- <tr>
                       
                        <th class="text-center">Key Comments</th>
                        <th >Edit</th>
                        <th class="text-center">Delete</th>
                       
                      </tr> -->
                      <tr *ngFor="let keypoint of KeypointList let id = index">
              
                        <td class="col-sm-3"style="color:black;">
                       
                         <span>{{keypoint.keyComments}}</span>
                         
                        </td>
                       
                        <td class="column" >
                          <button class="btn "class="button button4" data-toggle="modal"
                          data-target="#myEditKeyPointModal"
                          (click)="showEditKeyModal(keypoint)">
                            <span class="oi oi-pencil"></span>
                          </button>  
                          <div class="modal fade" id="myEditKeyPointModal" >
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                
                                  <!-- <h4 class="modal-title">Edit Key Comments</h4> -->
                                  <button type="button" class="close"
                                   data-dismiss="modal" (click) = "hide()">&times;</button>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                 
                            <form  name="form" #fEdit="ngForm"   
                            (ngSubmit)="fEdit.submitted && EditKeypoint(keypoint.keyComments)">
                            <div class="row">
                          
                                <div class="col-8">
                                  
                                    <div class="form-group">
                                       
                                      <input type="text" 
                                      class="form-control"
                                        rows="3" placeholder="Key Comments"
                                        type="text"
                                            class="form-control"
                                            id="keyComments" #keyComments="ngModel"
                                            required
                                            [(ngModel)]="keypoint.keyComments"
                                            name="keyComments">
                                      </div>
                                      <div class="alert-danger" *ngIf="fEdit.submitted && keyComments.invalid">
                                        <div *ngIf="keyComments.errors.required ">
                                          *Key Comments required
                                        </div>
                                        </div>
                                        
                                </div>
                               
                                    <div class="col-2">
                                        <button type="submit" data-dismiss="modal"
                                          (click)="prevent(keypoint.keyComments)"  class="btn btn-primary" >Add</button>
                                     
                                      
                                    </div>
                                 
                              </div>
                            </form>
                            <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                </div>
                                
                                <!-- Modal footer -->
                                <!-- <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" 
                                  data-dismiss="modal" (click) = "hide()">Close</button>
                                </div> -->
                                
                              </div>
                            </div>
                          </div>
                        </td>
                       
                       <td>
                       <button type="button"
                       class="btn " class="button button4"data-toggle="modal"
                        data-target="#mydelKeypointModal"
                         (click)="showdelKeyModal(keypoint)"  >
                        <span class="oi oi-trash"></span></button>
                        <div class="modal fade" id="mydelKeypointModal" >
                          <div class="modal-dialog">
                            <div class="modal-content">
                           
                              <!-- Modal Header -->
                              <!-- <div class="modal-header">
                                <h4 class="modal-title">Delete Confirmation</h4>
                                <button type="button" class="close" (click)="hideModal()">&times;</button>
                              </div> -->
                        
                              <!-- Modal body -->
                              <div class="modal-body">
                                   Are you sure want to delete the keycomments?
                              </div>
                        
                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <button   (click)="deleteKeypoint()" data-dismiss="modal" 
                                class="btn btn-danger btn-sm" >
                                 <span class="oi oi-trash"></span></button>
                                  <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button>
                              
                                <button type="button" (click)="hideModal()" id="close-modal" data-dismiss="modal" 
                              style="display: none;" >Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                       
                       </td>
                      
                      </tr>
                    <!-- </table> -->
                    
                       </div>
                      </div>
                <!-- </div> -->
              
                           </div>
            </div>
              
                  </div>
                  
                <!-- end -->
           
            </tr>
          <!-- </table> -->
          
          
             </div>
      </div>

</div>
</div>

</body>
</html>
