body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.1em;
    text-decoration:none;
    text-decoration-color: #ccc;
  
  }
  
  * {
    box-sizing: border-box;
  }
  .topnav{
    margin-top:10px;
  }
  
  /* Create a column layout with Flexbox */
  .row {
    display: flex;
  }
  
  /* Left column (menu) */
  .left {
    flex:22%;
    padding: 15px 0;
  }
  
  .left h2 {
    padding-left: 5px;
  }
  
  /* Right column (page content) */
  .right {
    flex: 65%;
    padding: 15px;
  }
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color:white;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  
      .dropdown-menu {
      float:left;
  }
  body {
    font-family: "Lato", sans-serif;
  }
  .align{
    margin:10px;
   
    padding:8px;
    width:70%;
    
  }
  
  /* .sidenav {
    height:100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 5px;
   
  } */
  .topnav a {
    float: left;
    display: block;
    color:#404ab9;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 17px;
    border:2px solid #404ab9;
    border-radius: 10px;
    margin:12px;
  }
  
  .topnav a:hover {
    background-color: #404ab9;
    color:white;
    
    
  }
/*   
  .topnav a.active {
    background-color: #2196F3;
    color: white;
   
  }
   */
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 9px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    margin-bottom: 5px;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 11px;
    margin-top: 8px;
    margin-right: 13px;
    background: #007bff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: left;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
     
    }
    .topnav input[type=text] {
      border: 1px solid black;  
    }
  }
  /* .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 
  .btn-primary{
    padding:.100rem .38rem;
    
    background-color: #3f51b5;
    color:white;
  }
  .btn-prime{
    padding:.100rem .40rem;
    color:#455aa7;
    /* margin-top: 5px; */
    border-radius:50px;
    /* background-color: #455aa7; */
    border: 2px solid #455aa7;
    font-size: 15px;
    font-weight: 600;
    margin-right:15px;
    
    
  }
  .btn-prime:hover{
    background-color: #455aa7;
    color: white;
  }
  .btn-link{
    color:#404ab9;
      font-weight:400px;
      background-color:none;
      margin-left:10px;
      padding:7px;
  }
  .alert-danger{
    color: white;
    background-color: #abbdc5;
    border-style: none;
    padding: 7px;
    border-radius: 5px;
  }
  .button:focus{
    outline:none;
   
  }
  .button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4:hover {
background-color: #e7e7e7;

}
.button4:active{
  background-color: #86b2fb;
}
.h1,h2{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#3f51b5;
  }
  .fa{
    border: none;
    margin-right: 10px;
    background-color: #7086d9;
    border-right:1px solid rgba(0,0,0,0.2);
    color:white;
    
  }
  .card1{
    width:600px;
    border:1px solid #7086d9;
    /* margin-bottom:10px;
    box-shadow:2px 2px 4px 0px #66666673; */
  }
 