<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- <div class="container-fluid " style="margin-left:15rem;width:100%">  -->
  <div class="list-group">
    <div class="row mt-3">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 pl-0">
        <div class="float-left pl-3">
          <h2>Bookmark Share</h2>
        </div>
      </div>
    </div>
    <div *ngFor="let bookmarks of bookmarklist; let i = index" class="col-8 share back">
      <div class="shadow-lg p-3  bg-white rounded">
        <div class="row">
          <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
            <div class="row">
              <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg share3">
                        <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ bookmarks.name}}"  alt="user" style="width:60px;height:40px;padding-left:15px;" class="profile-photo-lg"> -->
              <div *ngIf="!bookmarks.name; else block">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                  class="profile-photo-sm rounded-circle">
              </div>
              <ng-template #block>
                <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ bookmarks.name}}" alt="logo" width="50"
                  height="50" class="profile-photo-sm rounded-circle ">
              </ng-template>
            </div>
            <div class="row  text-capitalize">
              <p class="share4">{{bookmarks.username}}</p>
            </div>
          </div>
          <div class="col-9" style="text-align: end;margin-top: 5px;">
            <svg xmlns="http://www.w3.org/2000/svg" (click)="deleteBookmarkLink(bookmarks.shareId)" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            </div>

        </div>
        <div class="row">
          <div class="col-10 share5">
            <a href="{{bookmarks.link}}" target="_blank" class="menu_link share6">
              {{bookmarks.link}}
            </a>
            <p class="sharetime pt " style="margin-top: -23px;margin-left: 100px;">
              SharedTime:<br/>
              {{bookmarks.sharedTime}}
            </p>
         
         
          </div>
         

        
        </div>
        <div class="row  text-capitalize">
          <p class="share4">{{bookmarks.bookmarkName}}</p>
        </div>
        <!-- <div class="row" style="padding-top: 7px;padding-left: 4px; margin-bottom:0px;font-weight: 550">
                <h5 >SharedTime: </h5>
                <small style="padding-right:3px;float: right;">{{bookmarks.sharedTime}}</small>
                </div> -->
        <!-- <div class="d-flex w-80 justify-content-between share7"> -->
        <div class="row">
          <div class="col-1">
            <button type="button" class="button3" data-toggle="modal" title="share" data-target="#shareModal"
              (click)="showShareModal(bookmarks)">
              <!-- <mat-icon>share</mat-icon> -->
            </button>
            <div class="modal fade" id="shareModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Access Type</h4>
                  </div>
                  <div>
                    <form name="form" #fshare="ngForm" (ngSubmit)="shareBookmark(bookmarkLinkShareId)">
                      <!-- Modal body -->
                      <div class="row modal-body">
                        <div class="col-3">
                          <label>Access Type</label>
                        </div>
                        <div class="col-7">
                          <select (change)="onchangeAccessType($event.target.value)" class="form-control"
                            id="accessType" required>
                            <option>--Select--</option>
                            <option>Private</option>
                            <option>Public</option>
                            <option>MyChain</option>
                            <option>Everyone</option>
                          </select>
                        </div>
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary"
                          (click)="shareBookmark(bookmarkLinkShareId)">
                          share
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hide()">
                          Close
                        </button>
                      </div>
                    </form>
                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10">
            <button *ngIf="bookmarks.bookmarklinkId!==showCollasalIndex" type="button" class="button3"
              (click)="opentesttoggle(bookmarks,bookmarks.bookmarklinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <button *ngIf="bookmarks.bookmarklinkId==showCollasalIndex" type="button" class="button3"
              (click)="closetesttoggle(bookmarks,bookmarks.bookmarklinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <div *ngIf="bookmarks.bookmarklinkId==showCollasalIndex">
              <!-- <div class="card card-body"> -->
              <div class="left col-12 share9">
                <h3 class="pt-2 pl-2">Key Points</h3>
                <hr>
                <div class="row">
                  <div class="col-11 mb-1">
                    <div *ngFor="let keypoint of limitedkeypointlist let id = index" class="share10">
                      <div class="row">
                        <div class="col-2">
                          <!-- <img  src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo" width="50" height="50" class="profile-photo-sm rounded-circle ">   -->
                          <div *ngIf="!keypoint.name; else block">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50"
                              height="50" class="profile-photo-sm rounded-circle">
                          </div>
                          <ng-template #block>
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo"
                              width="50" height="50" class="profile-photo-sm rounded-circle ">
                          </ng-template>
                        </div>
                        <div class="col-9">
                          <p class="font-weight-bold text-capitalize" style="color:cornflowerblue;">
                            {{keypoint.username}}</p>
                          <p>{{keypoint.keyComments}}</p>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-link" (click)="onKeyPointsViewMore()" id="view-more"
                      *ngIf="KeypointList.length > 3">View More</button>
                    <button class="btn btn-link" (click)="onkeyPointsviewless()" style="display: none;"
                      id="view-less">View Less</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-1"><img src="assets/image/lakshman.png" alt="user" class="profile-photo-sm rounded" style="width: 3rem"></div> -->
          <div class="col-11">
            <div style="margin-top: 15px;" title="Add Key Point">
              <form name="form" #ff="ngForm"
                (ngSubmit)="ff.form.valid && AddKeypoint(bookmarks.bookmarklinkId,bookmarks.bookmarkCategoryId,keyComments.value,ff)">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group" style="margin-left: 65px;">
                      <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                        placeholder="Add KeyPoints..." id="keyComments.value" required #keyComments name="keyComments"
                        required ngModel>
                      <div class="alert-danger" *ngIf="ff.submitted && keyComments.value.invalid">
                        <div *ngIf="keyComments.value.errors.required ">
                          *Key Comments required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn std">Add</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let concepts of bookmarkconceptlist; let i = index" class="col-8 share back">
      <div class="shadow-lg p-3  bg-white rounded">
        <div class="row">
          <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
            <div class="row">
              <div *ngIf="!concepts.name; else block">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                  class="profile-photo-sm rounded-circle">
              </div>
              <ng-template #block>
                <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ concepts.name}}" alt="logo" width="50"
                  height="50" class="profile-photo-sm rounded-circle ">
              </ng-template>
            </div>
            <div class="row  text-capitalize">
              <p class="share4">{{concepts.username}}</p>
            </div>
          </div>
          <div class="col-10 share5">
            <a href="{{concepts.conceptlink}}" target="_blank" class="menu_link share6">
              {{concepts.conceptlink}}
            </a>
            <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">
              SharedTime:
            </p>
            <span class="sharetime pt-3" style="margin-top: -23px;margin-left: 100px;">
              {{concepts.sharedTime}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <button type="button" class="button3" data-toggle="modal" title="share" data-target="#shareconceptModal"
              (click)="showconceptShareModal(concepts.conceptlinkId)">
              <!-- <mat-icon>
                share
              </mat-icon> -->
            </button>
            <div class="modal fade" id="shareconceptModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Select Access Type</h4>
                    <!-- <button type="button" class="close" style="color: brown;"
                              data-dismiss="modal" (click) = "hide()">&times;</button> -->
                  </div>
                  <div class="modal-body">
                    <form name="form" #f1share="ngForm" (ngSubmit)="shareBookmarkconcept(concepts.conceptlinkId)">
                      <div class="row">
                        <div class="col-3">
                          <label>Access Type</label>
                        </div>
                        <div class="col-7">
                          <select (change)="onchangeconceptAccessType($event.target.value)" class="form-control"
                            id="accessType" required>
                            <option>--Select--</option>
                            <option>Private</option>
                            <option>Public</option>
                            <option>MyChain</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary"
                          (click)="shareBookmarkconcept(concepts.conceptlinkId)">
                          share
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hide()">
                          Close
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10">
            <button *ngIf="concepts.conceptlinkId!==showCollasalIndex" type="button" class="button3"
              (click)="openconceptoggle(concepts,concepts.conceptlinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <button *ngIf="concepts.conceptlinkId==showCollasalIndex" type="button" class="button3"
              (click)="closeconceptoggle(concepts,concepts.conceptlinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <div *ngIf="concepts.conceptlinkId==showCollasalIndex">
              <div class="left col-12 share9">
                <h3 class="pt-2 pl-2">Key Points</h3>
                <hr>
                <div class="row">
                  <div class="col-11 mb-1">
                    <div *ngFor="let conceptkeypoint of limitedconceptkeypointlist let id = index" class="share10">
                      <div class="row">
                        <div class="col-2">
                          <div *ngIf="!conceptkeypoint.name; else block">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50"
                              height="50" class="profile-photo-sm rounded-circle">
                          </div>
                          <ng-template #block>
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ conceptkeypoint.name}}"
                              alt="logo" width="50" height="50" class="profile-photo-sm rounded-circle ">
                          </ng-template>
                        </div>
                        <div class="col-9">
                          <p class="font-weight-bold text-capitalize" style="color:cornflowerblue;">
                            {{conceptkeypoint.username}}</p>
                          <p>{{conceptkeypoint.keypoints}}</p>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-link" (click)="onconceptKeyPointViewMore()" id="conceptview-more"
                      *ngIf="conceptKeypointList.length > 3">
                      View More
                    </button>
                    <button class="btn btn-link" (click)="onconceptkeyPointviewless()" style="display: none;"
                      id="conceptview-less">
                      View Less
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11">
            <div style="margin-top: 15px;" title="Add Concept KeyPoints">
              <form name="form" #ff1="ngForm"
                (ngSubmit)="ff1.form.valid && AddconceptKeypoints(concepts.conceptlinkId,concepts.conceptKeypointId,conceptkeyComments.value,ff1)">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group" style="margin-left: 65px;">
                      <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                        placeholder="Add KeyPoints..." id="keypoints.value" required #conceptkeyComments
                        name="keypoints" ngModel>
                      <div class="alert-danger" *ngIf="ff1.submitted && conceptkeyComments.value.invalid">
                        <div *ngIf="conceptkeyComments.value.errors.required ">
                          *Key Comments required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn std">
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let step of bookmarkSteplist; let i = index" class="col-8 share back">
      <div class="shadow-lg p-3  bg-white rounded">
        <div class="row">
          <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
            <div class="row">
              <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg share3">
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ bookmarks.name}}"  alt="user" style="width:60px;height:40px;padding-left:15px;" class="profile-photo-lg"> -->
              <div *ngIf="!step.name; else block">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                  class="profile-photo-sm rounded-circle">
              </div>
              <ng-template #block>
                <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ step.name}}" alt="logo" width="50"
                  height="50" class="profile-photo-sm rounded-circle ">
              </ng-template>
            </div>
            <div class="row  text-capitalize">
              <p class="share4">{{step.username}}</p>
            </div>
          </div>
          <div class="col-10 share5">
            <a href="{{step.steplink}}" target="_blank" class="menu_link share6">
              {{step.steplink}}
            </a>
            <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">
              SharedTime:
            </p>
            <span class="sharetime pt-3" style="margin-top: -23px;margin-left: 100px;">
              {{step.sharedTime}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <button type="button" class="button3" data-toggle="modal" title="share1" data-target="#shareModal1"
              (click)="showShareModal1(step)">
              <!-- <mat-icon>
                share
              </mat-icon> -->
            </button>
            <div class="modal fade" id="shareModal1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Select Access Type</h4>
                  </div>
                  <div class="modal-body">
                    <form name="form" #fstepshare="ngForm" (ngSubmit)="shareBookmarkStep(steplinkId)">
                      <div class="row">
                        <div class="col-3">
                          <label>Access Type</label>
                        </div>
                        <div class="col-7">
                          <select (change)="onchangestepAccessType($event.target.value)" class="form-control"
                            id="accessType" required>
                            <option>--Select--</option>
                            <option>Private</option>
                            <option>Public</option>
                            <option>MyChain</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary"
                          (click)="shareBookmarkStep(steplinkId)">
                          share
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hide()">
                          Close
                        </button>
                      </div>
                    </form>
                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10">
            <button *ngIf="step.steplinkId!==showCollasalIndex" type="button" class="button3"
              (click)="opensteptoggle(step,step.steplinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <button *ngIf="step.steplinkId==showCollasalIndex" type="button" class="button3"
              (click)="closesteptoggle(step,step.steplinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <div *ngIf="step.steplinkId==showCollasalIndex">
              <div class="left col-12 share9">
                <h3 class="pt-2 pl-2">Key Points</h3>
                <hr>
                <div class="row">
                  <div class="col-11 mb-1">
                    <div *ngFor="let keypoint of limitedstepkeypointlist let id = index" class="share10">
                      <div class="row">
                        <div class="col-2">
                          <!-- <img  src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo" width="50" height="50" class="profile-photo-sm rounded-circle ">   -->
                          <div *ngIf="!keypoint.name; else block">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50"
                              height="50" class="profile-photo-sm rounded-circle">
                          </div>
                          <ng-template #block>
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo"
                              width="50" height="50" class="profile-photo-sm rounded-circle ">
                          </ng-template>
                        </div>
                        <div class="col-9">
                          <p class="font-weight-bold text-capitalize" style="color:cornflowerblue;">
                            {{keypoint.username}}</p>
                          <p>{{keypoint.keypoints}}</p>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-link" (click)="onKeyPointstepViewMore()" id="view-more"
                      *ngIf="StepKeypointList.length > 3">
                      View More
                    </button>
                    <button class="btn btn-link" (click)="onkeyPointstepviewless()" style="display: none;"
                      id="view-less">
                      View Less
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11">
            <div style="margin-top: 15px;" title="Add Step KeyPoints">
              <form name="form" #ff="ngForm"
                (ngSubmit)="ff.form.valid && AddStepKeypoints(step.steplinkId,step.keypointId,keyComments.value,ff)">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group" style="margin-left: 65px;">
                      <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                        placeholder="Add KeyPoints..." id="keypoints.value" required #keyComments name="keypoints"
                        ngModel>
                      <div class="alert-danger" *ngIf="ff.submitted && keyComments.value.invalid">
                        <div *ngIf="keyComments.value.errors.required ">
                          *Key Comments required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn std">
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let skill of bookmarkSkilllist; let i = index" class="col-8 share back">
      <div class="shadow-lg p-3  bg-white rounded">
        <div class="row">
          <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
            <div class="row">
              <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg share3">
                      <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ skill.name}}"  alt="user" style="width:60px;height:40px;padding-left:15px;" class="profile-photo-lg"> -->
              <div *ngIf="!skill.name; else block">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                  class="profile-photo-sm rounded-circle">
              </div>
              <ng-template #block>
                <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ skill.name}}" alt="logo" width="50"
                  height="50" class="profile-photo-sm rounded-circle ">
              </ng-template>
            </div>
            <div class="row  text-capitalize">
              <p class="share4">{{skill.username}}</p>
            </div>
          </div>
          <div class="col-10 share5">
            <a href="{{skill.skilllink}}" target="_blank" class="menu_link share6">
              {{skill.skilllink}}
            </a>
            <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">
              SharedTime:
            </p>
            <span class="sharetime pt-3" style="margin-top: -23px;margin-left: 100px;">
              {{skill.sharedTime}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <button type="button" class="button3" data-toggle="modal" title="share4" data-target="#shareModal4"
              (click)="showShareModal4(skill)">
              <!-- <mat-icon>
                share
              </mat-icon> -->
            </button>
            <div class="modal fade" id="shareModal4">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Select Access Type</h4>
                  </div>
                  <div class="modal-body">
                    <form name="form" #fshare="ngForm" (ngSubmit)="shareSkill(skilllinkId)">
                      <div class="row">
                        <div class="col-3">
                          <label>Access Type</label>
                        </div>
                        <div class="col-7">
                          <select (change)="onchangeAccessType($event.target.value)" class="form-control"
                            id="accessType" required>
                            <option>--Select--</option>
                            <option>Private</option>
                            <option>Public</option>
                            <option>MyChain</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary"
                          (click)="shareSkill(skilllinkId)">
                          share
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hide()">
                          Close
                        </button>
                      </div>
                    </form>
                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10">
            <button *ngIf="skill.skilllinkId!==showCollasalIndex" type="button" class="button3"
              (click)="openSkilltoggle(skill,skill.skilllinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <button *ngIf="skill.skilllinkId==showCollasalIndex" type="button" class="button3"
              (click)="closeSkilltoggle(skill,skill.skilllinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <div *ngIf="skill.skilllinkId==showCollasalIndex">
              <div class="left col-12 share9">
                <h3 class="pt-2 pl-2">Key Points</h3>
                <hr>
                <div class="row">
                  <div class="col-11 mb-1">
                    <div *ngFor="let keypointkey of limitedSkillkeypointlist let id = index" class="share10">
                      <div class="row">
                        <div class="col-2">
                          <!-- <img  src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypointkey.name}}" alt="logo" width="50" height="50" class="profile-photo-sm rounded-circle ">   -->
                          <div *ngIf="!keypointkey.name; else block">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50"
                              height="50" class="profile-photo-sm rounded-circle">
                          </div>
                          <ng-template #block>
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypointkey.name}}" alt="logo"
                              width="50" height="50" class="profile-photo-sm rounded-circle ">
                          </ng-template>
                        </div>
                        <div class="col-9">
                          <p class="font-weight-bold text-capitalize" style="color:cornflowerblue;">
                            {{keypointkey.username}}</p>
                          <p>{{keypointkey.keypoints}}</p>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-link" (click)="onKeyPointSkillsViewMore()" id="view-more"
                      *ngIf="SkillKeypointList.length > 3">
                      View More
                    </button>
                    <button class="btn btn-link" (click)="onkeyPointSkillviewless()" style="display: none;"
                      id="view-less">
                      View Less
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11">
            <div style="margin-top: 15px;" title="Add Skill KeyPoints">
              <form name="form" #ff4="ngForm"
                (ngSubmit)="ff4.form.valid && AddSkillKeypoints(skill.skilllinkId,skill.keypointId,skill.skillId,keyComments.value,ff4)">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group" style="margin-left: 65px;">
                      <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                        placeholder="Add KeyPoints..." id="keypoints.value" required #keyComments name="keypoints"
                        ngModel>
                      <div class="alert-danger" *ngIf="ff4.submitted && keyComments.value.invalid">
                        <div *ngIf="keyComments.value.errors.required ">
                          *Key Comments required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn std">
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let solution of bookmarkSolutionlist; let i = index" class="col-8 share back">
      <div class="shadow-lg p-3  bg-white rounded">
        <div class="row">
          <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
            <div class="row">
              <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg share3">
                      <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ bookmarks.name}}"  alt="user" style="width:60px;height:40px;padding-left:15px;" class="profile-photo-lg"> -->
              <div *ngIf="!solution.name; else block">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                  class="profile-photo-sm rounded-circle">
              </div>

              <ng-template #block>
                <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ solution.name}}" alt="logo" width="50"
                  height="50" class="profile-photo-sm rounded-circle ">
              </ng-template>
            </div>
            <div class="row  text-capitalize">
              <p class="share4">{{solution.username}}</p>
            </div>
          </div>
          <div class="col-10 share5">
            <a href="{{solution.solutionlink}}" target="_blank" class="menu_link share6">
              {{solution.solutionlink}}
            </a>
            <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">
              SharedTime:
            </p>
            <span class="sharetime pt-3" style="margin-top: -23px;margin-left: 100px;">
              {{solution.sharedTime}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <button type="button" class="button3" data-toggle="modal" title="share" data-target="#shareModal3"
              (click)="showShareModal3(solution)">
              <!-- <mat-icon>
                share
              </mat-icon> -->
            </button>
            <div class="modal fade" id="shareModal3">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Select Access Type</h4>
                  </div>
                  <div class="modal-body">
                    <form name="form" #f1share="ngForm" (ngSubmit)="shareBookmarksolution(solutionlinkId)">
                      <div class="row">
                        <div class="col-3">
                          <label>Access Type</label>
                        </div>
                        <div class="col-7">
                          <select (change)="onchangeAccessType($event.target.value)" class="form-control"
                            id="accessType" required>
                            <option>--Select--</option>
                            <option>Private</option>
                            <option>Public</option>
                            <option>MyChain</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary"
                          (click)="shareBookmarksolution(solutionlinkId)">
                          share
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hide()">
                          Close
                        </button>
                      </div>
                    </form>
                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10">
            <button *ngIf="solution.solutionlinkId!==showCollasalIndex" type="button" class="button3"
              (click)="opensolutiontoggle(solution,solution.solutionlinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <button *ngIf="solution.solutionlinkId==showCollasalIndex" type="button" class="button3"
              (click)="closesolutiontoggle(solution,solution.solutionlinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <div *ngIf="solution.solutionlinkId==showCollasalIndex">
              <div class="left col-12 share9">
                <h3 class="pt-2 pl-2">Key Points</h3>
                <hr>
                <div class="row">
                  <div class="col-11 mb-1">
                    <div *ngFor="let keypoint of limitedsolutionkeypointlist let id = index" class="share10">
                      <div class="row">
                        <div class="col-2">
                          <!-- <img  src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo" width="50" height="50" class="profile-photo-sm rounded-circle ">   -->
                          <div *ngIf="!keypoint.name; else block">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50"
                              height="50" class="profile-photo-sm rounded-circle">
                          </div>
                          <ng-template #block>
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo"
                              width="50" height="50" class="profile-photo-sm rounded-circle ">
                          </ng-template>
                        </div>
                        <div class="col-9">
                          <p class="font-weight-bold text-capitalize" style="color:cornflowerblue;">
                            {{keypoint.username}}</p>
                          <p>{{keypoint.keypoints}}</p>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-link" (click)="onKeyPointsolutionViewMore()" id="view-more"
                      *ngIf="SolutionKeypointList.length > 3">
                      View More
                    </button>
                    <button class="btn btn-link" (click)="onkeyPointsolutionviewless()" style="display: none;"
                      id="view-less">
                      View Less
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11">
            <div style="margin-top: 15px;" title="Add Skill KeyPoints">
              <form name="form" #ff="ngForm"
                (ngSubmit)="ff.form.valid && AddSolutionKeypoints(solution.solutionlinkId,solution.keypointId,keyComments.value,ff)">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group" style="margin-left: 65px;">
                      <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                        placeholder="Add KeyPoints..." id="keypoints.value" required #keyComments name="keypoints"
                        ngModel>
                      <div class="alert-danger" *ngIf="ff.submitted && keyComments.value.invalid">
                        <div *ngIf="keyComments.value.errors.required ">
                          *Key Comments required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn std">
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let listapproach of bookmarkApproachlist; let i = index" class="col-8 share back">
      <div class="shadow-lg p-3  bg-white rounded">
        <div class="row">
          <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
            <div class="row">

              <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg share3">
                        <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ bookmarks.name}}"  alt="user" style="width:60px;height:40px;padding-left:15px;" class="profile-photo-lg"> -->
              <div *ngIf="!listapproach.name; else block">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                  class="profile-photo-sm rounded-circle">
              </div>
              <ng-template #block>
                <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ listapproach.name}}" alt="logo" width="50"
                  height="50" class="profile-photo-sm rounded-circle ">
              </ng-template>
            </div>
            <div class="row  text-capitalize">
              <p class="share4">{{listapproach.username}}</p>

            </div>
          </div>
          <div class="col-10 share5">
            <a href="{{listapproach.approachlink}}" target="_blank" class="menu_link share6">
              {{listapproach.approachlink}}
            </a>
            <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">
              SharedTime:
            </p>
            <span class="sharetime pt-3" style="margin-top: -23px;margin-left: 100px;">
              {{listapproach.sharedTime}}
            </span>

          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <button type="button" class="button3" data-toggle="modal" title="share3" data-target="#shareModal2"
              (click)="showShareModal2(listapproach)">
              <!-- <mat-icon>
                share
              </mat-icon> -->
            </button>
            <div class="modal fade" id="shareModal2">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Select Access Type</h4>
                  </div>
                  <div class="modal-body">
                    <form name="form" #f1share="ngForm" (ngSubmit)="shareBookmark(approachlinkId)">
                      <div class="row">
                        <div class="col-3">
                          <label>Access Type</label>
                        </div>
                        <div class="col-7">
                          <select (change)="onchangeAccessType($event.target.value)" class="form-control"
                            id="accessType" required>
                            <option>--Select--</option>
                            <option>Private</option>
                            <option>Public</option>
                            <option>MyChain</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" class="btn btn-primary"
                          (click)="shareBookmarksolution(approachlinkId)">
                          share
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hide()">
                          Close
                        </button>
                      </div>
                    </form>
                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10">
            <button *ngIf="listapproach.approachlinkId!==showCollasalIndex" type="button" class="button3"
              (click)="openApproachtoggle(listapproach,listapproach.approachlinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <button *ngIf="listapproach.approachlinkId==showCollasalIndex" type="button" class="button3"
              (click)="openApproachtoggle(listapproach,listapproach.approachlinkId)" title="Key Points">
              <mat-icon>comment</mat-icon>
            </button>
            <div *ngIf="listapproach.approachlinkId==showCollasalIndex">
              <div class="left col-12 share9">
                <h3 class="pt-2 pl-2">Key Points</h3>
                <hr>
                <div class="row">
                  <div class="col-11 mb-1">
                    <div *ngFor="let keypoint of limitedApproachkeypointlist let id = index" class="share10">
                      <div class="row">
                        <div class="col-2">
                          <!-- <img  src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo" width="50" height="50" class="profile-photo-sm rounded-circle ">   -->
                          <div *ngIf="!keypoint.name; else block">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50"
                              height="50" class="profile-photo-sm rounded-circle">
                          </div>
                          <ng-template #block>
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ keypoint.name}}" alt="logo"
                              width="50" height="50" class="profile-photo-sm rounded-circle ">
                          </ng-template>
                        </div>
                        <div class="col-9">
                          <p class="font-weight-bold text-capitalize" style="color:cornflowerblue;">
                            {{keypoint.username}}</p>
                          <p>{{keypoint.keypoints}}</p>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-link" (click)="onKeyPointApproachViewMore()" id="view-more"
                      *ngIf="ApproachKeypointList.length > 3">
                      View More
                    </button>
                    <button class="btn btn-link" (click)="onkeyPointApproachviewless()" style="display: none;"
                      id="view-less">
                      View Less
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-11">
            <div style="margin-top: 15px;" title="Add Skill KeyPoints">
              <form name="form" #ff="ngForm"
                (ngSubmit)="ff.form.valid && AddapproachKeypoints(listapproach.approachlinkId,listapproach.keypointId,keyComments.value,ff)">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group" style="margin-left: 65px;">
                      <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                        placeholder="Add KeyPoints..." id="keypoints.value" required #keyComments name="keypoints"
                        ngModel>
                      <div class="alert-danger" *ngIf="ff.submitted && keyComments.value.invalid">
                        <div *ngIf="keyComments.value.errors.required ">
                          *Key Comments required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn std">
                      Add
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- </div> -->
    <div class="float-left pl-3">
      <h2>Bookmark Names</h2>
    </div>
    <div *ngFor="let topics of bookmarktopiclist; let i = index" class="col-8 share">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2">
          <div class="row">
            <div *ngIf="!topics.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>

            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ topics.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{topics.username}}</p>
          </div>
        </div>
        <div class="col-10 share5 form-row">
          <div class="col-md-7 mb-7">
            <label for="validationDefault01">Topic:</label>
            <label for="validationDefault01">{{topics.learnName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault01">Concepts:</label>
            <br />
            <label for="validationDefault01">{{topics.conceptName}}</label>
          </div>

        </div>
        <div class="row">
          <p class="sharetime pl-3">SharedTime: </p><span class="sharetime pl-1">{{topics.sharedTime}}</span>
        </div>
      </div>
    </div>
    <div *ngFor="let goals of bookmarkgoallist; let i = index" class="col-8 share">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2">
          <div class="row">
            <div *ngIf="!goals.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>

            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ goals.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{goals.username}}</p>
          </div>
        </div>
        <div class="col-10 share5 form-row">
          <div class="col-md-7 mb-7">
            <label for="validationDefault01">Goals:</label>
            <label for="validationDefault01">{{goals.goalName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault01">Steps:</label>
            <br />
            <label for="validationDefault01">{{goals.stepName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault01">Skills:</label>
            <br />
            <label for="validationDefault01">{{goals.skillName}}</label>
          </div>
        </div>
        <div class="row">
          <p class="sharetime pl-3">SharedTime: </p><span class="sharetime pl-1">{{goals.sharedTime}}</span>
        </div>
      </div>
    </div>
    <div *ngFor="let challenges of bookmarkchallengelist; let i = index" class="col-8 share">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2">
          <div class="row">
            <div *ngIf="!challenges.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>

            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ challenges.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{challenges.username}}</p>
          </div>
        </div>
        <div class="col-10 share5 form-row">
          <div class="col-md-7 mb-7">
            <label for="validationDefault01">challenges:</label>
            <label for="validationDefault01">{{challenges.challengeName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault01">Solution:</label>
            <br />
            <label for="validationDefault01">{{challenges.solutionName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault01">Approach:</label>
            <br />
            <label for="validationDefault01">{{challenges.approachName}}</label>
          </div>
        </div>
        <div class="row">
          <p class="sharetime pl-3">SharedTime: </p><span class="sharetime pl-1">{{challenges.sharedTime}}</span>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="list-group col-8 text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <!-- </div> -->
</body>

</html>