
  
  .list-group{
    padding-top:2rem;
    padding-left:1rem;
    margin-top:6px;
  }
  .h1,h2,h4{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  
  .button {
       /* padding: 15px 15px 15px 15px;   */
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #509ef1;
      border: none;
      border-radius: 5px;
      box-shadow: 0 5px #999;
    }
    
    .button:hover {background-color: #ca2dcf}
    
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
  .button1:hover {background-color: #ff0000}
  
  .button1:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
  
  .button2 {
   padding: 5px 15px;
   font-size: 15px;
   text-align: center;
   cursor: pointer;
   outline: none;
   color: #fff;
   background-color: #6518e0;
   border: none;
   border-radius: 15px;
   box-shadow: 0 5px #999;
  }
  
    .button2 {
      padding: 5px 15px;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #3f51b5;
      border: none;
      border-radius: 15px;
      box-shadow: 0 5px #999;
    }
    
    .button2:hover {background-color: #1bc9e7}
    
    .button2:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
  .button2:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
  
  
  .share{
   padding-bottom:19px;
   padding-top: 1em;
   border-radius: 30px;
   background:rgb(0 0 0 / 12%);
   padding-left: 1em;
   margin-top: 10px;
   padding-right: 1em;
   border: 1px solid#eaebee;
   max-width: 84.666667%;
  }
  .share:active {
   /* background-color: #3e8e41; */
   box-shadow: 0 5px #666;
   /* transform: translateY(4px); */
  }
  
  .button3{
    background-color: white;
    text-align: center;
    color: #509ef1;
    /* font-size: 2rem; */
    font-weight: 150;
    border-style: none;
  }
  .button3:hover{
    color:#a8323e;
  }
  .cmt-keycomments[_ngcontent-qtx-c133]{
    margin-top:5px;
    margin-bottom:5px;
    background-color:#e9ecefd6;
    border-radius:50px;
  }
  .share2{
    padding-top: 2px;
    padding-left:45px;
  }
  .share3{
    width:60px;
    height:40px;
    padding-left:15px;
    }
    .share4{
      color: #3f51b5;
      font-size: small;
       font-weight: 550;
       padding-top: 4px;
       padding-left:15px;
       margin-bottom:0px;
    }
    .share5{
      color:#3f51b5;
      font-weight: 550;
      padding-top: 0px;
      word-break:break-all;
      padding-left:200px;
    }
    .share6{
      font-size: medium; 
      font-weight: 550
    }
    .share7{
      padding-top: 8px;
      padding-right: 7px;
    }
    .share8{
      font-size: small;
      font-weight: 550;
      float: left;
    }
    .share9{
      /* background-color:#F4F3FC; */
      width:100%;
      border:1px solid #3f51b5; 
      padding-left: 1.5rem;
      border-radius: 35px;
    }
    .share10{
      border-radius: 15px;
      background: #e0ece4;
      padding-left: 2em; 
      margin-top: 6px;
      padding-top: 3px;
      padding-right: 1em;
      margin-bottom: 8px;
    }
    .sharetime {
      font-size: 15px;
      color: #666666;
      width: 600px;
      padding-left: 21em !important;
    }

    .pt{
      width:600px;
    }
    .back{
      width: 1000px;
    margin-left: -4px;
    }

    button.std{
      background-color: #509ef1; 
      color: #fff; 
      font-weight: 600; 
      border-radius: 0px;
    }