<p>confirmemailotp works!</p>
<form>
<div>
    <hr>
  <label for="confirmationtoken">Please enter your Confirmation Email code.</label><br>
  <input type="text" name="confirmationtoken" [(ngModel)]="confirmationtoken"
   class="form-control"  >
  
</div>

<div >
 <br/>
<button  class="button" class="btn btn-primary" 
(click)="verifyconfirmation_token()">Continue</button></div>
<div class="alert alert-success" *ngIf="isOTPSuccessful">
  Your Email is valid you can login.
</div>
<div class="form-group">
    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="errmessage"
  >
  Please Verify your code
  </div>
</div>

</form>