
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Accept Invitation Page</h3>
        <div class="alert alert-warning"
           
             role="alert">
            {{message}}
        </div>
       
    </div>
</div>