<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div *ngIf="!currentChainlist">
  <br />
</div>

<nav style="margin-right: 220px;">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">My Friends List</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Friends Request</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent" style="margin-top: 12px;">
  <div class="tab-pane fade show active"   id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let chainlist of friendChainlist; let i = index">
                <div class="card user-card">
                    <div class="card-block">
                        <div class="user-image">
                            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png"  alt="User-Profile-Image">
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ chainlist.name}}"  class="img-radius img.profile-photo-lg" alt="user" > -->

                            <div *ngIf="!chainlist.name; else block">
                              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                            </div>
                            <ng-template #block>
                              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ chainlist.name}}"
                              alt="logo"  width="110" height="110" class="profile-photo-sm rounded-circle ">
                            </ng-template>
                        </div>
                        <!--{{chainlist.userid}} -->
                        <h2><a  class="profile-link" (click)="ViewfriendsBookmark(chainlist.userid)" style="cursor: pointer;color: cornflowerblue;"  class="profile-link">{{ chainlist.username }}</a></h2>
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="container">
          <div class="row">
              <div class="col-md-10">
                 <div class="people-nearby">
                    <div class="nearby-user"  *ngFor="let chainlist of chainlists; let i = index"
                    [class.active]="i == currentIndex">
                      <div class="row ">
                        <div class="col-md-2 col-sm-2"  >
                          <div *ngIf="!chainlist.name; else block">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                          </div>
                          <ng-template #block>
                            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ chainlist.name}}"
                            alt="logo"  width="110" height="110" class="profile-photo-sm rounded-circle " style="margin-left: 12px;">
                          </ng-template>
                          <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ chainlist.name}}"
                          alt="user"  width="110" height="110" class="profile-photo-sm rounded-circle "> -->
                        </div>
                        <div class="col-md-4 col-sm-4" >
                          <h2>{{ chainlist.username }}</h2>
                          <!-- <p>{{ chainlist.email }}</p>
                          <p class="text-muted">{{ chainlist.phoneNumber }}</p> -->
                        </div>
                       <div class="col-md-2 col-sm-2">
                          <button *ngIf="!chainlist.status" style="background-color: #7086d9;"
                          class="btn btn-primary pull-left"
                          (click)="updatePublished(chainlist.chainid)" >Accept Friend</button>
                        </div>
                        <div class="col-md-2 col-sm-2" >
                          <button class="btn btn-primary pull-right"style="background-color: #7086d9;"   (click)="RequestDelate(chainlist.chainid)">Reject Friend</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
</div>

