<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>USER SEARCH</h2>
  </div>

</div>




<div class="container"style="margin-left:15px">
  <div class="row">

      <div class="col-md-8">
          <div class="input-group mb-3">
  
  <input 
              type="text"
              class="form-control"
              placeholder="Search by Name"
              [(ngModel)]="username"
              (keyup)="searchName()"
            />
         
          </div>
       
    </div>
</div>
</div>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row" *ngIf="form">
      <div class="col-md-4" *ngFor="let  user of (users|sortname); let i = index">
        
            <div class="card user-card">
                <!-- <div class="card-header">
                    <h5>Profile</h5>
                </div> --> 
                 <form #f="ngForm"
                  (ngSubmit)="f.form.valid ">
                  <div class="card-block">

                
                    <div class="user-image">
                      <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png"  alt="User-Profile-Image">
                      <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ user.name}}"  class="img-radius img.profile-photo-lg" alt="user" > -->

                      <div *ngIf="!user.name; else block">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                      </div>
                      
                      <ng-template #block>
                        <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ user.name}}" 
                        alt="logo"  width="110" height="110" class="profile-photo-sm rounded-circle ">
                      </ng-template>
                  </div>
                    <h2 class="f-w-600 m-t-25 m-b-10">{{user.username}}</h2>
                    <!-- {{i}}  {{user.id}} {{selecteduserId}} {{user.status}} {{statusverified}} -->
                    <hr>
                    
                
                    <div class="row justify-content-center user-social-link">
                      <button class="btn btn-primary pull-right" id="a" *ngIf="user.status != 'true' " (click)="AddChain(user.id)"> Add Friend</button>
                      <!-- <button class="btn btn-primary pull-right" id="{{selecteduserId}}" *ngIf="enableEdit" (click)="AddChain(user.id)"> Add Friend</button> -->
                      <!-- <div class="alert alert-warning" 
                      *ngIf="f.submitted && errorMessage">
                      {{sucessmessage}}
                      </div> -->
                      <div class="alert alert-success" *ngIf="selecteduserId == user.id">
                        Friend request sending successfully! </div>  
                    </div>
                    <div class="alert alert-warning warning" 
                    *ngIf="f.submitted && errorMessage">
                      Friend request already sent!
                      </div>
                  </div>
                 
                  </form>


         </div>    


        
        </div>
      
          </div>
</div>