
<div id="app">
  <nav class="navbar navbar-expand navbar-light top-navbar">

    <ul class="navbar-nav" *ngIf="!isLoggedIn" >
      <li class="nav-item" ><a>
        <img src="assets/image/logo.png" alt="logo"  width="80"height="auto"class="logo" > </a>
      </li>
    </ul>





    <a href="/home"  routerLink="home" *ngIf="isLoggedIn" > 
     <img src="assets/image/logo.png" alt="logo"  width="80"height="auto"class="logo" > </a>
        <!-- <a href="#" class="navbar-brand">Linkroster</a> -->
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
             <!-- <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>  -->
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
       <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul> 
    

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">

      <li class="nav-item">
        <a> 
          <!-- <img [src]="retrievedImage"
             alt="logo"  width="50" height="50" class="profile-photo-sm rounded-circle "></a> -->
    
          <!-- <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ userretrievedImage}}" 
          alt="logo"  width="50" height="50" class="profile-photo-sm rounded-circle "></a> -->
          <div *ngIf="!userretrievedImage; else block">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo"  width="50" height="50" class="profile-photo-sm rounded-circle">
          </div>
          
          <ng-template #block>
            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ userretrievedImage}}" 
            alt="logo"  width="50" height="50" class="profile-photo-sm rounded-circle ">
          </ng-template>
        </a>
        </li>
      <li class="nav-item"*ngFor="let listed of profilelist let id = index">
        
        <a href="/profile" class="nav-link" routerLink="profile">{{ listed.username }}</a>
      </li>
      <li class="nav-item float-right" >
        <a  href="/chain-list" >
          <i class='fas fa-bell' style='font-size:30px;color:black;margin-top: 10px;'></i>
          <span class="badge-notification">
            <sup><span style="vertical-align: top;margin-top: 10px;" class="badge badge-danger">{{notication}} </span></sup></span>
          </a>  
       </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <mat-sidenav opened *ngIf="isLoggedIn" >
    <mat-nav-list >


      
      <!-- <a mat-list-item [routerLink]="'/home'"> <mat-icon>home</mat-icon>  Home </a> -->
      <hr style="margin-top: 0%;margin-bottom: 5px;color: black">
      <a mat-list-item [routerLink]="'/dashboard'"> <mat-icon>dashboard</mat-icon>  Dashboard </a>
      <a mat-list-item [routerLink]="'/share'"> <mat-icon>share</mat-icon> Share List </a>
      <a mat-list-item [routerLink]="'/bookmark'"> <mat-icon>bookmark</mat-icon> Bookmark Manager </a>
      <a mat-list-item [routerLink]="'/learnManager'"> <mat-icon>class</mat-icon>  Learn Manager </a>
      <a mat-list-item [routerLink]="'/goal'"> <i class="fas fa-flag-usa pr-2"></i> Goal Manager </a>
      <!-- <a mat-list-item [routerLink]="'/searchviewpage'"> <mat-icon>search </mat-icon> Bookmark search </a> -->
      <!-- <a mat-list-item [routerLink]="'/challengemanager'"> <mat-icon>bookmark</mat-icon> Challenge Manager </a> -->
      <a mat-list-item [routerLink]="'/solutionmanager'"> <mat-icon>thumb_up</mat-icon> Challenge Manager </a>
      <hr style="margin-top: 0%;margin-bottom: 5px;color: black">
      <a mat-list-item [routerLink]="'/shareteam'"> <mat-icon>share</mat-icon> Team Share</a>
      <a mat-list-item [routerLink]="'/newteam'"> <mat-icon>group_add</mat-icon>Team Add</a>
      <a mat-list-item [routerLink]="'/teambookmark'"> <mat-icon>collections_bookmark</mat-icon>Team Bookmark </a>
      <a mat-list-item [routerLink]="'/teamlearn'"> <mat-icon>collections</mat-icon>Team Learn </a>
      <a mat-list-item [routerLink]="'/teamgoal'"> <mat-icon>flag</mat-icon>Team Goal </a>
      <a mat-list-item [routerLink]="'/teamchallenge'"><mat-icon>blur_circular</mat-icon> Team challenge  </a>
      
      <a mat-list-item [routerLink]="'/myteam'"> <mat-icon>people_outline</mat-icon> Myteam </a>
      <a mat-list-item [routerLink]="'/usermodule'"> <i class="fas fa-users pr-3"></i> Users </a>
      <a mat-list-item [routerLink]="'/chain-list'"> <i class="fas fa-user-friends pr-3"></i>Chainlist </a>
      <!-- <a mat-list-item [routerLink]="'/viewfriendsbookmark'"> <mat-icon> view_quilt</mat-icon> Bookmark view </a> -->
      <!-- <a mat-list-item [routerLink]="'/solutionmanager'"> <mat-icon>bookmark</mat-icon> Solution Manager </a> -->
    </mat-nav-list>
    </mat-sidenav>

  <div class="container-fluid">
   <router-outlet></router-outlet>
  </div>
</div>
