.top-navbar{
  background-color:blue;
}

.navbar-light .navbar-nav .nav-link{
    font-family: Garamond;
    font-size: 15px;
  font-weight: 600;
    color:white;
}

/* mat-sidenav-content {
  height: 100vh;
} */
/* .example-container {
  height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */
/* mat-sidenav {
  width: 200px;
} */
/* .mat-nav-list {
  height: 625px;
} */
/* .mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
} */
/* .content {
  position: absolute;
   background-color: lightcoral;
   width: 98%;
   border: 1px solid black;
   margin: 5px;
   /* bottom: -50px; */
/* height:100%;
max-height: 80%;
overflow: auto;

} */