.body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  text-decoration-color: #ccc;
}

* {
  box-sizing: border-box;
  font-weight:400;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.btn-primary{
  padding:.100rem .38rem;
  
  background-color: #3f51b5;
  color:white;
}
.btn-prime{
  padding:.100rem .40rem;
  color:#455aa7;
  /* margin-top: 5px; */
  border-radius:50px;
  /* background-color: #455aa7; */
  border: 2px solid #455aa7;
  font-size: 14px;
  font-weight: 400;
  margin-right:15px;
  
  
}
.btn-prime:hover{
  background-color: #455aa7;
  color: white;
}
.fa{
  border: none;
  margin-right: 10px;
  background-color:#7086d9;
  border-right:1px solid rgba(0,0,0,0.2);
  color:white;
  
}

::placeholder {
  color: #ff0000;
  opacity: 1; /* Firefox */
}

.topnav {
  overflow:hidden;
  margin: left;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 5px;
  margin-top: 8px;
  font-size: 15px;
  border:2px solid #3f51b5;
  margin:5px;
  border-radius: 5px;
}

.topnav .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: left;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
   
  }
  .topnav input[type=text] {
    border: 1px solid black;  
    
  }
}
/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex:22%;
    padding: 10px;
    margin-right: 10px;
    width:300px;
 
}
.h1,h2{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color:#3f51b5;
}

.right {
  flex: 65%;
  padding: 15px;
}

#mySearch {
  width: 100%;
  padding: 11px;
  border: 1px solid #ddd;
}

.btn-link{
  color:#404ab9;
    font-weight:400px;
    background-color:none;
    margin-left:10px;
    padding:7px;
}

.alert-danger{
  color: white;
  background-color: #abbdc5;
  border-style: none;
  padding: 7px;
  border-radius: 5px;
}

.btn-group-sm>.btn, .btn-sm{
  padding:5px 10px;
}


.modal-body{
  font-size:21px;
  color: black;
}

.btn-danger{
  padding:2px 7px;
  border: none;
  margin-top: 3px;
  margin-left:7px;
}

.btn-danger{
  background-color:#7086d9;
  color:#ffffff;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-danger:active{
  background-color: #910000;
}

.btn-3{
  background-color:#7086d9;
  color:#ffffff;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-3:hover{
  background-color:#07689f;
  border: 2px solid #07689f;
}
.modal-body{
  font-size:15px;
}
.table td, .table th{
  padding:8px;
}

.text-center{
  text-align:left;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 550;
  color:#3f51b5;
}

.table{
  background-color:rgb(119 102 253 / 15%);
    width:92%;
    margin:1rem;
    border-radius:3px;  
}
.close{
  margin-left: 470px;
}

.mat-h2, .mat-title, .mat-typography h2{
  margin:0px;
}

.fa{
    border: none;
    margin-right: 10px;
    /* background-color: #3f51b5; */
    border-right:1px solid rgba(0,0,0,0.2);
    color:white;  
  }
  
  .button:focus{
    outline:none;
  }


  .button4 {
  background-color: rgb(7, 130, 201);
  color: black;
  border: 1px solid #e7e7e7;
  border-radius:5px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: auto;
  border: none;

}

.button4:hover {
background-color: #e7e7e7;

}
.button4:active{
  background-color: #86b2fb;
}
.form-control{
  border:1px solid #3f51b5;
  font-size:15px;
}
.h1,h2{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.card-body{
  background-color:#cad3f7;
  padding:5px;
}