<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />

<div class="body">
  <h2 style="margin:30px">View Friends Bookmarks</h2>
  <div class="row">
    <div class="left" style="background-color: #e6e6fa;">
      <h2>Bookmarks Name</h2>
      <div class="form-group">
        <span class="text-center">Bookmark Category</span>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let bookmarks of bookmarklist; let i = index;">
              <td class="column">
                <a style="color:#3f51b5;cursor:pointer;" (click)="getBookmarkid(bookmarks)">
                  {{bookmarks.bookmarkName}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="isShow" class="left" style="background-color:lavender;">
      <div class="row">
        <div class="col">
          <h2>Category Links</h2>
        </div>
        <div class="col-4">
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card" style="width:auto;border:none;">
            <tr *ngFor="let bookmarkink of bookmarklinklist let id = index"
                 style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
              <!-- <div class="col-12" style="padding:7px ;border:1px solid #86b2fb">
              </div> -->
              <div class="card-body">
                  <a href="{{bookmarkink.link}}" target=_blank style="cursor:pointer">
                    {{bookmarkink.link}}
                  </a>
                  <!--This commented because the keypoints has some issue-->
                  <!-- <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                          aria-controls="collapseExample" class="button button4" placement="top" ngbTooltip="View Comments"
                          (click)="opentesttoggle(bookmarkink,id)">
                          >>
                  </button> -->
              </div>
              <!--This code is commented because the keypoints has some issue-->
              <!-- <div class="collapse" id="collapseExample" *ngIf="id==showCollasalIndex">
                <div class="left">
                  <div class="row">
                    <div class="col-11" >
                      <tr *ngFor="let keypoint of KeypointList let id = index"
                          style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                          <td class="col-sm-3" style="color:black">
                            <span>{{keypoint.keyComments}}</span>
                          </td>
                      </tr>
                    </div>
                  </div>
                </div>
              </div> -->
            </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>