<h2 class="mt-4">Team Setting</h2>
<div class="row mt-4">
    <div class="col-12 col-md-12 col-lg-10 col-xl-10 pl-0">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="border: 1px solid #d4cefd;">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Team Detail</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Team Member List</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Invite</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div *ngFor="let teamLists of teamList">
                    <div class="row mt-2" >
                        <div class="col-5 col-md-3 col-lg-2 col-xl-2 lbl-txt">
                            Team Name
                        </div>
                        <div>:</div>
                        <div class="col-5 col-md-3 col-lg-4 col-xl-4 data-txt">
                            {{teamLists.teamName}} 
                        </div>
                     </div> 
                     <div class="row mt-3">
                        <div class="col-5 col-md-3 col-lg-2 col-xl-2 lbl-txt">
                            Access Type
                        </div>
                        <div>:</div>
                        <div class="col-5 col-md-3 col-lg-4 col-xl-4 data-txt">
                            {{teamLists.accesstype}}
                        </div>
                     </div> 
                     <div class="row mt-4">
                        <div class="col-5 col-md-3 col-lg-2 col-xl-2 lbl-txt">
                            Team created
                        </div>
                        <div>:</div>
                        <div class="col-5 col-md-3 col-lg-4 col-xl-4 data-txt">
                            {{teamLists.time}}
                        </div>
                     </div> 
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                
                    <div class="member_list" *ngFor="let teamMemberlists of teamMemberlist">
                        <div class="shadow p-3 mb-3 bg-white rounded box">
                        <div class="row mt-1">
                            <div class="col-5 col-md-3 col-lg-2 col-xl-2 lbl-txt">
                                Member EmailId
                            </div>
                            <div>:</div>
                            <div class="col-5 col-md-3 col-lg-4 col-xl-4 data-txt">
                                    {{teamMemberlists.teamMemberEmailId}}
                            </div>
                            </div> 
                            <div class="row mt-3">
                                <div class="col-5 col-md-3 col-lg-2 col-xl-2 lbl-txt">
                                    Role
                                </div>
                                <div>:</div>
                                <div class="col-5 col-md-3 col-lg-4 col-xl-4 data-txt">
                                    {{teamMemberlists.teamAccessrole}}
                                </div>
                            </div> 
                            <div class="row mt-3">
                                <div class="col-5 col-md-3 col-lg-2 col-xl-2 lbl-txt">
                                    status
                                </div>
                                <div>:</div>
                                <div class="col-5 col-md-3 col-lg-4 col-xl-4 data-txt">
                                    <div *ngIf="teamMemberlists.status == '0'"  style="color: brown;">
                                        <p>Pending</p>
                                    </div> 
                                    <div *ngIf="teamMemberlists.status == '1' "  style="color: blue;">
                                            <p>Accept</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- </div> -->

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="table-responsive" *ngIf="invitationlistempty"> 
                    <table class="invitation_tbl mb-3">
                        <thead>
                            <tr class="tbl-header">
                                <th>Team Name</th>
                                <th>Role</th>
                                <th>Access Type</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let showInviteLists of InviteList">
                                <td><a   (click)="getteamMemberlist(showInviteLists.teamId)">
                                    {{showInviteLists.teamName}} </a></td>
                                <td>{{showInviteLists.teamAccessrole}}</td>
                                <td>{{showInviteLists.teamAccessType}}</td>
                               
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" 
                                    (click)="AcceptInvite(showInviteLists.inviteId,showInviteLists.teamId,showInviteLists.status,showInviteLists.teamAccessType)">Accept</button>&nbsp;&nbsp;
                                    <button   type="button" class="btn btn-danger btn-sm" (click)="DeclineInvite(showInviteLists.inviteId,showInviteLists.teamId,showInviteLists.status,showInviteLists.teamAccessType)">Decline</button>
                                </td>
                            </tr>
                        </tbody>
                        <tr>

                        </tr>
                    </table>
                    
                </div>
                <div  *ngIf="!invitationlistempty" >
                <span class="list-group-item list-group-item-warning">No Invitation</span>
                </div>
            </div>
        </div>
    </div>
    
  <div class="col-12 col-md-12 col-lg-2 col-xl-2"></div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-jelly-box">
    <p style="color: white" > Loading... </p>
    </ngx-spinner>

