.tab-content{
    border: 1px solid #d4cefd;
    padding: 12px;
    border-top: none;
}
.nav{
    font-size: 17px;
    font-weight: 500;
}
.nav-tabs > a{
    border: 1px solid #d4cefd;
    border-top: 0px;
    padding: 15px;
    border-radius: 0px;
    border-left: 0;
}
.nav-link.active{
    background-color: #9f9fe0;
    border: 1px solid #d4cefd;
    color: #040484;
}
.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    background-color:#d4cefd;
}
.invitation_tbl{
    border: 1px solid #d4cefd;
    padding: 10px;
    width: 100%;
}
.invitation_tbl th{
    border: 1px solid #bbb2f4;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
}
.invitation_tbl td{
    border: 1px solid #d4cefd;
    padding: 10px;
}
.box:hover {
    box-shadow: 0 0 11px#d4cefd!important; 
  }
.lbl-txt{
    font-size: 16px;
    font-weight: 500;
}
.data-txt{
    font-size: 15px;
}

.tbl-header{
background-color: #d4cefd;
}





