<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div class="teambookmark">
    <h2>Team Goal </h2>
  </div>
  <div class="row teamname shadow-lg bg-white rounded">
    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <label>
        <h2 class="pt-4">Team Name </h2>
      </label>
    </div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4 pt-3" style="cursor: pointer;">
      <select (change)="onchange($event.target.value)" name="teamName" formControlName="teamName"
        class="form-control pt-2" id="teamName">
        <option [ngValue]="undefined" disabled selected>Select Item</option>
        <option class='form-control' *ngFor='let teams of teamlist' [value]="teams.teamId">
          {{teams.teamname}}
        </option>
      </select>
    </div>
    <div class="col-2 col-sm-2 col-md-6 col-lg-6 col-xl-6 pt-4">
      <a placement="top" ngbTooltip="Invite Team Member" style="width:20px;cursor: pointer;"
        (click)="AddInviteToTeam()"><i class="material-icons text-dark">person_add</i></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div *ngIf="isSubmitted " class="alert text-danger text-center" role="alert">
        *Please Select Team Name
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2 class="pl-3">Goal Name</h2>
        <form name="form" #f="ngForm" (ngSubmit)='f.form.valid && team.teamName!=="" && AddGoal(f)'>
          <input type="text" class="form-control goalname" id="teamgoalName" #teamgoalName="ngModel" required
            [(ngModel)]="teamgoal.teamgoalName" placeholder="Enter Goal Name" name="teamgoalName">
          <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
            {{errorMessage}}
          </div>
          <div class="alert-danger" *ngIf="f.submitted">
            <div *ngIf="f.submitted &&(teamgoalName.invalid ||teamgoalName.errors)">
              *Goal required
            </div>
            <div class="text-danger" *ngIf='team.teamName===""'>
              *Select a Team
            </div>
          </div>
          <textarea class="form-control mt-2 description" id="description" #description="ngModel"
            placeholder="Enter Description" [(ngModel)]="teamgoal.description" name="description"></textarea>
          <!-- <div class="alert-danger" *ngIf="f.submitted && description.invalid">
              <div *ngIf="f.submitted && description.errors">
                *Description required
              </div>
            </div> -->
          <div class="mt-3 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-add pl-2 pr-2 std m-2">Add</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"></div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-2">
            <h2><span class="text-left goal-cat">Goal</span></h2>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
            <div class="form-group">
              <input type="text" class="form-control" required (keyup)="changetestValue($event)"
                placeholder="Search Goals" name="teamgoalName">
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover">
            <tbody>
              <tr *ngFor="let goals of goallist | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
                id="tr_row" [class.highlighted]="goals.teamId === goalNameselectedId">
                <td class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="cursor:pointer"
                  (click)="getGoalid(goals,i)">
                  <a class="text" style="color:#3f51b5;" *ngIf="!enableEdit || selectedteamGoalid != goals.teamgoalId"
                    ngbTooltip="{{goals.description}}" [class.hide]="enableEdit && enableEditIndex == i">
                    {{goals.teamgoalName}} </a>
                  <input class="form-control" id="teamgoalName" name="teamgoalName"
                    *ngIf="enableEdit && enableEditIndex == i" type="text" [(ngModel)]="goals.teamgoalName" />
                  <div class="alert-danger"
                    *ngIf="!isSuccessful && teamgoalName.errors && enableEdit && enableEditIndex == i">
                    <div class="alert-danger" *ngIf="goals.teamgoalName==''">
                      *Goal required
                    </div>
                    <div class="alert-danger" *ngIf="goals.teamgoalName!=''">
                      *Goal name already taken
                    </div>
                  </div>
                </td>
                <td>
                  <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn action-button std"
                    title="Save" (click)="editGoal(goals.teamgoalId,goals.teamgoalName)" type="submit">
                    Save
                  </button>
                  <div *ngIf="!enableEdit" ngbTooltip="Edit" (click)="enableEditMethod(goals, i)" class="btn-3">
                    <span class="oi oi-pencil"></span>
                  </div>
                </td>
                <!-- <td>
                <div data-toggle="modal"
                     data-target="#shareModal" (click)="showGoalShareModal(goals)" class="icon pr-0">
                  <span> <i class="fa fa-share-alt" aria-hidden="true" ngbTooltip="Share"></i></span>
                </div>
                  <div class="modal fade" id="shareModal" >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select Access Type</h4>
                            <button type="button" class="close" style="color: brown;"
                            data-dismiss="modal" (click) = "hide()">&times;</button>
                        </div>
                        <div class="modal-body">
                          <form  name="form" #fshare="ngForm" (ngSubmit)="shareGoalName(teamId)">
                            <div class="row">
                              <div class="col-4">
                                <label >Access Type</label>
                              </div>
                              <div class="col-5">
                                <select  (change)="onchangeGoalAccessType($event.target.value)"
                                  class="form-control" id="accessType" required>
                                  <option [ngValue]="undefined" disabled selected>--Select--</option>
                                  <option>Private</option>
                                  <option>Public</option>
                                  <option>MyChain</option>
                                </select>
                              </div>
                            </div>
                          </form>
                          <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" data-dismiss="modal" class="btn std"
                          (click)="shareGoalName(teamId)"[disabled]=!fshare.form.valid>share</button>
                          <button type="button" class="btn std" data-dismiss="modal" (click) = "hide()">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td> -->
                <td class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <div type="button" class="btn-3" ngbTooltip="delete" data-toggle="modal" data-target="#mydelGoalModal"
                    (click)="showdelGoalModal(goals)">
                    <span class="oi oi-trash"></span>
                  </div>
                  <div class="modal fade" id="mydelGoalModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          Are you sure want to delete the link?
                          <button (click)="deleteGoal(teamgoalId)" class="btn std m-2" data-dismiss="modal">Ok</button>
                          <button type="button" class="btn std m-2" data-dismiss="modal"
                            (click)="hideModal()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="goallist?.length==0">
                <div class="text-danger" style="display:flex;flex-direction:row;justify-content:center;"> No Data Found
                </div>
              </tr>
            </tbody>
          </table>
          <div class="col-12 fright">
            <pagination-controls (pageChange)="p = $event" class="float-right mr-3"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12">
            <h2 class="goal-cat">{{goalNameselected}}</h2>
          </div>
        </div>
        <div class="row text-center mb-4" *ngIf="!goallist.length">
          <div class="alert-danger mt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto text-center">
            No Data Found
          </div>
        </div>
        <nav style="margin-right: 20px;" *ngIf="goallist.length>0">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-step-tab" data-toggle="tab" href="#nav-step" role="tab"
              aria-controls="nav-step" aria-selected="true">Steps</a>
            <a class="nav-item nav-link" id="nav-skill-tab" data-toggle="tab" href="#nav-skill" role="tab"
              aria-controls="nav-skill" aria-selected="false">Skills</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" *ngIf="goallist.length>0">
          <div class="tab-pane fade show active" id="nav-step" role="tabpanel" aria-labelledby="nav-step-tab">
            <form name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && goalNameselected!=='Goal Name' && AddStep(fl)">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #teamstepName="ngModel" id="teamstepName"
                      placeholder="Enter Step" required [(ngModel)]="step.teamstepName" name="teamstepName">
                    <div *ngIf="fl.submitted && !stepisSuccessful" class="alert-danger">
                      {{goalerrorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="fl.submitted">
                      <div *ngIf="teamstepName.errors && teamstepName.invalid">
                        *Step required
                      </div>
                      <div class="alert-danger" *ngIf="goalNameselected==='Goal Name'">
                        *Select a goal
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-add std" type="submit">Add step</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="steplistVisible">
              <div class="col-10">
                <div class="card border-0">
                  <div *ngFor="let steps of steplist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" style="padding:10px ;border:1px solid #86b2fb">
                      <div class="row mt-1">
                        <div class="col-9">
                        <a  *ngIf="!enablestepEdit || currentstepid != steps.teamstepId" (keyup)="changeValue(id, 'teamstepName', $event)" style="color:#3f51b5">
                          {{steps.teamstepName}}
                        </a>
                        <input class="col-12 form-control1" id="stepName" name="stepName"
                            *ngIf="enablestepEdit && currentstepid == steps.teamstepId" type="text"
                            [(ngModel)]="currentstepname" />
                            </div>
                            <div class="col-3">
                              <button class="btn-step btn-3 right" *ngIf="!enablestepEdit || currentstepid != steps.teamstepId"
                                title="Edit" (click)="enablestepEditMethod(steps, id)">
                                <span class="oi oi-pencil" style="color: #fff;"></span>
                              </button>
                              <button *ngIf="enablestepEdit && currentstepid == steps.teamstepId" id="saveBtn"
                                class="btn btn-3 link-butto" title="Save" (click)="editStep(currentstepid,currentstepname)"
                                type="submit">Save</button>
                              <button  *ngIf="!enablestepEdit || currentstepid != steps.teamstepId" type="button" class="btn-step btn-3 ml-3 right" style="color:#fff;background-color: #509ef1;"
                                data-toggle="modal" data-target="#mydelStepModal" (click)="showdelStepModal(steps)">
                                <span class="oi oi-trash"></span>
                              </button> 
                            </div>
                      </div>
                      <div class="modal fade" id="mydelStepModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the step?
                              <button (click)="deleteStep()" data-dismiss="modal" style="background-color:#509ef1;color: white;"
                                class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3" (click)="hideModal()" style="background-color:#509ef1;color: white;"
                                id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="close-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form name="form" #ff="ngForm"
                        (ngSubmit)="ff.form.valid && AddstepLink(steps.teamstepId,teamsteplink.value,id,steps.teamId,ff)">
                        <div class="row mt-2">
                          <div class="col-9">
                            <div class="form-group">
                              <input type="url" class="form-control" style="border: 2px solid black"
                                placeholder="Enter step Link" id="teamsteplink.value" required #teamsteplink="ngModel"
                                name="teamsteplink" ngModel>
                              <div *ngIf="ff.submitted && !linkisSuccessful" class="alert-danger">
                                {{steperrorMessage}}
                              </div>
                              <!-- <input type="text" class="form-control" style="border: 2px solid #3f51b5" placeholder="Solution Link" 
                              id="teamsteplink" required #teamsteplink="ngModel" [(ngModel)]="solutionlinks.teamsteplink" required name="teamsteplink"> -->

                              <div class="alert-danger" *ngIf="ff.submitted && teamsteplink.invalid">
                                <div *ngIf="teamsteplink.errors">
                                  *teamsteplink required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <button type="submit" class="action-button std p-2">
                              Add
                            </button>
                          </div>
                        </div>
                      </form>
                      <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                        <div *ngFor="let steplinks of steps.teamStepLink let i2 = index">
                          <div class="col-11"
                            style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                            <a (keyup)="changeValue(i2, 'steplinks', $event)" target="_blank"
                              href="{{steplinks.teamsteplink}}">
                              {{steplinks.teamsteplink}}
                            </a>
                          </div>
                          <div class="card-body" style="padding:5px;background-color:#7086d9">
                            <button type="button" class="fa fa-comments link-button" title="Add keypoints"
                              style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myModal"
                              data-target="#myModal" (click)="onSelectKeypoint(steplinks)"
                              style="color:rgb(255, 255, 255)">
                            </button>
                            <div class="modal fade" id="myModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                                      && AddstepKeypoint(fAddKey)">
                                      <!-- <form name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                                      && AddstepKeypoint(steplinks.teamsteplinkId,steplinks.teamstepId)"> -->
                                      <div class="row">
                                        <div class="col-8">
                                          <div class="form-group mb-0">
                                            <input type="text" class="form-control" rows="3"
                                              placeholder="Enter Keypoints" type="text" class="form-control"
                                              id="teamstepKeypoints" #teamstepKeypoints="ngModel" required
                                              [(ngModel)]="stepkeypoint.teamstepKeypoints" name="teamstepKeypoints">
                                          </div>
                                          <div class="alert-danger"
                                            *ngIf="fAddKey.submitted && teamstepKeypoints.invalid">
                                            <div *ngIf="teamstepKeypoints.errors.required ">
                                              *Key points required
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-2 ">
                                          <button type="submit" class="btn action-button std">
                                            Add
                                          </button>
                                        </div>
                                        <div class="footer">
                                          <button type="button" class="btn std" data-dismiss="modal" (click)="hide()"
                                            id="closekeymodal">
                                            Close
                                          </button>
                                        </div>
                                      </div>
                                    </form>
                                    <div *ngIf="iskeySuccessful" class="alert-success mt-2">
                                      {{sucessmessage}}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-share-alt link-button" data-toggle="modal"
                              data-target="#sharestepModal" title="Share" style="font-size: 16px;"
                              (click)="showstepShareModal(steplinks)">
                            </button>
                            <div class="modal fade" id="sharestepModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">
                                      Select Access Type</h4>
                                    <!-- <button type="button" class="close" style="color: brown;"
                                      data-dismiss="modal" (click) = "hide()">&times;</button> -->
                                  </div>
                                  <div class="modal-body">
                                    <form name="form" #fshare="ngForm" (ngSubmit)="sharestep(teamsteplinkId,fshare)">
                                      <div class="row">
                                        <div class="col-4">
                                          <label>Access Type</label>
                                        </div>
                                        <!-- <div *ngIf="isSuccessful">{{sucessmessage}}</div>
                                        <div *ngIf="!isSuccessful">*Select Access Type</div> -->
                                        <div class="col-5">
                                          <select id="accessType" class="form-control"
                                            (change)="onchangeAccessType($event.target.value)" name="select">
                                            <option selected disabled *ngIf="!sharesteplink.accesstype">--Select--</option>
                                            <option>Public</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="text-danger mt-2" *ngIf="fshare.submitted && !sharesteplink.accesstype && !isSuccessful">
                                        *Select Access Type</div>
                                      <div class="shareModal">
                                        <button type="submit" class="btn std">
                                          share
                                        </button>
                                        <button type="button" class="btn std ml-2" data-dismiss="modal" (click)="hide()"
                                          id="shareclose">
                                          Close
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-trash-o link-button" style="font-size: 16px;"
                              data-toggle="modal" data-target="#mydelModal" (click)="showModal(steplinks)"
                              title="Delete">
                            </button>
                            <div class="modal fade" id="mydelModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    Are you sure want to delete the link?
                                    <button (click)="deletesteplink()" data-dismiss="modal" class="btn std m-2">Yes
                                    </button>
                                    <button type="button" class="btn std m-2" data-dismiss="modal"
                                      (click)="hideModal()">No</button>
                                    <button type="button" id="close-modal" data-dismiss="modal"
                                      style="display: none">No</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button *ngIf="steplinks.teamsteplinkId!=showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="opencommentstoggle(steplinks,steplinks.teamsteplinkId)">
                              >>
                            </button>
                            <button *ngIf="steplinks.teamsteplinkId==showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="closecommentstoggle(steplinks,steplinks.teamsteplinkId)">
                              << </button>
                                <div *ngIf="steplinks.teamsteplinkId==showKeypointIndex" class="key">
                                  <div class="card card-body"
                                    style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                    <div class="row">
                                      <div class="col-12">
                                        <tr *ngFor="let keypoint of limitstepkeypoint let id = index">
                                          <td class="col-sm-10" style="color:black">
                                            <div class="m-2 rounded">
                                              {{keypoint.teamstepKeypoints}}
                                            </div>
                                            <hr>
                                          </td>
                                          <td>
                                            <button class="btn " class="btn-3" data-toggle="modal"
                                              data-target="#mystepEditKeyPointModal"
                                              (click)="showEditKeyModal(keypoint)">
                                              <span class="oi oi-pencil"></span>
                                            </button>
                                            <div class="modal fade" id="mystepEditKeyPointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-body">
                                                    <form name="form" #fEdit="ngForm"
                                                      (ngSubmit)="fEdit.submitted && EditstepKeypoint(stepkeypoint.teamstepKeypoints)">
                                                      <div class="row">
                                                        <div class="col-8">
                                                          <div class="form-group">
                                                            <input type="text" class="form-control" rows="3"
                                                              placeholder="Key points" type="text" class="form-control"
                                                              id="teamstepKeypoints" #teamstepKeypoints="ngModel"
                                                              required [(ngModel)]="stepkeypoint.teamstepKeypoints"
                                                              name="teamstepKeypoints">
                                                          </div>
                                                          <div class="alert-danger"
                                                            *ngIf="!iskeySuccessful && stepkeypoint.teamstepKeypoints ==''">
                                                            <!-- <div *ngIf="teamstepKeypoints.errors.required "> -->
                                                            *Key points required
                                                            <!-- </div> -->
                                                          </div>
                                                        </div>
                                                        <div>
                                                          <button type="submit"
                                                            (click)="prevent(stepkeypoint.teamstepKeypoints)"
                                                            class="btn std">
                                                            Add
                                                          </button>
                                                          <button type="button" id="stepkeymodal" data-dismiss="modal"
                                                            class="btn std ml-2">
                                                            Close
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </form>
                                                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <button type="button" class="btn-3" data-toggle="modal"
                                              data-target="#mydelKeypointModal" (click)="showdelKeyModal(keypoint)">
                                              <span class="oi oi-trash"></span></button>
                                            <div class="modal fade" id="mydelKeypointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    Are you sure want to delete the keypoints?
                                                    <button (click)="deletestepKeypoint()" data-dismiss="modal"
                                                      class="btn std m-2">Yes
                                                    </button>
                                                    <button type="button" class="btn std m-2" (click)="hideModal()"
                                                      id="close-modal" data-dismiss="modal">No</button>
                                                    <button type="button" class="std" id="close-modal"
                                                      data-dismiss="modal" style="display: none;">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <button class="btn btn-link" (click)="onstepKeyPointsViewMore()" id="view-more"
                                          *ngIf="KeypointList.length > 3">
                                          View More
                                        </button>
                                        <button class="btn btn-link" (click)="onstepkeyPointsviewless()"
                                          style="display: none;" id="view-less">
                                          View Less
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="steplist.length===0" class="alert-danger text-center"> No steps added</div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade show" id="nav-skill" role="tabpanel" aria-labelledby="nav-skill-tab">
            <form name="form" #f2="ngForm" (ngSubmit)="f2.form.valid && goalNameselected!=='Goal Name' && AddSkill();">
              <div class="row mt-2">
                <div class="col-9">
                  <div class="form-group">
                    <input type="text" class="form-control" #teamskillName="ngModel" id="teamskillName"
                      placeholder="Enter Skill" required [(ngModel)]="skill.teamskillName" name="teamskillName">
                    <div *ngIf="f2.submitted && !skillisSuccessful" class="alert-danger">
                      {{errorMessage}}
                    </div>
                    <div class="alert-danger" *ngIf="f2.submitted ">
                      <div *ngIf="teamskillName.errors && teamskillName.invalid">
                        *Skill required
                      </div>
                      <div class="alert-danger" *ngIf="goalNameselected==='Goal Name'">
                        *Select a goal
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-add std" type="submit">Add skill</button>
                </div>
              </div>
            </form>
            <div class="row" *ngIf="skilllistVisible">
              <div class="col-10">
                <div class="card border-0">
                  <div *ngFor="let skills of skilllist let id = index"
                    style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                    <div class="col-12" style="padding:10px ;border:1px solid #86b2fb">
                      <div class="row mt-1">
                        <div class="col-9">
                        <a *ngIf="!enableskillEdit || currentskillid != skills.teamskillId" (keyup)="changeValue(id, 'teamskillName', $event)" style="color:#3f51b5">
                          {{skills.teamskillName}}
                        </a>
                        <input class="col-12 form-control1" id="skillName" name="skillName"
                        *ngIf="enableskillEdit && enableskillEditIndex == skills.teamskillId" type="text"
                        [(ngModel)]="currentskillname" />
                      </div>
                      <div class="col-3">
                        <button class="btn-step btn-3 right"
                          *ngIf="!enableskillEdit || currentskillid != skills.teamskillId" title="Edit"
                          (click)="enableskillEditMethod(skills, id)"><span class="oi oi-pencil"
                            style="color: #fff;"></span>
                        </button>
                        <button *ngIf="enableskillEdit && enableskillEditIndex == skills.teamskillId" id="saveBtn"
                          class="btn right btn-3 border link-butto" title="Save"
                          (click)="editSkill(currentskillid,currentskillname)" type="submit">
                          Save
                        </button>
                        <button  *ngIf="!enableskillEdit || currentskillid != skills.teamskillId" type="button" class="btn-step btn-3 ml-3 right" style="color:#fff;background-color: #509ef1;"
                          data-toggle="modal" data-target="#mydelSkillModal" (click)="showdelSkillModal(skills)">
                          <span class="oi oi-trash"></span>
                        </button> 
                      </div>
                      </div>
                      <div class="modal fade" id="mydelSkillModal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure want to delete the skill?
                              <button (click)="deleteskill()" data-dismiss="modal" style="background-color:#509ef1;color: white;"
                                class="btn default-btn ml-3">
                                Yes
                              </button>
                              <button type="button " class="btn default-bt ml-3" (click)="hideModal()" style="background-color:#509ef1;color: white;"
                                id="close-modal" data-dismiss="modal">
                                No
                              </button>
                              <button type="btn" id="skill-modal" data-dismiss="modal"
                                style="display: none;">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form name="form" #ffl="ngForm"
                        (ngSubmit)="ffl.form.valid && AddskillLink(skills.teamskillId,teamskilllink.value,id,skills.teamId,ffl)">
                        <div class="row mt-2">
                          <div class="col-9">
                            <div class="form-group">
                              <input type="url" class="form-control" style="border: 2px solid black"
                                placeholder="Enter skill Link" id="teamskilllink.value" #teamskilllink="ngModel"
                                name="teamskilllink" required ngModel>
                              <div *ngIf="ffl.submitted && !linkisSuccessful" class="alert-danger">
                                {{skillerrorMessage}}
                              </div>
                              <!-- <input type="text" class="form-control" style="border: 2px solid #3f51b5" placeholder="Solution Link" 
                              id="teamsteplink" required #teamsteplink="ngModel" [(ngModel)]="solutionlinks.teamsteplink" required name="teamsteplink"> -->

                              <div class="alert-danger" *ngIf="ffl.submitted && teamskilllink.invalid">
                                <div *ngIf="teamskilllink.errors">
                                  *teamskilllink required
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <button type="submit" class="action-button std p-2">
                              Add
                            </button>
                          </div>
                        </div>
                      </form>
                      <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                        <div *ngFor="let skilllinks of skills.teamSkillLink let i1 = index">
                          <div class="col-11"
                            style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                            <a (keyup)="changeValue(i1, 'skilllinks', $event)" target="_blank"
                              href="{{skilllinks.teamskilllink}}">
                              {{skilllinks.teamskilllink}}
                            </a>
                          </div>
                          <div class="card-body" style="padding:5px;background-color:#7086d9">
                            <button type="button" class="fa fa-comments link-button" title="Add keypoints"
                              style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myskillModal"
                              data-target="#myskillModal" (click)="onskillSelectKeypoint(skilllinks)"
                              style="color:rgb(255, 255, 255)">
                            </button>
                            <div class="modal fade" id="myskillModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <form name="form" #flAddKey="ngForm" (ngSubmit)="flAddKey.form.valid 
                                      && AddskillKeypoint(flAddKey)">
                                      <div class="row">
                                        <div class="col-8">
                                          <div class="form-group mb-0">
                                            <input type="text" class="form-control" rows="3"
                                              placeholder="Enter Keypoints" type="text" class="form-control"
                                              id="teamskillKeypoints" #teamskillKeypoints="ngModel" required
                                              [(ngModel)]="skillkeypoint.teamskillKeypoints" name="teamskillKeypoints">
                                          </div>
                                          <div class="alert-danger"
                                            *ngIf="flAddKey.submitted && teamskillKeypoints.invalid">
                                            <div *ngIf="teamskillKeypoints.errors.required ">
                                              *Key points required
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-2 ">
                                          <button type="submit" class="btn action-button std">
                                            Add
                                          </button>
                                        </div>
                                        <div class="footer">
                                          <button type="button" class="btn std" data-dismiss="modal" (click)="hide()"
                                            id="closeskillkeymodal">
                                            Close
                                          </button>
                                        </div>
                                      </div>
                                    </form>
                                    <div *ngIf="iskeySuccessful" class="alert-success mt-2">{{sucessmessage}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-share-alt link-button" data-toggle="modal"
                              data-target="#shareskillModal" title="Share" style="font-size: 16px;"
                              (click)="showskillShareModal(skilllinks)">
                            </button>
                            <div class="modal fade" id="shareskillModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">
                                      Select Access Type</h4>
                                    <!-- <button type="button" class="close" style="color: brown;"
                                      data-dismiss="modal" (click) = "hide()">&times;</button> -->
                                  </div>
                                  <div class="modal-body">
                                    <form name="form" #flshare="ngForm"
                                      (ngSubmit)="shareskill(teamskilllinkId,flshare)">
                                      <div class="row">
                                        <div class="col-4">
                                          <label>Access Type</label>
                                        </div>
                                        <div class="col-5">
                                          <select (change)="onchangeskillAccessType($event.target.value)"
                                            class="form-control" id="accessType" required ngModal>
                                            <option disabled selected *ngIf="!shareskilllink.accesstype">--Select--</option>
                                            <option>Public</option>
                                            <!-- <option>Private</option> -->
                                            <!-- <option>MyChain</option> -->
                                          </select>
                                        </div>
                                      </div>
                                      <div class="text-danger mt-2" *ngIf="flshare.submitted && !shareskilllink.accesstype && !isSuccessful">
                                        *Select Access Type
                                      </div>
                                      <div class="shareModal">
                                        <button type="submit" class="btn std">
                                          share
                                        </button>
                                        <button type="button" class="btn std ml-2" data-dismiss="modal" (click)="hide()"
                                          id="skillshareclose">
                                          Close
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="fa fa-trash-o link-button" style="font-size: 16px;"
                              data-toggle="modal" data-target="#myskilllinkdelModal"
                              (click)="showskillModal(skilllinks)" title="Delete">
                            </button>
                            <!--Need to check-->
                            <div class="modal fade" id="myskilllinkdelModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    Are you sure want to delete the link?
                                    <button (click)="deleteskilllink()" data-dismiss="modal" class="btn std m-2">Yes
                                    </button>
                                    <button type="button" class="btn std m-2" data-dismiss="modal"
                                      (click)="hideModal()">No</button>
                                    <button type="button" id="close-modal" data-dismiss="modal"
                                      style="display: none">No</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <button type="button" type="button" class="button link-button" placement="top" title="View Comments"
                              style="padding: 2px 7px;" (click)="openskillcommentstoggle(skilllinks,skilllinks.teamskilllinkId)" data-toggle="skillkey">
                              >>
                            </button> -->
                            <button *ngIf="skilllinks.teamskilllinkId!=showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="openskillcommentstoggle(skilllinks,skilllinks.teamskilllinkId)">
                              >>
                            </button>
                            <button *ngIf="skilllinks.teamskilllinkId==showKeypointIndex" type="button"
                              class="button link-button" style="padding: 2px 7px;" placement="top" title="View Comments"
                              (click)="closeskillcommentstoggle(skilllinks,skilllinks.teamskilllinkId)">
                              << </button>
                                <div *ngIf="skilllinks.teamskilllinkId==showKeypointIndex" class="skillkey">
                                  <div class="card card-body"
                                    style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                    <div class="row">
                                      <div class="col-12">
                                        <tr *ngFor="let skillkeypoint of limitskillkeypoint let id = index">
                                          <td class="col-sm-10" style="color:black;overflow-wrap: anywhere;">
                                            <div class="m-2 rounded">
                                              {{skillkeypoint.teamskillKeypoints}}
                                            </div>
                                            <hr>
                                          </td>
                                          <td>
                                            <button class="btn-3" data-toggle="modal"
                                              data-target="#myskillEditKeyPointModal"
                                              (click)="showskillEditKeyModal(skillkeypoint)">
                                              <span class="oi oi-pencil"></span>
                                            </button>
                                            <div class="modal fade" id="myskillEditKeyPointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-body">
                                                    <form name="form" #flEdit="ngForm"
                                                      (ngSubmit)="flEdit.submitted && EditskillKeypoint(skillkeypoints.teamskillKeypoints)">
                                                      <div class="row">
                                                        <div class="col-8">
                                                          <div class="form-group">
                                                            <input type="text" class="form-control" rows="3"
                                                              placeholder="Key points" type="text" class="form-control"
                                                              id="teamskillKeypoints" #teamskillKeypoints="ngModel"
                                                              required [(ngModel)]="skillkeypoints.teamskillKeypoints"
                                                              name="teamskillKeypoints">
                                                          </div>
                                                          <div class="alert-danger"
                                                            *ngIf="flEdit.submitted && teamskillKeypoints.invalid">
                                                            <div *ngIf="teamskillKeypoints.errors.required ">
                                                              *Key points required
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-2">
                                                          <button type="submit" data-dismiss="modal"
                                                            (click)="skillprevent(skillkeypoints.teamskillKeypoints)"
                                                            class="btn std">Add
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </form>
                                                    <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                          <td>
                                            <button type="button" class="btn-3" data-toggle="modal"
                                              data-target="#myskilldelKeypointModal"
                                              (click)="showskilldelKeyModal(skillkeypoint)">
                                              <span class="oi oi-trash"></span></button>
                                            <div class="modal fade" id="myskilldelKeypointModal">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <!-- Modal body -->
                                                  <div class="modal-body">
                                                    Are you sure want to delete the keypoints?
                                                    <button (click)="deleteskillKeypoint()" data-dismiss="modal"
                                                      class="btn std m-2">Yes
                                                    </button>
                                                    <button type="button" class="btn std m-2" (click)="hideModal()"
                                                      id="close-modal" data-dismiss="modal">No</button>
                                                    <button type="button" class="std" id="close-modal"
                                                      data-dismiss="modal" style="display: none;">Close</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        <button class="btn btn-link" (click)="onskillKeyPointsViewMore()" id="view-more"
                                          *ngIf="skillKeypointList.length > 3">
                                          View More
                                        </button>
                                        <button class="btn btn-link" (click)="onskillkeyPointsviewless()"
                                          style="display: none;" id="view-less">
                                          View Less
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="skilllist.length===0" class="alert-danger text-center"> No skills added</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>