body {
  text-decoration:none;
  text-decoration-color: #ccc;
   font-family: 'Oswald', sans-serif;
  font-size:15px;
  font-weight: 400; 
  color:white;
}

* {
  box-sizing: border-box;
  font-weight:500;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
    padding: 10px;
    margin-right: 10px;
    padding-left: 20px;
    width:300px;
    background-color: #e6e6fa;
    color:#3f51b5;
}
h2{
  /* color:#3f51b5; */
  color:#000000;
}

.select.form-control:not([size]):not([multiple]){
    margin: 10px;

  }

.btn-danger{
  background-color:#7086d9;
  color:#ffffff;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-danger:active{
  background-color: #910000;

}
.btn-3{
  background-color:#7086d9;
  color:#ffffff;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.btn-3:hover{
  background-color:#07689f;
  border: 2px solid #07689f;
}
.modal-body{
  font-size:15px;
}

.text-center{
  text-align:left;
}

.alert-danger{
  color:#e83b17;
  background-color: #fff;
}

.table{
  background-color:rgb(119 102 253 / 15%);
  width:92%;
  margin:1rem;
  border-radius:3px;
}

.table td, .table th{
  padding:8px;
}
.close{
  margin-left: 470px;
}


.fa{
    border: none;
    margin-right: 10px;
  }

  
  .button:focus{
    outline:none;
  }
  .button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4:hover {
background-color:#d5d8dc;
}

.btn-prime{
  padding:.100rem .40rem;
  color:#455aa7;
  border-radius:50px;
  border: 2px solid #455aa7;
  font-size: 15px;
  font-weight: 600;
  margin-right:15px;
  
}
.btn-prime:hover{
  background-color: #455aa7;
  color: white;
}

.teambookmark{
  text-align-last: left; 
  margin-top: 10px;
  margin-left: 10px;
  color:black;
}
.teamname{
 background-color:#fafafa;
 padding:15px;
 margin:10px;
 margin-right:20px;
 color:#3442bc;

}
.h1,h2{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.card1{
  border:1px solid #7086d9;
  background-color:white;
  box-shadow:2px 2px 4px 0px #66666673;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color:#e6e6fa;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #050505;
  background-color: #bfcbf7;
  border-color: #dee2e6 #dee2e6 #fff;
}

.highlighted{
  background-color: rgba(0,0,0,.075)!important;
}
.text {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hide{
  display: none!important;
}
.modal-body{
  color: #000000;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}


.description, .goalname{
border: 0!important;
outline: 0!important;
background: transparent!important;
border-bottom: 1px solid #3a3838!important;
border-radius: 0;
}


.goal-cat{
  font-size: 20px;
  font-weight: 600;
  color:#000000;
}

button.std{
  background-color: #509ef1; 
  color: #fff; 
  font-weight: 600; 
  border-radius: 0px;
}

.link-button {
  background-color: #1245a8;
  border: 1px solid #1245a8;
  color: #fff;
  padding: 6px;
}


.icon{
  background-color: #509ef1;
  border: 1px solid #e7e7e7;
  color: #fff;
  padding: 6px;
  border-radius:25px;
  text-align: center;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 2px 5px;
  margin: 2px;
}

.icon:hover{
  background-color:#07689f;
  border: 2px solid #07689f;
}

.btn-3{
  background-color:#509ef1;
  color:#ffffff;
  border: 2px solid #e7e7e7;
  border-radius:25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.btn-3:hover{
  background-color:#07689f;
  border: 2px solid #07689f;
}


.shareModal{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: flex-end;
}


.fright{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}