<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .text {
      display: block;
      width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .fa-share-alt:before {
      content: "\f1e0";
      padding-right: 5px;
    }

    .fa-share-alt:after {
      font-size: 15px;
    }
  </style>
</head>

<body>
  <div class="row mt-3 d-flex justify-content-between">
    <div class="heading text-dark">Learn</div>
    <div class="search-container float-right mr-3">
      <div class="d-flex justify-content-between">
        <input type="text" class="form-control" name="searchlink" style="width:80%">
        <button type="submit" class="btn btn-primary ml-2">
          <i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="left col-5">
      <div class="shadow-lg p-3">
        <div class="d-flex">
          <span class="text-dark font-weight-bold" style="font-size:18px">Add Topic</span>
          <span></span>
        </div>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && AddLearn(f)">
          <div class="form-group mt-2">
            <input type="text" class="form-control bookmarkname" id="learnName" #learnName="ngModel" required
              [(ngModel)]="learn.learnName" placeholder="Enter Topic Name" name="learnName">
            <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
              {{errorMessage}}
            </div>
            <div class="alert-danger" *ngIf="f.submitted && learnName.invalid">
              <div *ngIf="f.submitted && learnName.errors.required ">
                *Topic required
              </div>
            </div>
          </div>
          <div class="form-group mt-2 ">
            <textarea class="form-control bookmarkname" id="learnDescription" #learnDescription="ngModel" required
              placeholder="Enter Description" [(ngModel)]="learn.learnDescription" name="learnDescription"></textarea>
            <div class="alert-danger" *ngIf="f.submitted && learnDescription.invalid">
              <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
                {{errorMessage}}
              </div>
              <div *ngIf="f.submitted && learnDescription.errors.required ">
                *Description required
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <span></span>
            <button type="submit" class="btn" style="background-color: #509ef1;
            color: #fff;
            font-weight: 600;border-radius: 0px;">Add</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-7">
      <div class="row">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="form-group shadow-lg p-3" style="min-height: 172px;">
        <div class="row">
          <div class="col-6">
            <span class="text-left">
              <h2 class=" text-dark">Topics</h2>
            </span>
          </div>
          <div class="col-6">
            <div class="form-group pr-4">
              <input type="text" class="form-control bookmarkname" required (keyup)="changetestValue($event)"
                placeholder="Search Topics" name="learnName">
            </div>
          </div>
        </div>
        <table class="table table-hover " id="topictbl">
          <thead>
          </thead>
          <tbody>
            <tr *ngFor="let topic of learnlist | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
              id="tr_row">
              <td style="cursor:pointer" (click)="getLearnid(topic,i)">
                <a class="text" style="color:#3f51b5;width: 235px;"
                  *ngIf="!enableEdit || currentlearnid != topic.learnId" ngbTooltip="{{topic.learnDescription}}"
                  [class.hide]="enableEdit && enableEditIndex == i">
                  {{topic.learnName}} </a>
                <input class="form-control" id="learnName" name="learnName" *ngIf="enableEdit && enableEditIndex == i"
                  type="text" [(ngModel)]="currentlearnname" />
                <div class="alert-danger"
                  *ngIf="!isSuccessful && learnName.errors.required && enableEdit && enableEditIndex == i">
                  *Topic required
                </div>
                <div class="text-danger" *ngIf="alreadyTaken && enableEditIndex==i">
                  Learn Name already taken
                </div>
              </td>
              <td>
                <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="default-btn btn"
                  style="background-color:#509ef1" title="Save" (click)="editLearn(currentlearnid,currentlearnname)"
                  type="submit">Save</button>
                <button class="btn-3" style="background-color:#509ef1;"
                  *ngIf="!enableEdit || currentlearnid != topic.learnId" title="Edit"
                  (click)="enableEditMethod(topic, i)">
                  <span class="oi oi-pencil"></span>
                </button>
              </td>
              <!-- <td>
                <button type="button" class="fa fa-share-alt btn-3 btn" data-toggle="modal" data-target="#shareModal"
                  title="Share" style="font-size: 16px; background-color: #509ef1;"
                  (click)="showLearnShareModal(topic)"></button>
                <div class="modal fade" id="shareModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select Access
                          Type</h4>
                        <button type="button" class="close" style="color: brown;" data-dismiss="modal"
                          (click)="hide()">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form name="form" #fshare="ngForm" (ngSubmit)="shareTopicName(learnId)">
                          <div class="row">
                            <div class="col-4">
                              <label>Access Type</label>
                            </div>
                            <div class="col-5">
                              <select (change)="onchangeLearnAccessType($event.target.value)" class="form-control"
                                id="accessType" required>
                                <option>--Select--</option>
                                <option>Private</option>
                                <option>Public</option>
                                <option>MyChain</option>
                              </select>
                            </div>
                          </div>
                        </form>
                        <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" data-dismiss="modal" class="btn default-btn"
                          (click)="shareTopicName(learnId)" [disabled]=!fshare.form.valid>share</button>
                        <button type="button" class="btn default-btn" data-dismiss="modal"
                          (click)="hide()">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td> -->
              <td>
                <button type="button" style="background-color:#509ef1" class="btn icon-button btn-sm"
                  data-toggle="modal" data-target="#mydelTopicModal" title="Delete" (click)="showdelTopicModal(topic)">
                  <span class="oi oi-trash"></span></button>
                <div class="modal fade" id="mydelTopicModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        Are you sure want to delete the topic?
                        <button (click)="deleteLearn()" class="button btn default-btn">Yes
                        </button>
                        <button type="button" class="button btn default-btn ml-3" (click)="hideModal()">Close</button>
                        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row text-center">
          <div class="alert-danger mt-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ml-auto mr-auto text-center"
            *ngIf="!learnlist.length">
            No Data Found
          </div>
          <pagination-controls (pageChange)="p = $event" class="float-right mr-3"></pagination-controls>
        </div>
        <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
      <p style="color: white"> Loading... </p>
    </ngx-spinner> -->
      </div>
    </div>
    <div class="col-7">
      <div style="background-color:white;">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-step" role="tabpanel" aria-labelledby="nav-step-tab">
            <div class="shadow-lg p-3">
              <h2 class="text-dark" style="text-transform: capitalize;">{{learnNameselected}}</h2>
              <form name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && AddConcept(fl)">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" class="form-control bookmarkname" #conceptName="ngModel" id="conceptName"
                        placeholder="Enter concept" required [(ngModel)]="concept.conceptName" name="conceptName">
                      <div class="alert-danger" *ngIf="fl.submitted && conceptName.invalid">
                        <div *ngIf="conceptName.errors.required ">
                          *Concept required
                        </div>
                      </div>
                      <div *ngIf="!conceptisSuccessful && f.submitted" class="alert-danger">

                        {{errorMessage}}
                      </div>
                      <div *ngIf="learnerrorMessage && !learnisSuccessful" class="alert alert-danger"
                        style="background-color:#FFF ;">
                        {{learnerrorMessage}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <span></span>
                  <button class="btn" style="background-color: #509ef1; 
                  color: #fff; font-weight: 600; border-radius: 0px;" type="submit">Add</button>
                </div>
              </form>
              <div class="mt-3" *ngIf="conceptlistVisible">
                <div class="">
                  <div class="card" style="border: none;">
                    <tr *ngFor="let concepts of conceptlist let id = index"
                      style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                      <div class="col-12 d-flex justify-content-between"
                        style="padding:10px ;border:1px solid #86b2fb;cursor:pointer;background-color: rgb(119 102 253 / 15%);"
                        (click)="getConceptid(concept,id)">
                        <div class="align-self-center">
                          <a class="text left" style="color:#3f51b5"
                            *ngIf="!enableconceptEdit || currentconceptid != concepts.conceptId"
                            title="{{concept.conceptName}}"
                            [class.hide]="enableconceptEdit && enableconceptEditIndex == id">
                            {{concepts.conceptName}}</a>
                          <input class="form-control1" id="conceptName" name="conceptName"
                            *ngIf="enableconceptEdit && enableconceptEditIndex == id" type="text"
                            [(ngModel)]="currentconceptname" />
                        </div>
                        <div class="alert-danger"
                          *ngIf="!isSuccessful && conceptName.errors.required && enableconceptEdit && enableconceptEditIndex == id">
                          *concept required
                        </div>
                        <div class="align-self-center">
                          <button class="btn-3 btn-10 btn"
                            *ngIf="!enableconceptEdit || currentconceptid != concepts.conceptId" title="Edit"
                            style="color: #FFF;background-color: #509ef1;"
                            (click)="enableconceptEditMethod(concepts, id)">
                            <span class="oi oi-pencil"></span>
                          </button>
                          <button *ngIf="enableconceptEdit && enableconceptEditIndex == id" id="saveBtn" style="color: #FFF;background-color: #509ef1;border: 2px solid #e7e7e7;
                          border-radius: 25px;
                          padding: 1px 11px;" title="Save" class="btn"
                            (click)="editConcept(currentconceptid,currentconceptname)" type="submit">Save</button>
                          <button type="button" class="btn-10 btn" style="color:#fff;background-color: #509ef1;"
                            data-toggle="modal" data-target="#mydelConceptModal"
                            (click)="showdelConceptModal(concepts)">
                            <span class="oi oi-trash"></span></button>
                        </div>
                      </div>

                      <div>
                        <div class="modal fade" id="mydelConceptModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <!-- Modal body -->
                              <div class="modal-body">
                                Are you sure want to delete the concept?
                                <button (click)="deleteConcept()" data-dismiss="modal" style="background-color:#509ef1"
                                  class="btn default-btn ml-3">Yes
                                </button>
                                <button type="button " class="btn default-btn ml-3" (click)="hideModal()"
                                  id="close-modal" data-dismiss="modal">No</button>
                                <button type="btn" id="close-modal" data-dismiss="modal"
                                  style="display: none;">Close</button>
                              </div>
                              <!-- Modal footer -->
                              <!-- <div class="modal-footer"> -->
                              <!-- <button type="button" class="btn"style="background-color:#509ef1" data-dismiss="modal" -->
                              <!-- (click)="hide()">Close</button> -->
                              <!-- </div> -->
                            </div>
                          </div>
                        </div>
                        <form name="form" class="mt-3" #ff="ngForm"
                          (ngSubmit)="ff.form.valid && AddconceptLink(concepts.conceptId,conceptlink.value,id,concepts.conceptCategoryId)">
                          <div class="row">
                            <div class="col-9">
                              <div class="form-group">
                                <input type="url" class="form-control" placeholder="conceptlink" id="conceptlink"
                                  required #conceptlink="ngModel" name="conceptlink" ngModel>
                                <div class="alert-danger" *ngIf="ff.submitted && conceptlink.invalid">
                                  <div *ngIf="conceptlink.errors.required ">
                                    *Concept Link required
                                  </div>
                                </div>
                                <div *ngIf="!isSuccessful && ff.submitted" class="alert-danger">
                                  {{errorMessage}}
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <button class="btn" style="background-color: #509ef1; 
                          color: #fff; font-weight: 600; border-radius: 0px;" type="submit">Add</button>
                            </div>
                          </div>
                        </form>
                        <div
                          style="margin-top: 20px;margin-bottom: 10px;margin-left: 10px;border: solid;background-color: #d1d4e6;">
                          <div *ngFor="let conceptlink of concepts.conceptLink let id = index">
                            <div class="col-11"
                              style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                              <a href="{{conceptlink.conceptLink}}" contenteditable="false"
                                target="_blank">{{conceptlink.conceptLink}}</a>


                            </div>
                            <div class="card-body" style="padding:5px">
                              <button type="button" (click)="onSelectKeypoint(conceptlink)" class="btn icon-bg hw-30"
                                title="Add keypoints">
                                <span style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myModal"
                                  class="fa fa-comments">
                                </span></button>
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      <form name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                           &&  Addconceptkeypoints(fAddKey,concepts.conceptId,concepts.conceptCategoryId)">
                                        <div class="row">
                                          <div class="col-8">
                                            <div class="form-group">
                                              <input type="text" class="form-control" rows="3"
                                                placeholder="Key keypoints" type="text" class="form-control"
                                                id="keypoints" #keypoints="ngModel" required
                                                [(ngModel)]="keypoint.keypoints" name="keypoints">
                                            </div>
                                            <div class="alert-danger" *ngIf="fAddKey.submitted && 
                                             keypoints.invalid">
                                              <div *ngIf="keypoints.errors.required ">
                                                *Key points required
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-2">
                                            <button type="submit" class="btn default-btn">Add</button>
                                          </div>
                                          <div class="footer">
                                            <button type="button" class="btn default-btn" data-dismiss="modal"
                                              (click)="hide()">Close</button>

                                          </div>

                                        </div>
                                      </form>
                                      <div *ngIf="iskeySuccessful" class="alert alert-success">{{sucessmessage}}

                                      </div>
                                    </div>



                                  </div>
                                </div>
                              </div>
                              <button type="button" class="btn icon-bg hw-30 ml-3" data-toggle="modal"
                                data-target="#conceptshareModal" title="Share" style="font-size: 16px;color: #fff;"
                                (click)="showconceptShareModal(conceptlink)">
                                <i class="fa fa-share-alt"></i>
                              </button>
                              <!-- (click)="share(id, 'teambookmarkLink', $event)" > -->

                              <div class="modal fade" id="conceptshareModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                      <form name="form" #fshare="ngForm" (ngSubmit)="shareConcept(conceptlinkId,fshare)">
                                        <div class="row">
                                          <div class="col-4">
                                            <label>Access Type</label>
                                          </div>
                                          <div class="col-5">
                                            <select (change)="onchangeAccessType($event.target.value)" class="form-control" 
                                                    id="accessType" name="accessType" required>
                                              <option disabled selected *ngIf="!shareconceptlink.accessType">--Select--</option>
                                              <option>Public</option>
                                              <!-- <option>Private</option> -->
                                              <!-- <option>MyChain</option> -->
                                              <!-- <option>Everyone</option> -->
                                            </select>
                                            <div class="text-danger" *ngIf="fshare.submitted && !isSuccessful && shareconceptlink.accessType==''">
                                                *Access Type required
                                            </div>
                                          </div>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                          <button type="submit" class="btn default-btn">share</button>
                                          <button type="button" class="btn default-btn" data-dismiss="modal" id="conceptclose"
                                            (click)="hide()">Close</button>
                                        </div>
                                      </form>
                                      <!-- <span *ngIf="isSuccessful">{{sucessmessage}}</span> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <button type="button" class="btn icon-bg hw-30 ml-3" style="font-size: 16px;color: #FFF;"
                                data-toggle="modal" data-target="#mydelModal" (click)="showModal(conceptlink)">
                                <i class="fa fa-trash-o">

                                </i>
                              </button>
                              <div class="modal fade" id="mydelModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">

                                    <!-- Modal Header -->
                                    <!-- <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="close" (click)="hideModal()">&times;</button>
                                  </div> -->

                                    <!-- Modal body -->
                                    <div class="modal-body">


                                      Are you sure want to delete the link?
                                      <button (click)="deleteconceptlink()" data-dismiss="modal"
                                        class="btn default-btn ml-3">Yes
                                      </button>
                                      <button type="button" class="btn default-btn ml-3" data-dismiss="modal"
                                        (click)="hideModal()">No</button>

                                      <button type="button" id="close-modal" data-dismiss="modal"
                                        style="display: none">No</button>
                                    </div>

                                    <!-- Modal footer -->
                                    <!-- <div class="modal-footer">
                                    
                                  </div> -->
                                  </div>
                                </div>
                              </div>
                              <button *ngIf="conceptlink.conceptlinkId!=showKeypointIndex" type="button"
                                class="icon-bg ml-3 hw-30 btn" placement="top"
                                (click)="opencommentstoggle(conceptlink,conceptlink.conceptlinkId)"
                                title="View Comments">>>
                              </button>
                              <button *ngIf="conceptlink.conceptlinkId==showKeypointIndex" type="button" type="button"
                                class="icon-bg ml-3 hw-30 btn" placement="top" title="View Comments"
                                (click)="closecommenttoggle()">
                                << </button>

                                  <div *ngIf="conceptlink.conceptlinkId==showKeypointIndex">
                                    <div class="card card-body"
                                      style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                      <div >
                                        <!-- <h2>Key Comments</h2>  -->
                                        <div class="row">

                                          <div class="col-12">

                    <tr *ngFor="let keypoint of KeypointList let id = index">

                      <td class="col-8" style="color:black">

                        <span>{{keypoint.keypoints}}</span>

                      </td>

                      <td class="col-2">
                        <button class="btn " class="button default-btn btn mb-3" data-toggle="modal"
                          data-target="#myEditKeyPointModal" (click)="showEditKeyModal(keypoint)">
                          <span class="oi oi-pencil"></span>
                        </button>
                        <div class="modal fade" id="myEditKeyPointModal">
                          <div class="modal-dialog">
                            <div class="modal-content">

                              <!-- Modal Header -->
                              <!-- <div class="modal-header">
                                    <h4 class="modal-title">Edit Key Comments</h4> -->
                              <!-- <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button> -->
                              <!-- </div> -->

                              <!-- Modal body -->
                              <div class="modal-body">



                                <form name="form" #fEdit="ngForm"
                                  (ngSubmit)="fEdit.submitted && EditKeypoint(editComment)">
                                  <div class="row">

                                    <div class="col-8">

                                      <div class="form-group">

                                        <input type="text" class="form-control" rows="3" placeholder="Key Comments"
                                          type="text" class="form-control" id="keyComments" #keyComments="ngModel"
                                          required [(ngModel)]="editComment" name="keyComments">
                                      </div>
                                      <div class="alert-danger" *ngIf="fEdit.submitted && keyComments.invalid">
                                        <div *ngIf="keyComments.errors.required ">
                                          *Key Comments required
                                        </div>
                                      </div>

                                    </div>

                                    <div class="col-2">
                                      <button type="submit" data-dismiss="modal"
                                        (click)="keyComments.valid && prevent(editComment)"
                                        class="btn btn-primary">Add</button>

                                    </div>

                                  </div>
                                </form>
                                <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                              </div>

                              <!-- Modal footer >
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" 
                                    data-dismiss="modal" (click) = "hide()">Close</button>
                                  </div-->

                            </div>
                          </div>
                        </div>
                      </td>

                      <td class="col-2">
                        <button type="button" class="btn " class="button default-btn btn mb-3 ml-2" data-toggle="modal"
                          data-target="#mydelKeypointModal" (click)="showdelKeyModal(keypoint)">
                          <span class="oi oi-trash"></span></button>
                        <div class="modal fade" id="mydelKeypointModal">
                          <div class="modal-dialog">
                            <div class="modal-content">

                              <!-- Modal Header -->
                              <!-- <div class="modal-header">
                                  <h4 class="modal-title">Delete Confirmation</h4>
                                  <button type="button" class="close" (click)="hideModal()">&times;</button>
                                </div> -->

                              <!-- Modal body -->
                              <div class="modal-body">
                                Are you sure want to delete the keycomments?
                                <button (click)="deleteKeypoint()" data-dismiss="modal" class="btn default-btn ml-3">Yes
                                </button>
                                <button type="button" class="btn default-btn ml-3" (click)="hideModal()"
                                  id="close-modal" data-dismiss="modal">No</button>


                                <button type="button" id="close-modal" data-dismiss="modal"
                                  style="display: none;">Close</button>

                              </div>

                              <!-- Modal footer -->
                              <!-- <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"
                                (click)="hide()">Close</button>
                            </div> -->
                            </div>
                          </div>
                        </div>


                      </td>

                    </tr>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>


  </div>
  </div>
  </div>
  </div>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>