body {
  text-decoration: none;
  text-decoration-color: #ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.bookmarkname {
  border: 0!important;
  outline: 0!important;
  background: transparent!important;
  border-bottom: 1px solid #3a3838!important;
  border-radius: 0;
}

.heading {
  font-size: 22px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

.btn-primary {
  /* padding:.100rem .38rem; */
  color: white;
  background-color: #509ef1!important;
  border-color: #509ef1!important;
  font-size: 15px;
}

.btn-primary:hover {
  border-color: #007bff;
  background-color: #007bff;
}

.btn-prime {
  padding: .100rem .40rem;
  color: #455aa7;
  /* margin-top: 5px; */
  border-radius: 50px;
  /* background-color: #455aa7; */
  border: 2px solid #455aa7;
  font-size: 15px;
  font-weight: 600;
  margin-right: 15px;
}

.btn-prime:hover {
  background-color: #455aa7;
  color: white;
}

.fa-search {
  border: none;
  background-color: #7086d9;
  color: white;
}

.fa-search:hover {
  background-color: #455aa7;
}

::placeholder {
  color: #ff0000;
  opacity: 1;
  /* Firefox */
}

.topnav {
  overflow: hidden;
  margin: left;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 5px;
  margin-top: 8px;
  font-size: 15px;
  border: 2px solid #3f51b5;
  margin: 5px;
  border-radius: 5px;
}

/* .topnav .search-container button {
    float: right;
    padding: 11px;
    margin-top: 8px;
    margin-right: 13px;
    background: #007bff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
  } */

/* .topnav .search-container button:hover {
    background: #ccc;
  } */

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: left;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid black;
  }
}

/* Create a column layout with Flexbox */

.row {
  display: flex;
}

/* Left column (menu) */

.left {
  flex: 22%;
  padding: 10px;
  width: 20px;
}

.h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #3f51b5;
}

/* .form-control[_ngcontent-hlh-c70]{
    font-size:17px;
    border:2px solid #3f51b5;
  }
   */

.right {
  flex: 65%;
  padding: 15px;
}

.left {
  flex: 65%;
  padding-left: 15px;
}

#mySearch {
  width: 100%;
  padding: 11px;
  border: 1px solid #ddd;
}

.btn-link {
  color: #404ab9;
  font-weight: 400px;
  background-color: none;
  margin-left: 10px;
  padding: 7px;
}

.alert-danger {
  color: #e83b17;
  background-color: #abbdc5;
  border-color: #f5c6cb00;
  /* 
    padding: 7px;
    border-radius: 5px; */
}

.alert {
  padding: 0px;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 5px 10px;
}

.modal-body {
  font-size: 21px;
  color: black;
}

.btn-danger {
  padding: 2px 7px;
  border: none;
  margin-top: 3px;
  margin-left: 7px;
}

.btn-danger {
  background-color: #7086d9;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* .btn-danger:hover {
  background-color: #e7e7e7;
  
  
  } */

.btn-danger:active {
  background-color: #910000;
}

.btn-3 {
  background-color: #7086d9;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-10 {
  background-color: #7086d9;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-3:hover {
  background-color: #07689f;
  border: 2px solid #07689f;
}

.modal-body {
  font-size: 15px;
}

.table td, .table th {
  padding: 8px;
}

/* .table-bordered td, .table-bordered th{
    border:none
  }
  .table td, .table th{
    vertical-align:top;
  }
  .table td, .table th{
    border-top:none
  }
  .table-bordered{
    background-color:white;
   
  }*/

.text-center {
  text-align: left;
}

/*    
   .table td, .table th{
    border-top:1px solid #3f51b552!important
  }
   */

.table {
  background-color: rgb(119 102 253 / 15%);
  width: 92%;
  /* margin:1rem; */
  border-radius: 3px;
}

.close {
  margin-left: 470px;
}

.mat-h2, .mat-title, .mat-typography h2 {
  margin: 0px;
}

.fa {
  border: none;
  /* background-color: #3f51b5; */
  /*  border-right:1px solid rgba(0,0,0,0.2);*/
  color: white;
}

.button:focus {
  outline: none;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4:hover {
  background-color: #e7e7e7;
}

.button4:active {
  background-color: #86b2fb;
}

.form-control {
  border: 1px solid #3f51b5;
  font-size: 15px;
}

.h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.icon-button {
  background-color: #7086d9;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  border-radius: 25px;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 2px 10px;
  transition-duration: 0.4s;
}

.default-btn {
  background-color: #509ef1;
  color: white;
}

.icon-bg {
  background-color: #509ef1;
  border: 1px solid #509ef1;
  color: #fff;
  padding: 6px;
}
.hw-30{
  height: 35px;
  width: 35px;
}

.left {
  float: left;
  width: 250px;

}

.form-control1 {
  display: block;
  width: 70%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #3f51b5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.border {
  border: 2px solid #3f51b5;
  background-color: #3f51b5;
  color: white;
  margin-top: -55px;
}