.mat-icon, .material-icons{
  color: #07689f;
}
.comments-box{
    background-color: lavender;
    /* #e0e7f3; */
    border-radius: 5px;
    margin: 5px;
}
.cmt-keycomments{
    margin-top: 10px;
}
.btn-prime{
  padding: 5px 10px;
    color:white;
    border-radius:50px;
    border: 1px solid #455aa7;
    background-color: #509ef1;
  }
  .btn-prime:hover{
    background-color: #455aa7;
    color: white;
  }
  /* .list-group{
    padding-top:2rem;
    padding-left:6rem;
    margin-top:6px;
  } */
  .h1,h2,h4{
    font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
  }
  .button {
       /* padding: 15px 15px 15px 15px;   */
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #3f51b5;
      border: none;
      border-radius: 5px;
      box-shadow: 0 5px #999;
    }
    
    .button:hover {background-color: #ca2dcf}
    
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
  .button1:hover {background-color: #ff0000}
  
  .button1:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
  
  .button2 {
   padding: 5px 15px;
   font-size: 15px;
   text-align: center;
   cursor: pointer;
   outline: none;
   color: #fff;
   background-color: #6518e0;
   border: none;
   border-radius: 15px;
   box-shadow: 0 5px #999;
  }
  
    .button2 {
      padding: 5px 15px;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #3f51b5;
      border: none;
      border-radius: 15px;
      box-shadow: 0 5px #999;
    }
    
    .button2:hover {background-color: #1bc9e7}
    
    .button2:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
  .button2:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
  
  .share2{
    padding-top: 2px;
    padding-left:45px;
  }
  .share4{
    color: #3f51b5;
    font-size: small;
     font-weight: 550;
     padding-top: 4px;
     padding-left:15px;
     margin-bottom:0px;
  }
  .share5{
    color:#3f51b5;
    font-weight: 550;
    padding-top: 0px;
    word-break:break-all;
    padding-left:200px;
  }
  .share6{
    font-size: medium; 
    font-weight: 550
  }
  .share{
    padding-bottom:19px;
    padding-top: 1em;
    border-radius: 30px;
    background:rgb(0 0 0 / 12%);
    padding-left: 1em;
    margin-top: 10px;
    padding-right: 1em;
    border: 1px solid#eaebee;
    max-width: 84.666667%;
   }
   .share:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px #666;
    /* transform: translateY(4px); */
   }
  
   .button3{
    background-color: white;
    text-align: center;
    color: #509ef1;
    /* font-size: 2rem; */
    font-weight: 150;
    border-style: none;
  }
  .button3:hover{
    color:#a8323e;
  }
  .comments{
    border-radius: 15px;background:#dddddd;padding: 12px;margin-top: 6px;
  }
  







  .just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background: #9C27B0
}

.card {
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.media img {
    width: 40px;
    height: 40px
}

.reply a {
    text-decoration: none
}
.non-underline-link{
  text-decoration: none;
}
.user-name{
  color: #3f51b5;
  font-size: 12px;
}
.sharetime {
  font-size: 15px;
  color: #666666;
  width: 600px;
  padding-left: 21em !important;
}
.reply-btn{
  font-size: 12px!important;
  margin-top: 4px;
}

.btn-new{
  background-color: #509ef1;
  border: 1px solid #509ef1;
  color: #fff;
  font-weight: 600;
}
.back{
  width: 1000px;
margin-left: -4px;
}