<!-- <a class="menu_link">google.com</a>  -->
<!-- <a class="menu_link">https://www.w3schools.com/php</a>
      <a class="menu_link">www.tutorialspoint.com</a> -->
<!-- <a class="menu_link">www.youtube.com</a> -->
<!-- <a href="{{bookmarks.link}}" target="_blank">{{bookmarks.link}}</a> -->

<div class="container-fluid " style="font-weight:700;font-size:20px;">
  <div class="list-group">
    <div class="row mt-3">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="float-left">
          <h2>Team Share</h2>
        </div>
        <div class="float-right">
          <a href="/teamsetting"> <span class="material-icons">
              notification_important </span><span class="badge badge-danger badge-pill ml-2">{{notication}}</span></a>
        </div>
      </div>
    </div>


    <div *ngFor="let teamSharelists of teamSharelist; let i = index" class="col-8 share back">
    <div class="shadow-lg p-3  bg-white rounded">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
          <div class="row">
            <div *ngIf="!teamSharelists.type; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>
            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamSharelists.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{teamSharelists.username}}</p>
          </div>
        </div>
        <div class="col-10 share5">
          <a href="{{teamSharelists.teambookmarklink}}" target="_blank"
            class="menu_link share6">
            {{teamSharelists.teambookmarklink}}
          </a>
        <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">SharedTime: </p>
        <span class="sharetime pt-3" style="margin-top: -23px;margin-left: 100px;">{{teamSharelists.sharedTime}}</span>

        </div>
      </div>
     
     
      <div class="row">
         <div class="col-1">
          <!-- <mat-icon type="button" class="button3" data-toggle="modal" title="share"
            data-target="#shareModal" (click)="showShareModal(teamSharelists.teambookmarkLinkId,teamSharelists.teamId)">
            share
          </mat-icon> -->
          <div class="modal fade" id="shareModal">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-header">
                  <h4 class="modal-title">Access Type</h4>
                </div>

                <div class="modal-body">
                  <form name="form" #fshare="ngForm"
                  (ngSubmit)="shareBookmark(teamSharelists.teambookmarkLinkId,teamSharelists.teamId, fshare,teamSharelists)">
                    <div class="row">
                      <div class="col-2">
                        <label>Access Type</label>
                      </div>
                      <div class="col-5">
                        <select (change)="onchangeAccessType($event.target.value)" class="form-control" id="accessType"
                          required>
                          <option>--Select--</option>
                          <option>Public</option>
                         
                        </select>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">
                          share
                        </button>
                      </div>
                      <div class="ml-2">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="bokclose">
                          close
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="text-danger" style="font-size: 15px;text-align: center;padding-left: 96px;" *ngIf="fshare.submitted && sharebookmarklink.accessType==''">
                        *Select accessType
                      </div>
                    </div>
                  </form>
                
                </div>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-10">
          <mat-icon type="button" class="button3" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample" (click)="opentesttoggle(teamSharelists,i)"
            title="keypoints">
            comment
          </mat-icon>
          <!-- [matBadge]="BookmarkKeypointList.length" [matBadgeHidden]="BookmarkKeypointList.length==0" -->
          <div class="collapse" id="collapseExample" *ngIf="i==showCollasalIndex">
            <div class="card">
              <div class="pb-2">KeyPoints</div>
              <div class="col-md-12">
                <div *ngFor="let bookkeypoint of BookmarkKeypointLists let id = index"
                  style="margin-left:1rem;width:100%;font-weight:700;font-size:20px;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="border-radius: 15px;background:#e0ece4; margin-top: 6px;"
                        *ngFor="let value of bookkeypoint.values let idval = index">
                        <div class="media">
                          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ bookkeypoint.name}}" class="rounded-circle" />
                          <div class="media-body" style="padding-left:1em">
                            <div>
                              <h3> {{value.teamkeyComments}}</h3>
                              <div>
                                <a ngbTooltip="Add Suggestion" style="cursor: pointer;color:cornflowerblue;"
                                  *ngIf="enablecommentindex != value.teamkeypointId"
                                  (click)="enableReplytwt($event, value.teamkeypointId,id)">
                                  <mat-icon style="color:cornflowerblue;"> chat</mat-icon>
                                </a>
                                <a *ngIf="keypointid!=value.teamkeypointId" (click)="openbookmarkkeysuggestion($event,value.teamkeypointId,idval,id)" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <a *ngIf="keypointid==value.teamkeypointId && show ==id" (click)="closebookmarkkeysuggestion()" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <!-- <div class="media mt-1" class="media-body" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==idval"> -->
                                <div class="media mt-1" class="media-body" *ngIf="show==id && keypointid==value.teamkeypointId">
                                  <div class="card "
                                       style="border-radius: 15px;background: #e0ece4;
                                           padding-left: 2em; margin-top: 6px;padding-top: 3px;
                                           padding-right: 1em;margin-bottom: 8px;"
                                       *ngFor="let teamKeySuggestion of teamKeySuggestionlist let id= index">
                                    <div class="row mt-3">
                                      <div class="col-3">
                                        <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamKeySuggestion.name}}" />
                                      </div>
                                      <div class="col">
                                        <div class="row">
                                          <div class="col">
                                            <h5>{{teamKeySuggestion.username}}</h5>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <h3>{{teamKeySuggestion.teamkeyComments}}</h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <button class="btn btn-link" (click)="onteamApproachKeySuggestionViewMore()"
                                    id="view-more" *ngIf="teamKeySuggestionlist.length > 3">View More</button>
                                  <button class="btn btn-link" (click)="onteamApproachKeySuggestionviewless()"
                                    style="display: none;" id="view-less">View Less</button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <h5 style="color: #3f51b5;font-size: small; 
                              font-weight: 600;padding-top: 4px;padding-left:15px;margin-bottom:0px;">
                            {{value.username}}
                          </h5>
                        </div>
                        <div class="media mt-3" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex == value.teamkeypointId">
                          <a class="pr-3" href="#" >
                            <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ retrievedImage}}"/>
                          </a>
                          <div class="media-body">
                            <form name="form" #bokform="ngForm" (ngSubmit)="Comment(value.teamkeypointId,value.teambookmarkLinkId,bookkeypoint.keySuggestion,value.teamId,bokform)">
                            <div class="row">
                              <div class="col-7">
                                <input *ngIf="enableEdit && enableEditIndex == id && enablecommentindex == value.teamkeypointId"
                                  id="keySuggestion" name="keySuggestion" style="padding-top: 10px;width:199px; "
                                  #keySuggestion="ngModel" class="formcontrol" type="text" 
                                  [(ngModel)]="bookkeypoint.keySuggestion" ngModel/>
                              </div>
                              <div class="col-2" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex == value.teamkeypointId">
                                <button type="submit" class="btn btn-prime " style="padding-right: 8px;">
                                  Add
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="submit" class="btn btn-prime "
                                  *ngIf="enableEdit && enableEditIndex == id && enablecommentindex == value.teamkeypointId"
                                  (click)="cancel()">
                                  Cancel
                                </button>
                              </div>
                            </div>
                            <div class="text-danger row " *ngIf="bokform.submitted && bookkeyinvalid" style="font-size: 14px;padding-left: 1.5rem;">
                              *Key Suggestion required
                            </div>
                            </form>
                            <!-- the majority have suffered alteration in some form, by injected humour, or randomised words. -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="btn btn-link" (click)="onApproachKeyPointsViewMore()" id="view-more"
                    *ngIf="approachKeypointList.length > 3">View More</button>
                  <button class="btn btn-link" (click)="onApproachkeyPointsviewless()" style="display: none;"
                    id="view-less">View Less</button> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <!-- <div class="col-1"><img src="assets/image/lakshman.png" alt="user" class="profile-photo-sm rounded" style="width: 3rem"></div> -->
                <div class="col-11">
                  <div style="margin-top: 15px;" title="Add Key Point">
                    <form name="form" #ff="ngForm"
                    (ngSubmit)="AddKeyComments(keyComments.value,teamSharelists.teambookmarkLinkId,teamSharelists.teamId,teamSharelists,ff)">
                      <div class="row">
                        <div class="col-10">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Add KeyPoints..."
                              id="keyComments.value" required #keyComments name="keyComments" required ngModel>
                            <div class="alert-danger" *ngIf="ff.submitted && keyComments.value.invalid">
                              <div *ngIf="keyComments.value.errors.required ">
                                *Key Comments required
                              </div>
                            </div>
                            <!-- Search form  -->
                          </div>
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
    </div>    
    
    <div *ngFor="let teamsolution of bookmarkteamsolutionlist; let i = index" class="col-8 share back">
      <div class="shadow-lg p-3  bg-white rounded">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
          <div class="row">
            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg share3">
                        <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ bookmarks.name}}"  alt="user" style="width:60px;height:40px;padding-left:15px;" class="profile-photo-lg"> -->
            <div *ngIf="!teamsolution.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>
            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamsolution.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{teamsolution.username}}</p>
          </div>
        </div>
        <div class="col-10 share5">
          <a href="{{teamsolution.teamsolutionlink}}" target="_blank"
            class="menu_link share6">
            {{teamsolution.teamsolutionlink}}
          </a>
        <p class="sharetime pl-3"  style="margin-top: -23px;margin-left: 100px;">SharedTime: </p>
        <span class="sharetime pl-1" style="margin-top: -23px;margin-left: 100px;">{{teamsolution.sharedTime}}</span>

        </div>
      </div>
     
      <div class="row">
        <div class="col-1">
          <!-- <mat-icon type="button" class="button3" data-toggle="modal" title="share" data-target="#solutionshareModal"
            (click)="showsolutionShareModals(teamsolution.teamsolutionlinkId,teamsolution.teamId,teamsolution)">
            share
          </mat-icon> -->
          <div class="modal fade" id="solutionshareModal">
            <div class="modal-dialog">
              <div class="modal-content">
                
                <div class="modal-header">
                  <h4 class="modal-title">Access Type</h4>
                </div>
              
                <div class="modal-body">
                  <form name="form" #fshare="ngForm"
                    (ngSubmit)="shareSolution(teamsolution.teamsolutionlinkId,teamsolution.teamId,fshare)">
                    <div class="row">
                      <div class="col-2">
                        <label>Access Type</label>
                      </div>
                      <div class="col-5">
                        <select (change)="onchangeAccessTypes($event.target.value)" class="form-control" id="accessType"
                          required>
                          <option>--Select--</option>
                          
                          <option>Public</option>
                         
                        </select>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">
                          share
                        </button>
                      </div>
                      <div class="ml-2">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="solclose">
                          close
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="text-danger" style="font-size: 15px;text-align: center;padding-left: 96px;" *ngIf="fshare.submitted && sharesolutionlink.accessType==''">
                        *Select accessType
                      </div>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 pt-3">
          <mat-icon type="button" class="button3 " data-toggle="collapse" data-target="#solutioncollapseExample"
            aria-expanded="false" aria-controls="solutioncollapseExample" (click)="opensolutiontoggles(teamsolution,i)"
            title="teamsolutionkeypoint">
            comment
          </mat-icon>
          <!-- [matBadge]="KeypointList.length" [matBadgeHidden]="KeypointList.length==0" -->
          <div class="collapse" id="solutioncollapseExample" *ngIf="i==showCollasalIndex">
            <div class="card">
              <div class="pb-2">KeyPoints</div>
              <div class="col-md-12">
                <div *ngFor="let teamsolutionkeypoint of KeypointLists let id = index"
                  style="margin-left:1rem;width:100%;font-weight:700;font-size:20px;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="border-radius: 15px;background:#e0ece4; margin-top: 6px;"
                        *ngFor="let value of teamsolutionkeypoint.values let idval = index">
                        <div class="media">
                          <!-- <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/stD0Q19.jpg" /> -->
                          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamsolutionkeypoint.name}}" class="rounded-circle" />
                          <div class="media-body" style="padding-left:1em">
                            <div>
                              <h3> {{value.teamsolutionkeypoints}}</h3>
                              <div>
                                <a ngbTooltip="Add Suggestion" style="cursor: pointer;color:cornflowerblue;"
                                  *ngIf="!enableEdit || enablecommentindex != value.teamkeypointId"
                                  (click)="enableReplytwt($event, value.teamkeypointId,id)">
                                  <mat-icon style="color:cornflowerblue;"> chat</mat-icon>
                                </a>
                                <a *ngIf="teamsolutionkeypointId!=value.teamkeypointId" (click)="opensolutionkeysuggestion($event,value.teamkeypointId,idval,id)" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <a *ngIf="teamsolutionkeypointId==value.teamkeypointId && showsolution ==id" (click)="closesolutionkeysuggestion()" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <div class="media mt-1" class="media-body" *ngIf="teamsolutionkeypointId==value.teamkeypointId && showsolution ==id">
                                  <div class="card "
                                       style="border-radius: 15px;background: #e0ece4;
                                           padding-left: 2em; margin-top: 6px;padding-top: 3px;
                                           padding-right: 1em;margin-bottom: 8px;"
                                       *ngFor="let teamKeySuggestion of teamSolKeySuggestionlist let id= index">
                                    <div class="row mt-3">
                                      <div class="col-3">
                                        <!-- <img [src]="keysuggestionimageName"  style="width:30px;height:30px;" class="rounded-circle">  -->
                                        <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamKeySuggestion.name}}" />
                                      </div>
                                      <div class="col">
                                        <div class="row" >
                                          <div class="col" style="display: flex;justify-content: flex-end;">
                                            <h5>{{teamKeySuggestion.username}}</h5>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <h3>{{teamKeySuggestion.teamsolutionkeypoints}}</h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <div class="row pl-3" style="color: #3f51b5;"><h5>{{teamKeySuggestion.username}}</h5></div> -->
                                  </div>
                                  <!-- <a class="pr-3" href="#"> -->
                                  <!-- <img class="rounded-circle" alt="Bootstrap Media Another Preview" 
                                src="https://i.imgur.com/xELPaag.jpg" />
                                {{teamKeySuggestion.username}}--3 hours ago  -->
                                  <!-- </a>  -->
                                  <!-- <h5>{{teamKeySuggestion.username}}</h5> <span>- 3 hours ago</span> -->
                                  <!-- {{teamKeySuggestion.teamkeyComments}} -->
                                </div>
                              </div>
                            </div>
                          </div>
                          <h5 style="color: #3f51b5;font-size: small; 
                              font-weight: 600;padding-top: 4px;padding-left:15px;margin-bottom:0px;">
                            {{value.username}}
                          </h5>
                        </div>
                        <div class="media mt-3">
                          <a class="pr-3" href="#" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId">
                          <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ retrievedImage}}"/></a>
                          <div class="media-body">
                            <form name="form" #solform="ngForm" (ngSubmit)="Comments(value.teamkeypointId,value.teamsolutionlinkId,teamsolutionkeypoint.keySuggestion,value.teamId,value,solform)">
                            <div class="row">
                              <div class="col-7">
                                <input *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId"
                                        id="keySuggestion" name="keySuggestion" style="padding-top: 10px;width:199px; "
                                        #keySuggestion="ngModel" class="formcontrol" type="text" required
                                        [(ngModel)]="teamsolutionkeypoint.keySuggestion" ngModel/>
                                <!-- <a  ngbTooltip="Add Suggestion" style="cursor: pointer;" >
                                  <mat-icon   *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==idval"
                                  (click)="Comment(value.teamkeypointId,value.teambookmarkLinkId,keypoint.keySuggestion,value.teamId)">
                                  comment_bank</mat-icon> 
                                </a > -->
                              </div>
                              <div class="col-2" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId">
                                <button type="submit" class="btn btn-prime " style="padding-right: 8px;">
                                  Add
                                </button>
                              </div>
                              <div class="col-2">
                                <!-- <a class="pt-4" ngbTooltip="Add Suggestion" style="cursor: pointer;"  >
                                <mat-icon *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==idval"
                                (click)="cancel()"> cancel_presentation</mat-icon> </a>-->
                                <button type="submit" class="btn btn-prime "
                                  *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId"
                                  (click)="cancel()">
                                  Cancel
                                </button>
                              </div>
                            </div>
                            <div class="text-danger row " *ngIf="solform.submitted && solutioninvalid" style="font-size: 14px;padding-left: 1.5rem;">
                              *Key Suggestion required
                            </div>
                          </form>
                            <!-- the majority have suffered alteration in some form, by injected humour, or randomised words. -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <!-- <div class="col-1"><img src="assets/image/lakshman.png" alt="user" class="profile-photo-sm rounded" style="width: 3rem"></div> -->
                <div class="col-11">
                  <div style="margin-top: 15px;" title="Add Key Point">
                    <form name="form" #ff="ngForm"
                      (ngSubmit)="Addteamsolutionkeypoints(teamsolutionkeypoint.value,teamsolution.teamsolutionlinkId,teamsolution.teamsolutionId,teamsolution,ff)">
                      <div class="row">
                        <div class="col-10">
                          <div class="form-group">
                            <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                              placeholder="Add KeyPoints..." id="teamsolutionkeypoint.value" required
                              #teamsolutionkeypoint name="teamsolutionkeypoint" required ngModel>
                            <div class="alert-danger" *ngIf="ff.submitted && teamsolutionkeypoint.value.invalid">
                              <div *ngIf="teamsolutionkeypoint.value.errors.required ">
                                *Key Comments required
                              </div>
                            </div>
                            <!-- Search form  -->
                          </div>
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </a> -->
        </div>
      </div>
   </div>
    </div>
	
	<div *ngFor="let stepshare of sharesteplist; let i = index" class="col-8 share back">
    <div class="shadow-lg p-3  bg-white rounded">
    <div class="row">
        <div class="col-md-2 col-sm-2 share2"  style="width: 863px;margin-left: 15px;">
          <div class="row">
            <div *ngIf="!stepshare.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>
            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ stepshare.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{stepshare.username}}</p>
          </div>
        </div>
        <div class="col-10 share5">
          <a href="{{stepshare.teamsteplink}}" target="_blank"
            class="menu_link share6">
            {{stepshare.teamsteplink}}
          </a>
        <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">SharedTime: </p>
        <span class="sharetime pl-1" style="margin-top: -23px;margin-left: 100px;">{{stepshare.sharedTime}}</span>

        </div>
      </div>
     
      <div class="row">
        <div class="col-1">
          <!-- <mat-icon type="button" class="button3" data-toggle="modal" title="share" data-target="#stepShareModal"
                    (click)="showStepShareModal(stepshare.teamstepshareId,stepshare.teamId)" ngbtooltip="share">
            share
          </mat-icon> -->
          <div class="modal fade" id="stepShareModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Access Type</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <form name="form" #fshare="ngForm"
                    (ngSubmit)="shareStep(stepshare.teamsteplinkId,stepshare.teamId,stepshare.teamsteplink,stepshare.teamstepId,stepshare,fshare)">
                    <div class="row">
                      <div class="col-2">
                        <label>Access Type</label>
                      </div>
                      <div class="col-5">
                        <select (change)="onchangeStepAccessType($event.target.value)" class="form-control" id="accessType"
                          required>
                          <option>--Select--</option>
                          <option>Public</option>
                          <!-- <option>Private</option> -->
                          <!-- <option>MyChain</option>
                          <option>Everyone</option> -->
                        </select>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">
                          share
                        </button>
                      </div>
                      <div class="ml-2">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="stpclose">
                          close
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="text-danger" style="font-size: 15px;text-align: center;padding-left: 96px;" *ngIf="fshare.submitted && shareStepLink.accessType==''">
                        *Select accessType
                      </div>
                    </div>
                  </form>
                  <!-- <span *ngIf="isSuccessful">{{sucessmessage}}</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10">
          <mat-icon type="button" class="button3" data-toggle="collapse" data-target="#stepcollapseExample"
            aria-expanded="false" aria-controls="stepcollapseExample" (click)="opensteptesttoggle(stepshare,i)"
            title="teamstepkeypoint">
            comment
          </mat-icon>
          <!-- [matBadge]="stepKeypointList.length" [matBadgeHidden]="stepKeypointList.length==0" -->
          <div class="collapse" id="stepcollapseExample" *ngIf="i==showCollasalIndex">
            <div class="card">
              <div class="pb-2">KeyPoints</div>
              <div class="col-md-12">
                <div *ngFor="let stepKeypoint of stepKeypointLists let id = index"
                  style="margin-left:1rem;width:100%;font-weight:700;font-size:20px;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="border-radius: 15px;background:#e0ece4; margin-top: 6px;"
                        *ngFor="let value of stepKeypoint.values let idval = index">
                        <div class="media">
                          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ stepKeypoint.name}}" class="rounded-circle" />
                          <div class="media-body" style="padding-left:1em">
                            <div>
                              <h3> {{value.teamstepKeypoints}}</h3>
                              <div>
                                <a ngbTooltip="Add Suggestion" style="cursor: pointer;color:cornflowerblue;"
                                  *ngIf="enablecommentindex != value.teamstepkeypointId"
                                  (click)="enableReplytwt($event, value.teamstepkeypointId,id)">
                                  <mat-icon style="color:cornflowerblue;"> chat</mat-icon>
                                </a>
                                <a *ngIf="teamstepkeypointId!=value.teamstepkeypointId" (click)="opensteplinkkeysuggestion($event,value.teamstepkeypointId,value.teamstepkeypointId,id)" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <a *ngIf="teamstepkeypointId==value.teamstepkeypointId && showstepkey ==id" (click)="closesteplinkkeysuggestion()" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <div class="media mt-1" class="media-body" *ngIf="showstepkey==id && teamstepkeypointId==value.teamstepkeypointId">
                                  <div class="card "
                                       style="border-radius: 15px;background: #e0ece4;
                                           padding-left: 2em; margin-top: 6px;padding-top: 3px;
                                           padding-right: 1em;margin-bottom: 8px;"
                                       *ngFor="let teamStepKeySuggestion of teamStepKeySuggestionlist let id= index">
                                    <div class="row mt-3">
                                      <div class="col-3">
                                        <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamStepKeySuggestion.name}}" />                                      </div>
                                      <div class="col">
                                        <div class="row">
                                          <div class="col">
                                            <h5>{{teamStepKeySuggestion.username}}</h5>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <h3>{{teamStepKeySuggestion.teamstepKeypoints}}</h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <button class="btn btn-link" (click)="onteamStepKeySuggestionViewMore()"
                                            id="view-more" *ngIf="teamStepKeySuggestionlist.length > 3">
                                            View More
                                    </button>
                                    <button class="btn btn-link" (click)="onteamStepKeySuggestionviewless()"
                                            style="display: none;" id="view-less">
                                            View Less
                                    </button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <h5 style="color: #3f51b5;font-size: small; 
                              font-weight: 600;padding-top: 4px;padding-left:15px;margin-bottom:0px;">
                            {{value.username}}
                          </h5>
                        </div>
                        <div class="media mt-3">
                          <a class="pr-3" href="#" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamstepkeypointId">
                          <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ retrievedImage}}"/></a>
                          <div class="media-body">
                            <form name="form" #stpform="ngForm" (ngSubmit)="StepComment(value.teamstepkeypointId,value.teamsteplinkId,stepKeypoint.keySuggestion,value.teamId,stpform)">
                            <div class="row">
                              <div class="col-7">
                                <input *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamstepkeypointId"
                                  id="keySuggestion" name="keySuggestion" style="border:1px solid #3f51b5;"
                                  #keySuggestion="ngModel" class="form-control" type="text"
                                  [(ngModel)]="stepKeypoint.keySuggestion" required/>
                              </div>
                              <div class="col-2" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamstepkeypointId">
                                <button type="submit" class="btn btn-prime " style="padding-right: 8px;">
                                  Add
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="submit" class="btn btn-prime "
                                  *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamstepkeypointId"
                                  (click)="cancel()">
                                  Cancel
                                </button>
                              </div>
                            </div>
                            <div class="text-danger row " *ngIf="stpform.submitted && stepinvalid" style="font-size: 14px;padding-left: 1.5rem;">
                              *Key Suggestion required
                            </div>
                          </form>
                            <!-- the majority have suffered alteration in some form, by injected humour, or randomised words. -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="btn btn-link" (click)="onStepKeyPointsViewMore()" id="view-more"
                    *ngIf="stepKeypointList.length > 3">
                    View More
                  </button>
                  <button class="btn btn-link" (click)="onStepkeyPointsviewless()" style="display: none;"
                    id="view-less">
                    View Less
                  </button> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <!-- <div class="col-1"><img src="assets/image/lakshman.png" alt="user" class="profile-photo-sm rounded" style="width: 3rem"></div> -->
                <div class="col-11">
                  <div style="margin-top: 15px;" title="Add Key Point">
                    <form name="form" #ff="ngForm"
                    (ngSubmit)="AddStepKeyComments(stepkeyComments.value,stepshare.teamsteplinkId,stepshare.teamId,stepshare.stepId,stepshare,ff)">
                      <div class="row">
                        <div class="col-10">
                          <div class="form-group">
                            <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                                   placeholder="Add KeyPoints..." id="stepkeyComments.value" required #stepkeyComments
                                   name="stepkeyComments" required ngModel>
                            <div class="alert-danger" *ngIf="ff.submitted && stepkeyComments.value.invalid">
                              <div *ngIf="stepkeyComments.value.errors.required ">
                                *Key Comments required
                              </div>
                            </div>
                            <!-- Search form  -->
                          </div>
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </a> -->
        </div>
      </div>
      </div>
    </div>
	
	<div *ngFor="let skillshare of shareskilllist; let i = index" class="col-8 share back">
    <div class="shadow-lg p-3  bg-white rounded">
    <div class="row">
        <div class="col-md-2 col-sm-2 share2"  style="width: 863px;margin-left: 15px;">
          <div class="row">
            <div *ngIf="!skillshare.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>
            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ skillshare.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{skillshare.username}}</p>
          </div>
        </div>
        <div class="col-10 share5">
          <a href="{{skillshare.teamskilllink}}" target="_blank"
            class="menu_link share6">
            {{skillshare.teamskilllink}}
          </a>
        <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">SharedTime: </p>
        <span class="sharetime pl-1" style="margin-top: -23px;margin-left: 100px;">{{skillshare.sharedTime}}</span>

        </div>
      </div>
     
      <div class="row">
        <div class="col-1">
          <!-- <mat-icon type="button" class="button3" data-toggle="modal" title="share" data-target="#skillShareModal"
            (click)="showSkillShareModal(skillshare.teamskilllinkId,skillshare.teamId)" ngbtooltip="share">
            share
          </mat-icon> -->
          <div class="modal fade" id="skillShareModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Access Type</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <form name="form" #fshare="ngForm"
                    (ngSubmit)="shareSkill(skillshare.teamskilllinkId,skillshare.teamId,skillshare.teamskilllink)">
                    <div class="row">
                      <div class="col-2">
                        <label>Access Type</label>
                      </div>
                      <div class="col-5">
                        <select (change)="onchangeSkillAccessType($event.target.value)" class="form-control" id="accessType"
                          required>
                          <option>--Select--</option>
                          <!-- <option>Private</option> -->
                          <option>Public</option>
                          <!-- <option>MyChain</option>
                          <option>Everyone</option> -->
                        </select>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">
                          share
                        </button>
                      </div>
                      <div class="ml-2">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="skiclose">
                          close
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="text-danger" style="font-size: 15px;text-align: center;padding-left: 96px;" *ngIf="fshare.submitted && shareSkillLink.accessType==''">
                        *Select accessType
                      </div>
                    </div>
                  </form>
                  <!-- <span *ngIf="isSuccessful">{{sucessmessage}}</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10">
          <mat-icon type="button" class="button3" data-toggle="collapse" data-target="#skillcollapseExample"
            aria-expanded="false" aria-controls="skillcollapseExample" (click)="openskilltesttoggle(skillshare,i)"
            title="teamskillkeypoint">
            comment
          </mat-icon>
          <!-- [matBadge]="skillKeypointList.length" [matBadgeHidden]="skillKeypointList.length==0" -->
          <div class="collapse" id="skillcollapseExample" *ngIf="i==showCollasalIndex">
            <div class="card">
              <div class="pb-2">KeyPoints</div>
              <div class="col-md-12">
                <div *ngFor="let skillKeypoint of skillKeypointLists let id = index"
                  style="margin-left:1rem;width:100%;font-weight:700;font-size:20px;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="border-radius: 15px;background:#e0ece4; margin-top: 6px;"
                        *ngFor="let value of skillKeypoint.values let idval = index">
                        <div class="media">
                          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ skillKeypoint.name}}" class="rounded-circle" />
                          <div class="media-body" style="padding-left:1em">
                            <div>
                              <h3> {{value.teamskillKeypoints}}</h3>
                              <div>
                                <a ngbTooltip="Add Suggestion" style="cursor: pointer;color:cornflowerblue;"
                                  *ngIf="!enableEdit || enablecommentindex != value.teamskillkeypointId"
                                  (click)="enableReplytwt($event, value.teamskillkeypointId,id)">
                                  <mat-icon style="color:cornflowerblue;"> chat</mat-icon>
                                </a>
                                <a *ngIf="teamskillkeypointId!=value.teamskillkeypointId" (click)="openskillkeysuggestion($event,value.teamskillkeypointId,idval,id)" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <a *ngIf="teamskillkeypointId==value.teamskillkeypointId && showskill ==id" (click)="closeskillkeysuggestion()" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <!-- <div class="media mt-1" class="media-body" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==idval"> -->
                                <div class="media mt-1" class="media-body" *ngIf="teamskillkeypointId==value.teamskillkeypointId && showskill ==id">
                                  <div class="card "
                                       style="border-radius: 15px;background: #e0ece4;
                                           padding-left: 2em; margin-top: 6px;padding-top: 3px;
                                           padding-right: 1em;margin-bottom: 8px;"
                                       *ngFor="let teamSkillKeySuggestion of teamSkillKeySuggestionlist let id= index">
                                    <div class="row mt-3">
                                      <div class="col-3">
                                        <!-- <img [src]="keysuggestionimageName"  style="width:30px;height:30px;" class="rounded-circle">  -->
                                        <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamSkillKeySuggestion.name}}" />
                                      </div>
                                      <div class="col">
                                        <div class="row">
                                          <div class="col">
                                            <h5>{{teamSkillKeySuggestion.username}}</h5>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <h3>{{teamSkillKeySuggestion.teamskillKeypoints}}</h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <button class="btn btn-link" (click)="onteamSkillKeySuggestionViewMore()"
                                    id="view-more" *ngIf="teamSkillKeySuggestionlist.length > 3">View More</button>
                                  <button class="btn btn-link" (click)="onteamSkillKeySuggestionviewless()"
                                    style="display: none;" id="view-less">View Less</button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <h5 style="color: #3f51b5;font-size: small; 
                              font-weight: 600;padding-top: 4px;padding-left:15px;margin-bottom:0px;">
                            {{value.username}}
                          </h5>
                        </div>
                        <div class="media mt-3">
                          <a class="pr-3" href="#" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamskillkeypointId">
                          <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ retrievedImage}}"/></a>
                          <div class="media-body">
                            <form name="form" #sklform="ngForm" (ngSubmit)="SkillComment(value.teamskillkeypointId,value.teamskilllinkId,skillKeypoint.keySuggestion,value.teamId,sklform)">
                            <div class="row">
                              <div class="col-7">
                                <input *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamskillkeypointId"
                                        id="keySuggestion" name="keySuggestion" style="padding-top: 10px;width:199px; "
                                        #keySuggestion="ngModel" class="formcontrol" type="text" required
                                        [(ngModel)]="skillKeypoint.keySuggestion" ngModel/>
                              </div>
                              <div class="col-2" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamskillkeypointId">
                                <button type="submit" class="btn btn-prime " style="padding-right: 8px;">
                                  Add
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="submit" class="btn btn-prime "
                                  *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamskillkeypointId"
                                  (click)="cancel()">
                                  Cancel
                                </button>
                              </div>
                            </div>
                            <div class="text-danger row " *ngIf="sklform.submitted && skillinvalid" style="font-size: 14px;padding-left: 1.5rem;">
                              *Key Suggestion required
                            </div>
                          </form>
                            <!-- the majority have suffered alteration in some form, by injected humour, or randomised words. -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="btn btn-link" (click)="onSkillKeyPointsViewMore()" id="view-more"
                  *ngIf="skillKeypointList.length > 3">View More</button>
                <button class="btn btn-link" (click)="onSkillkeyPointsviewless()" style="display: none;"
                  id="view-less">View Less</button> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <!-- <div class="col-1"><img src="assets/image/lakshman.png" alt="user" class="profile-photo-sm rounded" style="width: 3rem"></div> -->
                <div class="col-11">
                  <div style="margin-top: 15px;" title="Add Key Point">
                    <form name="form" #ff="ngForm"
                    (ngSubmit)="AddSkillKeyComments(skillkeyComments.value,skillshare.teamskilllinkId,skillshare.teamId,skillshare.skillId, skillshare,ff)">
                      <div class="row">
                        <div class="col-10">
                          <div class="form-group">
                            <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                            placeholder="Add KeyPoints..." id="skillkeyComments.value" required #skillkeyComments
                            name="skillkeyComments" required ngModel>
                            <div class="alert-danger" *ngIf="ff.submitted && skillkeyComments.value.invalid">
                              <div *ngIf="skillkeyComments.value.errors.required ">
                                *Key Comments required
                              </div>
                            </div>
                            <!-- Search form  -->
                          </div>
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </a> -->
        </div>
      </div>
      </div>
    </div>
	
	<div *ngFor="let ConceptSharelists of ConceptSharelist; let i = index" class="col-8 share back">
    <div class="shadow-lg p-3  bg-white rounded"> 
    <div class="row">
        <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
          <div class="row">
            <div *ngIf="!ConceptSharelists.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>
            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ ConceptSharelists.name}}" alt="logo"
                width="50" height="50" class="profile-photo-sm rounded-circle">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{ConceptSharelists.username}}</p>
          </div>
        </div>
        <div class="col-10 share5">
          <a href="{{ConceptSharelists.teamConceptlink}}" target="_blank"
            class="menu_link share6">
            {{ConceptSharelists.teamConceptlink}}
          </a>
        <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">SharedTime: </p>
        <span class="sharetime pl-1" style="margin-top: -23px;margin-left: 100px;">{{ConceptSharelists.sharedTime}}</span>

        </div>
      </div>
    
      <div class="row">
        <div class="col-1">
          <!-- <mat-icon type="button" class="button3" data-toggle="modal" title="share" data-target="#conceptShareModal"
            (click)="showConceptShareModal(ConceptSharelists.teamConceptLinkId,ConceptSharelists.teamId,ConceptSharelists)"
            ngbtooltip="share">
            share
          </mat-icon> -->
          <div class="modal fade" id="conceptShareModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Access Type</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <form name="form" #fshare="ngForm"
                    (ngSubmit)="shareConcept(ConceptSharelists.teamConceptLinkId,ConceptSharelists.teamId,ConceptSharelists.teamConceptlink,ConceptSharelists.teamConceptId,ConceptSharelists)">
                    <div class="row">
                      <div class="col-2">
                        <label>Access Type</label>
                      </div>
                      <div class="col-5">
                        <select (change)="onchangeConceptAccessType($event.target.value)" class="form-control" id="accessType"
                          required>
                          <option>--Select--</option>
                          <option>Public</option>
                          <!-- <option>Private</option> -->
                          <!-- <option>MyChain</option>
                          <option>Everyone</option> -->
                        </select>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">
                          share
                        </button>
                      </div>
                      <div class="ml-2">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="conclose">
                          close
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="text-danger" style="font-size: 15px;text-align: center;padding-left: 96px;" *ngIf="fshare.submitted && shareConceptLink.accessType==''">
                        *Select accessType
                      </div>
                    </div>
                  </form>
                  <!-- <span *ngIf="isSuccessful">{{sucessmessage}}</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10">
          <mat-icon type="button" class="button3" data-toggle="collapse" data-target="#conceptcollapseExample"
            aria-expanded="false" aria-controls="conceptcollapseExample" (click)="openconcepttesttoggle(ConceptSharelists,i)" 
            title="teamconceptkeypoint">
            comment
          </mat-icon>
          <!-- [matBadge]="conceptKeypointList.length" [matBadgeHidden]="conceptKeypointList.length==0" -->
          <div class="collapse" id="conceptcollapseExample" *ngIf="i==showCollasalIndex">
            <div class="card">
              <div class="pb-2">KeyPoints</div>
              <div class="col-md-12">
                <div *ngFor="let conceptKeypoint of conceptKeypointLists let id = index"
                     style="margin-left:1rem;width:100%;font-weight:700;font-size:20px;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="border-radius: 15px;background:#e0ece4; margin-top: 6px;"
                        *ngFor="let value of conceptKeypoint.values let idval = index">
                        <div class="media">
                          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ conceptKeypoint.name}}" class="rounded-circle" />
                          <div class="media-body" style="padding-left:1em">
                            <div>
                              <h3> {{value.teamConceptKeypoints}}</h3>
                              <div>
                                <a ngbTooltip="Add Suggestion" style="cursor: pointer;color:cornflowerblue;"
                                  *ngIf="enablecommentindex != value.teamConceptKeypointId"
                                  (click)="enableReplytwt($event,value.teamConceptKeypointId,id)">
                                  <mat-icon style="color:cornflowerblue;"> chat</mat-icon>
                                </a>
                                <a *ngIf="teamConceptKeypointId!=value.teamConceptKeypointId" (click)="openconceptkeysuggestion($event,value.teamConceptKeypointId,idval,id)" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <a *ngIf="teamConceptKeypointId==value.teamConceptKeypointId && showconceptkey ==id" (click)="closeconceptkeysuggestion()" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <!-- <div class="media mt-1" class="media-body" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==idval"> -->
                                <div class="media mt-1" class="media-body" *ngIf="teamConceptKeypointId==value.teamConceptKeypointId && showconceptkey ==id">
                                  <div class="card "
                                       style="border-radius: 15px;background: #e0ece4;
                                           padding-left: 2em; margin-top: 6px;padding-top: 3px;
                                           padding-right: 1em;margin-bottom: 8px;"
                                       *ngFor="let teamConceptKeySuggestion of teamConceptKeySuggestionlist let id= index">
                                    <div class="row mt-3">
                                      <div class="col-3">
                                        <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamConceptKeySuggestion.name}}" />                                      </div>
                                      <div class="col">
                                        <div class="row">
                                          <div class="col" style="display: flex;flex-direction: row;justify-content: flex-end;">
                                            <h5>{{teamConceptKeySuggestion.username}}</h5>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <h3>{{teamConceptKeySuggestion.teamKeySuggestion}}</h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <button class="btn btn-link" (click)="onteamConceptKeySuggestionViewMore()"
                                    id="view-more" *ngIf="teamConceptKeySuggestionlist.length > 3">View More</button>
                                  <button class="btn btn-link" (click)="onteamConceptKeySuggestionviewless()"
                                    style="display: none;" id="view-less">View Less</button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <h5 style="color: #3f51b5;font-size: small; 
                              font-weight: 600;padding-top: 4px;padding-left:15px;margin-bottom:0px;">
                            {{value.username}}
                          </h5>
                        </div>
                        <div class="media mt-3">
                          <a class="pr-3" href="#" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamConceptKeypointId">
                          <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ retrievedImage}}"/></a>
                          <div class="media-body">
                            <form name="form" #conform="ngForm" (ngSubmit)="ConceptComment(value.teamConceptKeypointId,value.teamConceptLinkId,conceptKeypoint.keySuggestion,ConceptSharelists.teamId,conform)">
                            <div class="row">
                              <div class="col-7">
                                <input *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamConceptKeypointId"
                                  id="keySuggestion" name="keySuggestion" style="border:1px solid #3f51b5;"
                                  #keySuggestion="ngModel" class="form-control" type="text"
                                  [(ngModel)]="conceptKeypoint.keySuggestion" required ngModel/>
                              </div>
                              <div class="col-2" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamConceptKeypointId">
                                <button type="submit" class="btn btn-prime " style="padding-right: 8px;">
                                  Add
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="submit" class="btn btn-prime "
                                  *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamConceptKeypointId"
                                  (click)="cancel()">
                                  Cancel
                                </button>
                              </div>
                            </div>
                            <div class="text-danger row " *ngIf="conform.submitted && conceptinvalid" style="font-size: 14px;padding-left: 1.5rem;">
                              *Key Suggestion required
                            </div>
                          </form>
                            <!-- the majority have suffered alteration in some form, by injected humour, or randomised words. -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="btn btn-link" (click)="onConceptKeyPointsViewMore()" id="view-more"
                    *ngIf="conceptKeypointList.length > 3">View More</button>
                  <button class="btn btn-link" (click)="onConceptkeyPointsviewless()" style="display: none;"
                    id="view-less">View Less</button> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <!-- <div class="col-1"><img src="assets/image/lakshman.png" alt="user" class="profile-photo-sm rounded" style="width: 3rem"></div> -->
                <div class="col-11">
                  <div style="margin-top: 15px;" title="Add Key Point">
                    <form name="form" #ff="ngForm"
                    (ngSubmit)="AddConceptKeyComments(conceptkeyComments.value,ConceptSharelists.teamConceptLinkId,ConceptSharelists.teamId,ConceptSharelists.teamConceptId, ConceptSharelists,ff)">
                      <div class="row">
                        <div class="col-10">
                          <div class="form-group">
                            <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                            placeholder="Add KeyPoints..." id="conceptkeyComments.value" required #conceptkeyComments
                            name="conceptkeyComments" required ngModel>
                          <div class="alert-danger" *ngIf="ff.submitted && conceptkeyComments.value.invalid">
                            <div *ngIf="conceptkeyComments.value.errors.required "> *Key Comments required </div>
                          </div>
                            <!-- Search form  -->
                          </div>
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
    </div>
	
	 <div *ngFor="let approach of bookmarkteamapproachlist; let i = index" class="col-8 share back">
    <div class="shadow-lg p-3  bg-white rounded">
    <div class="row">
        <div class="col-md-2 col-sm-2 share2" style="width: 863px;margin-left: 15px;">
          <div class="row">
            <div *ngIf="!approach.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>
            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ approach.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{approach.username}}</p>
          </div>
        </div>
        <div class="col-10 share5">
          <a href="{{approach.teamapproachlink}}" target="_blank"
            class="menu_link share6">
            {{approach.teamapproachlink}}
          </a>
        <p class="sharetime pl-3" style="margin-top: -23px;margin-left: 100px;">SharedTime: </p>
        <span class="sharetime pl-1" style="margin-top: -23px;margin-left: 100px;">{{approach.sharedTime}}</span>

        </div>
      </div>
    
      <div class="row">
        <div class="col-1">
          <!-- <mat-icon type="button" class="button3" data-toggle="modal" title="share" data-target="#approachshareModal"
            (click)="showapproachShareModals(approach.teamapproachlinkId,approach.teamId)" ngbtooltip="share">
            share
          </mat-icon> -->
          <div class="modal fade" id="approachshareModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Access Type</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <form name="form" #fshare="ngForm"
                  (ngSubmit)="shareApproach(approach.teamapproachlinkId,approach.teamId, fshare,approach)">
                    <div class="row">
                      <div class="col-2">
                        <label>Access Type</label>
                      </div>
                      <div class="col-5">
                        <select (change)="onchangeapproachAccessTypes($event.target.value)" class="form-control" id="accessType"
                          required>
                          <option>--Select--</option>
                          <option>Public</option>
                          <!-- <option>Private</option> -->
                          <!-- <option>MyChain</option>
                          <option>Everyone</option> -->
                        </select>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary">
                          share
                        </button>
                      </div>
                      <div class="ml-2">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="appclose">
                          close
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="text-danger" style="font-size: 15px;text-align: center;padding-left: 96px;" *ngIf="fshare.submitted && shareapproachlink.accessType==''">
                        *Select accessType
                      </div>
                    </div>
                  </form>
                  <!-- <span *ngIf="isSuccessful">{{sucessmessage}}</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10">
          <mat-icon type="button" class="button3" data-toggle="collapse" data-target="#approachcollapseExample"
            aria-expanded="false" aria-controls="approachcollapseExample" (click)="openapproachtesttoggle(approach,i)"
            title="teamapproachkeypoint">
            comment
          </mat-icon>
          <!-- [matBadge]="approachKeypointList.length" [matBadgeHidden]="approachKeypointList.length==0" -->
          <div class="collapse" id="approachcollapseExample" *ngIf="i==showCollasalIndex">
            <div class="card">
              <div class="pb-2">KeyPoints</div>
              <div class="col-md-12">
                <div *ngFor="let approachKeypoint of approachKeypointLists let id = index"
                  style="margin-left:1rem;width:100%;font-weight:700;font-size:20px;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="border-radius: 15px;background:#e0ece4; margin-top: 6px;"
                        *ngFor="let value of approachKeypoint.values let idval = index">
                        <div class="media">
                          <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ approachKeypoint.name}}" class="rounded-circle" />
                          <div class="media-body" style="padding-left:1em">
                            <div>
                              <h3> {{value.teamapproachkeypoints}}</h3>
                              <div>
                                <a ngbTooltip="Add Suggestion" style="cursor: pointer;color:cornflowerblue;"
                                  *ngIf="!enableEdit || enablecommentindex != value.teamkeypointId"
                                  (click)="enableReplytwt($event, value.teamkeypointId,id)">
                                  <mat-icon style="color:cornflowerblue;"> chat</mat-icon>
                                </a>
                                <a *ngIf="approachkeypointid!=value.teamkeypointId" (click)="openapproachkeysuggestion($event,value.teamkeypointId,idval,id)" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <a *ngIf="approachkeypointid==value.teamkeypointId && showapproach ==id" (click)="closeapproachkeysuggestion()" style="cursor: pointer;color:cornflowerblue;">
                                  <mat-icon ngbTooltip="View Suggestion" style="cursor: pointer;color:cornflowerblue;">
                                    visibility
                                  </mat-icon>
                                </a>
                                <!-- <div class="media mt-1" class="media-body" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==idval"> -->
                                <div class="media mt-1" class="media-body" *ngIf="approachkeypointid==value.teamkeypointId && showapproach ==id">
                                  <div class="card "
                                       style="border-radius: 15px;background: #e0ece4;
                                           padding-left: 2em; margin-top: 6px;padding-top: 3px;
                                           padding-right: 1em;margin-bottom: 8px;"
                                       *ngFor="let teamAprroachKeySuggestion of teamApproachKeySuggestionlist let id= index">
                                    <div class="row mt-3">
                                      <div class="col-3">
                                        <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ teamAprroachKeySuggestion.name}}" />
                                      </div>
                                      <div class="col">
                                        <div class="row">
                                          <div class="col" style="display: flex;justify-content: flex-end;">
                                            <h5>{{teamAprroachKeySuggestion.username}}</h5>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <h3>{{teamAprroachKeySuggestion.teamapproachkeypoints}}</h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <button class="btn btn-link" (click)="onteamApproachKeySuggestionViewMore()"
                                    id="view-more" *ngIf="teamApproachKeySuggestionlist.length > 3">View More</button>
                                  <button class="btn btn-link" (click)="onteamApproachKeySuggestionviewless()"
                                    style="display: none;" id="view-less">View Less</button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <h5 style="color: #3f51b5;font-size: small; 
                              font-weight: 600;padding-top: 4px;padding-left:15px;margin-bottom:0px;">
                            {{value.username}}
                          </h5>
                        </div>
                        <div class="media mt-3">
                          <a class="pr-3" href="#" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId">
                          <img class="rounded-circle" src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ retrievedImage}}"/></a>
                          <div class="media-body">
                            <form name="form" #appform="ngForm" (ngSubmit)="ApproachComment(value.teamkeypointId,value.teamapproachlinkId,approachKeypoint.keySuggestion,approach.teamId,appform)">
                            <div class="row">
                              <div class="col-7">
                                <input *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId"
                                  id="keySuggestion" name="keySuggestion" style="border:1px solid #3f51b5;"
                                  #keySuggestion="ngModel" class="form-control" type="text"
                                  [(ngModel)]="approachKeypoint.keySuggestion" ngModel/>
                              </div>
                              <div class="col-2" *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId">
                                <button type="submit" class="btn btn-prime " style="padding-right: 8px;">
                                  Add
                                </button>
                              </div>
                              <div class="col-2">
                                <button type="submit" class="btn btn-prime "
                                  *ngIf="enableEdit && enableEditIndex == id && enablecommentindex==value.teamkeypointId"
                                  (click)="cancel()">
                                  Cancel
                                </button>
                              </div>
                            </div>
                            <div class="text-danger row " *ngIf="appform.submitted && approachinvalid" style="font-size: 14px;padding-left: 1.5rem;">
                              *Key Suggestion required
                            </div>
                          </form>
                            <!-- the majority have suffered alteration in some form, by injected humour, or randomised words. -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="btn btn-link" (click)="onApproachKeyPointsViewMore()" id="view-more"
                    *ngIf="approachKeypointList.length > 3">View More</button>
                  <button class="btn btn-link" (click)="onApproachkeyPointsviewless()" style="display: none;"
                    id="view-less">View Less</button> -->
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <!-- <div class="col-1"><img src="assets/image/lakshman.png" alt="user" class="profile-photo-sm rounded" style="width: 3rem"></div> -->
                <div class="col-11">
                  <div style="margin-top: 15px;" title="Add Key Point">
                    <form name="form" #ff="ngForm"
                    (ngSubmit)="AddApproachKeyComments(approachkeyComments.value,approach.teamapproachlinkId,approach.teamId,approach.teamapproachId, approach,ff)">
                      <div class="row">
                        <div class="col-10">
                          <div class="form-group">
                            <input type="text" class="form-control" style="border: 2px solid #3f51b5"
                            placeholder="Add KeyPoints..." id="approachkeyComments.value" required #approachkeyComments
                            name="approachkeyComments" required ngModel>
                          <div class="alert-danger" *ngIf="ff.submitted && approachkeyComments.value.invalid">
                            <div *ngIf="approachkeyComments.value.errors.required "> *Key Comments required </div>
                          </div>
                            <!-- Search form  -->
                          </div>
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-prime" [disabled]=!ff.form.valid>Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </a> -->
        </div>
      </div>
      </div>
    </div> 

    



    <!-- <div>
      <h1>TeamShare Names</h1>
    </div> -->
    <div *ngFor="let goalshare of sharegoallist; let i = index" class="col-8 share">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2">
          <div class="row">
            <div *ngIf="!goalshare.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>

            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ goalshare.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{goalshare.username}}</p>
          </div>
        </div>
        <div class="col-10 share5 form-row">
          <div class="col-md-7 mb-7">
            <!-- <h2>Goal Name :</h2> -->
            <label for="validationDefault01">Goal:</label>
            <label for="validationDefault01">{{goalshare.teamgoalName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault01">Steps:</label>
            <br />
            <label for="validationDefault01">{{goalshare.teamstepName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault02">Skills:</label>
            <br />
            <label for="validationDefault01">{{goalshare.teamskillName}}</label>
          </div>

        </div>
        <div class="row">
          <p class="sharetime pl-3">SharedTime: </p><span class="sharetime pl-1">{{goalshare.sharedTime}}</span>
        </div>
      </div>
    </div>
    <div *ngFor="let topicshare of sharetopiclist; let i = index" class="col-8 share">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2">
          <div class="row">
            <div *ngIf="!topicshare.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>

            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ topicshare.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{topicshare.username}}</p>
          </div>
        </div>
        <div class="col-10 share5 form-row">
          <div class="col-md-7 mb-7">
            <!-- <h2>Goal Name :</h2> -->
            <label for="validationDefault01">Topic:</label>
            <label for="validationDefault01">{{topicshare.teamTopicName}}</label>
          </div>
          <div class="col-md-6 mb-6">
            <label for="validationDefault01">Concepts:</label>
            <br />
            <label for="validationDefault01">{{topicshare.teamConceptName}}</label>
          </div>

        </div>
        <div class="row">
          <p class="sharetime pl-3">SharedTime: </p><span class="sharetime pl-1">{{topicshare.sharedTime}}</span>
        </div>
      </div>
    </div>
    <div *ngFor="let challengeshare of sharechallengelist; let i = index" class="col-8 share">
      <div class="row">
        <div class="col-md-2 col-sm-2 share2">
          <div class="row">
            <div *ngIf="!challengeshare.name; else block">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="logo" width="50" height="50"
                class="profile-photo-sm rounded-circle">
            </div>

            <ng-template #block>
              <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ challengeshare.name}}" alt="logo" width="50"
                height="50" class="profile-photo-sm rounded-circle ">
            </ng-template>
          </div>
          <div class="row  text-capitalize">
            <p class="share4">{{challengeshare.username}}</p>
          </div>
        </div>
        <div class="col-10 share5 form-row">
          <div class="col-md-7 mb-7">
            <!-- <h2>Goal Name :</h2> -->
            <label for="validationDefault01">Challenge:</label>
            <label for="validationDefault01">{{challengeshare.teamchallengeName}}</label>
          </div>

          <div class="col-md-6 mb-6">

            <label for="validationDefault01">Solution:</label>
            <br />

            <label for="validationDefault01">{{challengeshare.teamsolutionName}}</label>
          </div>

          <div class="col-md-6 mb-6">
            <label for="validationDefault02">Approach:</label>
            <br />
            <label for="validationDefault01">{{challengeshare.teamapproachName}}</label>
          </div>

        </div>
        <div class="row">
          <p class="sharetime pl-3">SharedTime: </p><span class="sharetime pl-1">{{challengeshare.sharedTime}}</span>
        </div>


      </div>
    </div>
  </div>












    <div *ngFor="let concept of conceptlist; let id=index" class="list-group col-8 share">
      <div class="row">
        <div class="col-md-2 col-sm-2" style="padding-top: 2px;padding-left:15px;">
          <div class="row">
            <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ concept.name}}" alt="user"
              style="width:60px;height:40px;padding-left:15px;" class="profile-photo-lg">
          </div>
          <div class="row  text-capitalize">
            <p
              style="color: #3f51b5;font-size: small; font-weight: 600;padding-top: 4px;padding-left:15px;margin-bottom:0px;">
              {{concept.username}}</p>
          </div>
        </div>
        <div class="col-10" style="padding-top: 2px;word-break:break-all;padding-right: 20px;">
          <a href="{{concept.teambookmarklink}}" target="_blank" class="menu_link"
            style="font-size: medium; font-weight: 600;">{{concept.teambookmarklink}}</a>
        </div>
      </div>


      <div class="row">
        <p class="sharetime pl-3">SharedTime: </p><span class="sharetime pl-1">{{concept.sharedTime}}</span>
        <!-- <small>{{bookmarks.sharedTime}}</small> -->

      </div>


      <!-- <div class="d-flex w-80 justify-content-between" style="padding-top: 8px;padding-right: 7px;">
              <p style="font-size: small;font-weight: 600;float: left;">SharedTime: </p>
              <small>{{teamSharelists.sharedTime}}</small>
            </div>   -->


    </div>

    <div class="row mt-1">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 pl-0 text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>