<div style="text-align: center;margin-top: 30px;">
    <h1>My Profile</h1>
</div>
<div class="container12"style="text-align:center; ">
    <div class="row"> 
        <div class="col-md-4 border-right" style="
        background-color: #8188d194;color:#1c29bd"  >     
            <div class="container row">          
              <!-- <div class="col-md-7"> -->
              <!-- <div *ngIf= showimage>
                <img src="assets/image/avatar.png" class="profile-photo-lg rounded-circle" alt="avatar"style="margin:20px;width:120px;"> -->
                <!-- <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload"> -->
            <!-- </div>
                 -->
                 <div class="user-image" style="text-align: center;">
                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png"  alt="User-Profile-Image">
                    <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ user.name}}"  class="img-radius img.profile-photo-lg" alt="user" > -->

                    <div *ngIf="!userretrievedImage; else block">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"   class="profile-photo-lg rounded-circle"
                      style="margin-left:50px;margin-top:20px;margin-bottom:20px ;width:180px;height:165px">
                    </div>
                    
                    <ng-template #block>
                      <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ userretrievedImage}}" 
                      alt="user"   class="profile-photo-lg rounded-circle"
                      style="margin-left:50px;margin-top:20px;margin-bottom:20px ;width:180px;height:165px">
                    </ng-template>
                </div>

                  <!-- <div >
                    <img src="{{'https://linkroster-userimage.s3.amazonaws.com/'+ userretrievedImage}}" 
                    class="profile-photo-lg rounded-circle "style="margin-left:50px;margin-top:20px;margin-bottom:20px ;width:180px;height:165px"
                    default="../assets/img/user.png"
                    >
                    <!-- <img [src]="retrievedImage" class="profile-photo-lg rounded-circle "style="margin:10px;width:180px;height:165px"> -->
                  <!-- </div> -->
              <!-- </div> -->
            </div>
     
           <form *ngFor="let listed of profilelist let id = index">
            <div  style="margin-left: -53px;">
                <h1> {{ listed.username }}</h1>
                <p class="title">Developer</p>
               
             </div>
            </form>
       
            <!-- <div class="container row" style="padding-top:10px">
              <div class="col-md-12">
                  <input type="file" (change)="onFileChanged($event)" >
          
              </div>
          </div>
        <div style="text-align: center;padding: 8px;font-size: 15px;margin-bottom: 20px;">
          <!-- <input type="button" (click)="onUpload()" value="upload"> -->
          <!-- <input type="button" (click)="onUpdate()" value="update"> -->
       <!--     </div>
          <!-- <div style="text-align: center;padding-top: 10px;font-size: 15px;">
              <input type="button" (click)="onUpdate()" value="update">
              </div> -->
              <!-- <div class="container row">
              <div class="col-md-12">
                  <input type="button" (click)="onUpload()" value="upload"> -->
              <!-- </div> -->
          <!-- </div>
          </div> -->
     
        </div>   
     
          
        <div class="col-md-6 border-right" style="background-color: #a8b5e9cf;color:#1c29bd">
            <form *ngFor="let list of profilelist let id = index" style="text-align: left;">
            <div class="p-3 py-2"><br>
                <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="text-right">My Profile</h2>
                </div> -->
                <div class="row mt-3" >
                    <div class="col-md-12"><h4>Name : {{ list.username }}</h4></div>
                    <!-- <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div> -->
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><h4>PhoneNumber: {{ list.phoneNumber }}</h4></div>
                    
                </div> 
                <div class="row mt-3">
                    <div class="col-md-12"><h4>Email ID :  {{ list.email}} </h4></div>
                    
                </div>
               
                <button type="button" class="btn btn-primary" routerLink="/edit-profile/:id">Edit Profile</button>
                <a [routerLink]="'/changePassword'" class="btn btn-link " >Change Password</a>
            </div> </form>
        </div>
   
        <!-- <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div> -->
  
    </div>
    
  </div>


