<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-lg-3">
      <div style="background-color: #2B76CE;">
        <div style="padding: 20px;">
          <h3 class="text-white text-center font-weight-bold">TOTAL BOOKMARKS </h3>
          <h1 class="text-white text-center font-weight-bold">{{bookmarkCount}} </h1>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div style="background-color: #FFAA16;">
        <div style="padding: 20px;">
          <h3 class="text-white text-center font-weight-bold">TOTAL CHALLENGE</h3>
          <h1 class="text-white text-center font-weight-bold"> {{challengeCount}}</h1>
        </div>
      </div>

    </div>
    <div class="col-lg-3">
      <div style="background-color: #673BB6;">
        <div style="padding: 20px;">
          <h3 class="text-white text-center font-weight-bold">TOTAL GOALS</h3>
          <h1 class="text-white text-center font-weight-bold"> {{goalCount}}</h1>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div style="background-color: #FE1616;">
        <div>
          <div style="padding: 20px;">
            <h3 class="text-white text-center font-weight-bold">TOTAL LEARN-MANAGER</h3>
            <h1 class="text-white text-center font-weight-bold"> {{learnCount}}</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="conatiner-fluid mt-5">
  <div class="d-flex justify-content-between">
    <h1>Recent Bookmark</h1>
    <button (click)="go()" class="btn btn-primary">See All<i class="fas fa-arrow-right"></i></button>
  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-3 col-3" *ngFor="let item of bookmarklinklist">
      <div class="card" style="width: 15rem; height: 150px;background-color:#39a6a3;">
        <div class="card-body">
          <a class="text-dark" href="{{item.link}}">{{item.link}}</a>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="bookmarklinkcount==0">
      <div class="card" >
        <div class="card-body" style="font-size: 18px;">
          No bookmark
        </div>
      </div>
    </div>
  </div>
</div>