
html, body { height: 100%; }
body { margin: 0; 
    background-color:white!important ;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-drawer:not(.mat-drawer-side){
    box-shadow: none;
}

.mat-sidenav {
    float: left;
    margin-right: 40px;
    

}
.mat-nav-list {
    padding:0px;
    background-color:blue;
    height:1000px;
    /* width: 250px; */
    /* box-shadow:2px 2px 4px 0px #666666; */
    
    
}
.mat-nav-list .mat-list-item:hover{
background-color:black !important;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    color:white;
    font-family: 'Dosis', sans-serif;
    /* font-weight: 600; */
    font-size:17px;
}

.list-group-item.active{
    width:80%;
    float: left;
}
.logo{
    margin-right:10px ;
}
.mat-icon{
    margin-right: 8px;
}
a.mat-list-item.mat-focus-indicator{
    text-decoration: none;
}
/* .btn-primary{
    background-color: #3f51b5!important;
    border: 1px solid #07689f!important;
} */
/* .table td, .table th {
    border-top: 1px solid #a2d5f2!important;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #a2d5f2!important;
} */
/* button.btn.btn-view.btn-sm {
    background: #fe7171!important;
    border: 1px solid #fe7171!important;
    color: #fff;
} */
/* button.btn.btn-edit.btn-sm {
    background: #f0a500!important;
    border: 1px solid #f0a500!important;
    color: #fff;
} */

/* #bookmarklink .table td, .table th {
    border-top: 1px solid #ecd4cc!important;
} */
/* #bookmarklink .table td, .table th {
    border-top: 1px solid #ecd4cc!important;
} */

