<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-sm" *ngIf="!isLoggedIn">
  <div class="row">
    <div class="col-8"> <br>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/image/lrhd1.jpg" alt="First slide" height="500px">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/image/lrhd2.png" alt="Second slide" height="500px">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/image/lrhd3.png" alt="Third slide" height="500px">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-container">
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
          [formGroup]="loginForm" novalidate>
          <div class="form-group">
            <label for="email">EmailID</label>
            <input type="text" class="form-control" name="email" formControlName="email" [(ngModel)]="form.email"
              required />
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required
              </div>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <span>Invalid email address</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" formControlName="password"
              [(ngModel)]="form.password" required minlength="6" />
            <div class="alert-danger"
              *ngIf="(f.submitted && password.invalid ) || (password.touched && password.invalid)">
              <div *ngIf="password.errors.required">Password is required</div>
              <!-- <div  *ngIf="password.invalid && (password.dirty || password.touched)">
                        <span>Not accepted!!(require one special character)</span>
                      </div> -->
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">

            <button class="btn btn-primary btn-block">
              Login
            </button>
            <div>


              <a [routerLink]="'/request-reset'" class="btn btn-link float-left">Forgot password</a>

              <a [routerLink]="'/register'" class="btn btn-link float-right">Sign Up </a>

            </div>

          </div>

        </form>
        <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
          Login failed: {{ errorMessage }}
          <!-- Invalid username/password -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <h2 class="font-weight-bold">Linkroster is a social networking application where people can learn and share their
    perspective,
    imagination and brainstorm through bookmark, achieving a goal, overcoming a challenge or learning a topic you can
    learn as an individual or as a team.</h2>


  <div class="text-center">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
  </div>
</div>


<p *ngIf="isLoggedIn">

  <app-dashboard></app-dashboard>
</p>