<!DOCTYPE html>
<html>

<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div class="teambookmark">
    <h2>Team Learn </h2>
  </div>
  <div class="row teamname shadow-lg bg-white rounded">
    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
      <label>
        <h2 class="pt-4">Team Name </h2>
      </label>
    </div>
    <div class="col-10 col-sm-10 col-md-6 col-lg-4 col-xl-4 pt-3" style="cursor: pointer;">
      <select (change)="onchange($event.target.value)" name="teamName" formControlName="teamName"
        class="form-control bookmarkname" id="teamName">
        <option [ngValue]="undefined" disabled selected>Select Item</option>
        <option class='form-control' *ngFor='let teams of teamlist' [value]="teams.teamId">
          {{teams.teamname}}</option>
      </select>
    </div>
    <div class="col-2 col-sm-2 col-md-6 col-lg-6 col-xl-6 pt-4">
      <a placement="top" ngbTooltip="Invite Team Member" style="width:20px;cursor: pointer;"
        (click)="AddInviteToTeam()"><i class="material-icons text-dark">person_add</i></a>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div *ngIf="isSubmitted " class="alert alert-danger text-center" role="alert">
        *Please Select Team Name
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2 class="pl-3">Add Topic</h2>
        <form name="form" #f="ngForm" (ngSubmit)='f.form.valid && team.teamName!=="" && AddTopics(f)'>
          <input type="text" class="form-control goalname" id="teamTopicName" #teamTopicName="ngModel" required
            [(ngModel)]="teamtopic.teamTopicName" placeholder="Enter Topic Name" name="teamTopicName">
          <div *ngIf="!isSuccessful && f.submitted" class="alert-danger">
            {{errorMessage}}
          </div>
          <div class="alert-danger" *ngIf="f.submitted">
            <div *ngIf="f.submitted && (teamTopicName.invalid ||teamTopicName.errors)">
              *Topic required
            </div>
            <div class="alert-danger" *ngIf='team.teamName===""'>
              *Select a Team
            </div>
          </div>
          <textarea class="form-control mt-2 description" id="description" #description="ngModel"
            placeholder="Enter Description" [(ngModel)]="teamtopic.description" name="description"></textarea>
          <!-- <div class="alert-danger" *ngIf="f.submitted && description.invalid">
            <div *ngIf="f.submitted && description.errors">
              *Description required
            </div>
          </div> -->
          <div class="mt-3 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-add pl-2 pr-2 std m-2">Add</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7"></div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pt-2">
            <h2><span class="text-left goal-cat">Topics</span></h2>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
            <div class="form-group">
              <input type="text" class="form-control" required (keyup)="changetestValue($event)"
                placeholder="Search Topics" name="teamTopicName">
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover ">
            <tbody>
              <tr *ngFor="let topics of topiclist | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;"
                id="tr_row" [class.highlighted]="topics.teamId === topicNameselectedId">
                <td class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="cursor:pointer"
                  (click)="getTopicid(topics,i)">
                  <a class="text" style="color:#3f51b5;" ngbTooltip="{{topics.description}}"
                    [class.hide]="enableEdit && enableEditIndex == i">
                    {{topics.teamTopicName}} </a>
                  <input class="form-control" id="teamTopicName" name="teamTopicName" #teamTopicName="ngModel"
                    *ngIf="enableEdit && enableEditIndex == i" type="text" [(ngModel)]="topics.teamTopicName" />
                  <div class="alert-danger"
                    *ngIf="!isSuccessful && teamTopicName.errors && enableEdit && enableEditIndex == i">
                    *Topic required || topic already exists
                  </div>
                </td>
                <td>
                  <button *ngIf="enableEdit && enableEditIndex == i" class="action-button right" id="saveBtn"
                    class="btn action-button std" title="Save"
                    (click)="editTopic(topics.teamTopicId,topics.teamTopicName)" type="submit">
                    Save
                  </button>
                  <div [class.hide]="enableEdit && enableEditIndex == i" ngbTooltip="Edit"
                    (click)="enableEditMethod(topics, i)" class="btn-3">
                    <span class="oi oi-pencil" style="cursor: pointer;"></span>
                  </div>
                </td>
                <!-- <td>
                  <div data-toggle="modal" data-target="#shareModal"
                    style="font-size: 16px;cursor: pointer;color: #c137b7" (click)="showLearnShareModal(topics)">
                    <span> <i class="fa fa-share-alt" aria-hidden="true" ngbTooltip="Share"></i></span>
                  </div>
                  <div class="modal fade" id="shareModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select Access
                            Type</h4>
                          <button type="button" class="close" style="color: brown;" data-dismiss="modal"
                            (click)="hide()">&times;</button>
                        </div>
                        <div class="modal-body">
                          <form name="form" #fshare="ngForm" (ngSubmit)="shareTopicName(teamTopicId)">
                            <div class="row">
                              <div class="col-4">
                                <label>Access Type</label>
                              </div>
                              <div class="col-5">
                                <select (change)="onchangeLearnAccessType($event.target.value)" class="form-control"
                                  id="accessType" required>
                                  <option>--Select--</option>
                                  <option>Private</option>
                                  <option>Public</option>
                                  <option>MyChain</option>
                                </select>
                              </div>
                            </div>
                          </form>
                          <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" data-dismiss="modal" class="btn std"
                            (click)="shareTopicName(teamTopicId)" [disabled]=!fshare.form.valid>share</button>
                          <button type="button" class="btn std" data-dismiss="modal" (click)="hide()">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td> -->
                <td class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                  <div type="button" class="btn btn-sm" ngbTooltip="delete" data-toggle="modal"
                    data-target="#mydelTopicModal" (click)="showdelTopicModal(topics)" class="btn-3">
                    <span class="oi oi-trash"></span>
                  </div>
                  <div class="modal fade" id="mydelTopicModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          Are you sure want to delete the link?
                          <button (click)="deleteTopic()" class="btn std m-2" data-dismiss="modal">Ok</button>
                          <button type="button" class="btn std m-2" data-dismiss="modal"
                            (click)="hideModal()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="topiclist?.length===0">
                <div class="alert-danger" style="display:flex;flex-direction:row;justify-content:center;"> No Data Found
                </div>

              </tr>
            </tbody>
          </table>
          <div class="col-12 fright">
            <pagination-controls (pageChange)="p = $event" class="float-right mr-3"></pagination-controls>
          </div>
        </div>
      </div>
    </div>





    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-12">
            <h2 class="goal-cat">{{topicNameselected}}</h2>
          </div>
        </div>
        <div class="row text-center mb-4"  *ngIf="!topiclist?.length">
          <div class="alert-danger mt-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto text-center">
            No Data Found
          </div>
        </div>
        <div *ngIf="topiclist.length>0">
          <form name="form" #fl="ngForm" (ngSubmit)="fl.form.valid && AddConcept(fl)">
            <div class="row mt-2">
              <div class="col-9">
                <div class="form-group">
                  <input type="text" class="form-control" #teamConceptName="ngModel" id="teamConceptName"
                    placeholder="Enter Concept" required [(ngModel)]="concept.teamConceptName" name="teamConceptName">
                  <div *ngIf="fl.submitted && !conceptisSuccessful" class="alert-danger">
                    {{topicerrorMessage}}
                  </div>
                  <div class="alert-danger" *ngIf="fl.submitted && teamConceptName.invalid">
                    <div *ngIf="teamConceptName.errors.required ">
                      *concept required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <button class="btn btn-add std" type="submit">Add</button>
              </div>
            </div>
          </form>
        </div>
        <div class="row" *ngIf="topiclist.length>0">
          <div class="col-10">
            <div class="card border-0">
              <div *ngFor="let concepts of conceptlist let id = index"
                style="margin-bottom: 10px;background-color:white;box-shadow:2px 2px 4px 0px #66666673;">
                <div class="col-12" style="padding:10px ;border:1px solid #86b2fb">
                  <div class="col-12 d-flex justify-content-between">
                    <div>
                    <a *ngIf="!enableconceptEdit || currentconceptid != concepts.teamConceptId" (keyup)="changeValue(id, 'teamConceptName', $event)" style="color:#3f51b5">
                      {{concepts.teamConceptName}}
                    </a>
                    <input class="form-control" id="conceptName" name="conceptName"
                    *ngIf="enableconceptEdit && enableconceptEditIndex == id" type="text"
                    [(ngModel)]="currentconceptname" />
                  </div>
                    <div class="align-self-center">
                      <button class="btn-3 btn-10 btn"
                        *ngIf="!enableconceptEdit || currentconceptid != concepts.teamConceptId" title="Edit"
                        style="color: #FFF;background-color: #509ef1;"
                        (click)="enableconceptEditMethod(concepts, id)">
                        <span class="oi oi-pencil"></span>
                      </button>
                      <button *ngIf="enableconceptEdit && enableconceptEditIndex == id" id="saveBtn" style="color: #FFF;background-color: #509ef1;border: 2px solid #e7e7e7;
                      border-radius: 25px;
                      padding: 1px 11px;" title="Save" class="btn"
                        (click)="editConcept(currentconceptid,currentconceptname)" type="submit">Save</button>
                      <button  (click)="showdelConceptModal(concepts)" type="button" class="btn-3 btn-10 btn" style="color:#fff;background-color: #509ef1;"
                        data-toggle="modal" data-target="#mydelConceptModal"
                        >
                        <span class="oi oi-trash"></span></button>
                    </div>
                  </div>
                  <div class="modal fade" id="mydelConceptModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body">
                          Are you sure want to delete the concept?
                          <button (click)="deleteConcept()" data-dismiss="modal" style="background-color:#509ef1"
                            class="btn default-btn ml-3">Yes
                          </button>
                          <button type="button " class="btn default-btn ml-3" (click)="hideModal()"
                            id="close-modal" data-dismiss="modal">No</button>
                          <button type="btn" id="close-modal" data-dismiss="modal"
                            style="display: none;">Close</button>
                        </div>
                      
                      </div>
                    </div>
                  </div>
                  <form name="form" #ff="ngForm"
                    (ngSubmit)="ff.form.valid && AddconceptLink(concepts.teamConceptId,conceptlink.value,id,concepts.teamId)">
                    <div class="row mt-2">
                      <div class="col-9">
                        <div class="form-group">
                          <input type="url" class="form-control" style="border: 2px solid black"
                            placeholder="Enter concept Link" id="conceptlink.value" required #conceptlink
                            name="conceptlink" required ngModel>
                          <!-- <div *ngIf="ff.submitted && !linkisSuccessful" class="alert-danger">
                            {{concepterrorMessage}}
                          </div> -->
                          <!-- <input type="text" class="form-control" style="border: 2px solid #3f51b5" placeholder="Solution Link" 
                          id="teamsteplink" required #teamsteplink="ngModel" [(ngModel)]="solutionlinks.teamsteplink" required name="teamsteplink"> -->

                          <div class="alert-danger" *ngIf="ff.submitted && conceptlink.invalid">
                            <div *ngIf="conceptlink.errors.required">
                              *ConceptLink required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <button type="submit" class="action-button std p-2" [disabled]="!ff.valid">
                          Add
                        </button>
                      </div>
                    </div>
                  </form>

                  <div style="margin-top: 10px;margin-bottom: 10px;border: solid;background-color: #d1d4e6;">
                    <div *ngFor="let conceptlink of concepts.conceptLink let id = index">
                      <div class="col-11"
                        style="font-weight: 50px;margin-left: 10px; margin-bottom: 5px; background-color: white; margin-top: 10px;">
                        <!-- <a (keyup)="changeValue(i, 'teamConceptName', $event)" target="_blank" href="{{conceptlink.teamConceptlink}}" >
                          {{conceptlink.teamConceptlink}}
                        </a> -->
                        <a href="{{conceptlink.teamConceptlink}}" contenteditable="false"
                          target="_blank">{{conceptlink.teamConceptlink}}</a>
                      </div>
                      <div class="card-body" style="padding:5px;background-color:#D1D4E6">
                        <button type="button" class="fa fa-comments icon-bg hw-30" title="Add keypoints"
                          style="color:rgb(255, 255, 255)" data-toggle="modal" href="#myModal" data-target="#myModal"
                          (click)="onSelectKeypoint(conceptlink)" style="color:rgb(255, 255, 255)">
                        </button>
                        <div class="modal fade" id="myModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <form name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                                  && Addconceptkeypoints(conceptlink.teamConceptLinkId,fAddKey)">
                                  <!-- <form name="form" #fAddKey="ngForm" (ngSubmit)="fAddKey.form.valid 
                                  && AddstepKeypoint(steplinks.teamsteplinkId,steplinks.teamstepId)"> -->
                                  <div class="row">
                                    <div class="col-8">
                                      <div class="form-group mb-0">
                                        <input type="text" class="form-control" rows="3" placeholder="Enter Keypoints"
                                          type="text" class="form-control" id="teamConceptKeypoints"
                                          #teamConceptKeypoints="ngModel" required
                                          [(ngModel)]="keypoint.teamConceptKeypoints" name="teamConceptKeypoints">
                                      </div>
                                      <div class="alert-danger"
                                        *ngIf="fAddKey.submitted && teamConceptKeypoints.invalid">
                                        <div *ngIf="teamConceptKeypoints.errors.required ">
                                          *Key points required
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-2 ">
                                      <button type="submit" class="btn action-button std">Add</button>
                                    </div>
                                    <div class="footer">
                                      <button type="button" class="btn std" data-dismiss="modal"
                                        (click)="hide()">Close</button>
                                        <button type="button" id="close-modal" data-dismiss="modal"
                                        style="display: none" (click)="hideModal()">No</button>
                                    </div>
                                   
                                  </div>
                                </form>
                                <div *ngIf="iskeySuccessful" class="alert alert-success mt-3">{{sucessmessage}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button" class="fa fa-share-alt icon-bg hw-30" data-toggle="modal"
                          data-target="#shareconceptModal" title="Share" style="font-size: 16px;"
                          (click)="showconceptShareModal(conceptlink)">
                        </button>
                        <div class="modal fade  " id="shareconceptModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" style="color:black;font-weight: bold;font-size: large;">Select
                                  Access Type</h4>
                                <!-- <button type="button" class="close" style="color: brown;"
                                  data-dismiss="modal" (click) = "hide()">&times;</button> -->
                              </div>
                              <div class="modal-body">
                                <form name="form" #fshare="ngForm" (ngSubmit)="shareteamConcept(teamConceptLinkId,fshare)">
                                  <div class="row">
                                    <div class="col-4">
                                      <label>Access Type</label>
                                    </div>
                                    <div class="col-5">
                                      <select id="accessType" class="form-control"
                                        (change)="onchangeAccessType($event.target.value)" name="select">
                                        <option selected disabled *ngIf="!shareconceptlink.accessType">--Select--</option>
                                        <option>Public</option>
                                      </select>
                                  </div>
                                  </div>
                                  <div class="text-danger mt-2" *ngIf="fshare.submitted && !shareconceptlink.accessType && !isSuccessful">
                                    *Select Access Type</div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn std">share</button>
                                      <button type="button" class="btn std" data-dismiss="modal" id="topicclose"
                                        (click)="hide()">Close</button>
                                    </div>

                                </form>
                              
                              </div>
                             
                            </div>
                          </div>
                        </div>
                        <button type="button" class="fa fa-trash-o icon-bg hw-30" style="font-size: 16px;"
                          data-toggle="modal" data-target="#mydelModal" (click)="showModal(conceptlink)" title="Delete">
                        </button>
                        <div class="modal fade" id="mydelModal">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                Are you sure want to delete the link?
                                <button (click)="deleteconceptlink()" data-dismiss="modal" class="btn std m-2">Yes
                                </button>
                                <button type="button" class="btn std m-2" data-dismiss="modal"
                                  (click)="hideModal()">No</button>
                                <button type="button" id="close-modal" data-dismiss="modal"
                                  style="display: none">No</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button *ngIf="conceptlink.teamConceptLinkId !=showCollasalIndex" type="button" type="button"
                          class="button icon-bg hw-30" placement="top" title="View Comments" style="padding: 2px 7px;"
                          (click)="opencommentstoggle(conceptlink,conceptlink.teamConceptLinkId)" data-toggle="key">
                          >>
                        </button>
                        <button *ngIf="conceptlink.teamConceptLinkId==showCollasalIndex" type="button"
                          class="button icon-bg hw-30" style="padding: 2px 7px;" placement="top" title="Close Comments"
                          (click)="closecommentstoggle(conceptlink,conceptlink.teamConceptLinkId)">
                          << </button>
                            <div *ngIf="conceptlink.teamConceptLinkId ==showCollasalIndex">
                              <div class="card card-body"
                                style="padding:1px;margin:5px;border-radius:20px;background-color:white;">
                                <div class="row">
                                  <div class="col-12">
                                    <tr *ngFor="let keypoint of KeypointList let id = index">
                                      <td class="col-sm-10" style="color:black">
                                        <div class="m-2 rounded">
                                          {{keypoint.teamConceptKeypoints}}
                                        </div>
                                        <hr>
                                      </td>
                                      <td>
                                        <button class="btn " class="button button4" data-toggle="modal"
                                          data-target="#mystepEditKeyPointModal" (click)="showEditKeyModal(keypoint)">
                                          <span class="oi oi-pencil"></span>
                                        </button>
                                        <div class="modal fade" id="mystepEditKeyPointModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <button type="button" class="close" data-dismiss="modal"
                                                (click)="hide()">&times;</button>
                                              <div class="modal-body">
                                                <form name="form" #fEdit="ngForm"
                                                  (ngSubmit)="fEdit.submitted && EditKeypoint(editComment)">
                                                  <div class="row">
                                                    <div class="col-8">
                                                      <div class="form-group">
                                                        <input type="text" class="form-control" rows="3"
                                                          placeholder="Key Comments" type="text" class="form-control"
                                                          id="KeyComments" #KeyComments="ngModel" required
                                                          [(ngModel)]="editComment" name="KeyComments">
                                                      </div>
                                                      <div class="alert-danger"
                                                        *ngIf="fEdit.submitted && KeyComments.invalid">
                                                        <div *ngIf="KeyComments.errors.required ">
                                                          *Key Comments required
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-2">
                                                      <button type="submit" data-dismiss="modal"
                                                        (click)="prevent(editComment)" class="btn std">Add
                                                      </button>
                                                    </div>
                                                  </div>
                                                </form>
                                                <span *ngIf="isSuccessful">{{sucessmessage}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td>
                                        <button type="button" class="btn " class="button button4" data-toggle="modal"
                                          data-target="#mydelKeypointModal" (click)="showdelKeyModal(keypoint)">
                                          <span class="oi oi-trash"></span></button>
                                        <div class="modal fade" id="mydelKeypointModal">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                Are you sure want to delete the key comments?
                                                <button (click)="deleteKeypoint()" data-dismiss="modal"
                                                  class="btn std m-2">Yes
                                                </button>
                                                <button type="button" class="btn std m-2" (click)="hideModal()"
                                                  id="close-modal" data-dismiss="modal">No</button>
                                                <button type="button" class="std" id="close-modal" data-dismiss="modal"
                                                  style="display: none;">Close</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="topiclist.length===0" class="alert-danger"> No topic added</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin-clockwise">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>