<div class="col-md-12">
  <div class="card card-container">
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" [formGroup]="signupForm" #f="ngForm"
      novalidate>
      <div class="form-group">
        <label for="username"> Name</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" formControlName="username"
          required username />

        <div class="text-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors?.required">Username is required</div>

        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" name="email" [(ngModel)]="form.email" required
          email />

        <label class="text-danger"
          *ngIf="(f.submitted && email.errors?.required && !email.value) ||  (email.touched && !email.value)">
          Email is Required!
        </label>
        <label class="text-danger" *ngIf="email.errors?.email">
          Enter a valid email address!
        </label>
      
        <!-- <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div  *ngIf="email.invalid && (email.dirty || phoneNumber.touched)">
                    <span>Invalid email address</span>
                  </div>
                    <div *ngIf="email.errors.email">
                    </div>
                </div> -->
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input type="phoneNumber" name="phoneNumber" [(ngModel)]="form.phoneNumber" formControlName="phoneNumber"
          required minlength="10" class="form-control" id="phoneNumber">

        <label class="text-danger"
          *ngIf="(f.submitted && phoneNumber.errors?.required) ||  (phoneNumber.touched && !phoneNumber.value)">
          PhoneNumber is required!
        </label>
        <label class="text-danger" *ngIf="signupForm.controls['phoneNumber'].errors?.pattern">
          phoneNumber is invalid!
        </label>

        <!-- <div class="alert-danger" *ngIf="f.submitted && phoneNumber.invalid">
                    <div *ngIf="phoneNumber.errors.required ">PhoneNumber is required</div>
                    <div  *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                      <span>phoneNumber is invalid</span>
                    </div>
                    <div *ngIf="phoneNumber.errors.minlength">
                        Phonenumber must be at least 10 numbers
                    </div>
                </div> -->
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" name="password"
          [(ngModel)]="form.password" required minlength="6" />
        <p *ngIf="password.touched || password .value || f.submitted">
          <span
            [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
            Minimum 6 characters. &nbsp;
          </span>
          <span
            [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
            It should have 1 number ,
          </span>
          <span
            [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
            1 Capital Case,
          </span>
          <span
            [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
            1 Small Case,
          </span>
          <span
            [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
            1 Special Character
          </span>
        </p>



        <!-- <label class="col"
          [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ signupForm.controls['password'].hasError('required') ||
            signupForm.controls['password'].hasError('minlength') ? 'cancel' :
            'check_circle' }}</i>
          Must be at least 6 characters!
        </label>
        <label class="col"
          [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ signupForm.controls['password'].hasError('required') ||
            signupForm.controls['password'].hasError('hasNumber') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 number!
        </label>
        <label class="col"
          [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ signupForm.controls['password'].hasError('required') ||
            signupForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 in Capital Case!
        </label>
        <label class="col"
          [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ signupForm.controls['password'].hasError('required') ||
            signupForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 Letter in Small Case!
        </label>
        <label class="col"
          [ngClass]="signupForm.controls['password'].hasError('required') || signupForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ signupForm.controls['password'].hasError('required') ||
            signupForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
            'check_circle' }}</i>
          Must contain at least 1 Special Character!
        </label> -->




        <!-- <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div  *ngIf="password.invalid && (password.dirty || password.touched)">
                      <span>Not accepted!!(require one special character)</span>
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div> -->
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" style="background-color:#3f51b5">Sign Up</button>
      </div>
      

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!
        <br />{{errorMessage}}

      </div>

    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful! A confirmation e-mail has been sent.

    </div>

    <!-- <div *ngIf="isSuccessful">
            <hr>
            <label for="phoneOTPcode">Enter Sms Verification Code for your phone</label>
            <br>
            <input type="text" name="phoneOTPcode" [(ngModel)]="phoneOTPcode" class="form-control">
  
            <button class="button" (click)="verifyOTPCode()">Verify</button>
        </div> -->

    <div class="alert alert-success" *ngIf="isSuccessful && isOTPSuccessful">
      Your phonenumber is valid you can login.
    </div>

  </div>

</div>