

<!DOCTYPE html>
<html>
<head>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.1em;
  text-decoration:none;
  text-decoration-color: #ccc;

}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex:22%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 5px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}


</style>
</head>
<body>

<div class="row">
    <div class="col">
    <h2>
      
    Chain User List</h2>
    
      <!-- <ul>
         <li *ngFor="let friendlist of friendslist">
          <a  >
            {{friendlist.chainuserid}}</a>
         </li>
       </ul> -->
       <ul>
         <li *ngFor="let userlists of userlist">
          
          <span style="font-weight: bold;font-size:large;font-family: Arial, Helvetica, sans-serif;">Name:</span>
       <a  class="btn" style="color:blue ;" (click)="getbookmarkbyUser(userlists.id)"> 
            
            {{userlists.username}}</a>
            <br/>
           <span style="font-weight: bold;font-size:large; font-family: Arial, Helvetica, sans-serif;">Email Id:</span>
           <span>{{userlists.email}}</span>
            
         </li>
       </ul>
     </div>
     </div>